<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	  			<div class="py-5 text-center">
				  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

				    <h2>Controle da Base</h2><br>
				    <ol class="breadcrumb mb-3" style="padding: 5px"></ol><br>
				    <h4>Comunicação com CLP</h4>

				    <br><br>
		          	<div class="alert alert-danger" id="mensagem" display="none">Aviso: sem comunicação com o CLP.</div>
		          	<div class="row">
		        		<div class="col-md-2 mb-3">
				        	<div class="form-group">
					            <label for="sarr_l_conta" class="col-form-label">TAG SARR_L_Conta</label>
					            <input type="text" class="form-control" id="sarr_l_conta" name="sarr_l_conta" required readonly="readonly">
				       		</div>
				       	</div>
			          	<div class="col-md-2 mb-3">
				          <div class="form-group">
				            <label for="sarr_e_conta" class="col-form-label">TAG SARR_E_Conta</label>
				            <input type="text" class="form-control" id="sarr_e_conta" name="sarr_e_conta" required readonly="readonly">
				          </div>
			          	</div>
		        		<div class="col-md-3 mb-3">
				        	<div class="form-group">
					            <label for="ultima_falha" class="col-form-label">Última falha</label>
					            <input type="text" class="form-control" id="ultima_falha" name="ultima_falha" required readonly="readonly">
				       		</div>
				       	</div>
			          	<div class="col-md-3 mb-3">
				          <div class="form-group">
				            <label for="tempo_falha" class="col-form-label">Tempo de falha (s)</label>
				            <input type="text" class="form-control" id="tempo_falha" name="tempo_falha" required readonly="readonly">
				          </div>
			          	</div>
			          	<div class="col-md-2 mb-3">
				          <div class="form-group">
				            <label for="tempo_timeout" class="col-form-label">Timeout (s)</label>
				            <input type="text" class="form-control" id="tempo_timeout" name="tempo_timeout" onclick="alterar_timeout();" required>
				          </div>
			          	</div>			          	
		          	</div>
		          	<br>
					<ol class="breadcrumb mb-3" style="padding: 5px"></ol><br>
				    <h4>Controle pelo CLP</h4><br> 
				    <button class="btn btn-primary" onclick="modal_abrir_porta()" type="button">Controlar Porta</button>
				    <button class="btn btn-primary" onclick="modal_abrir_portao()" type="button">Controlar Portão</button>
				    <br><br><br><br>

				    <ol class="breadcrumb mb-3" style="padding: 5px"></ol><br>
				    <h4>Registro de falhas de comunicação com o CLP</h4><br>
	  				<div class="row">
		                <div class="col-lg-12">
		                    <div class="panel panel-default">
		                        <div class="panel-body">
			                        <table id="example" class="display" style="width:100%">
			                            <thead>
			                                <tr>
												<th>Contagem</th>
												<th>Tempo de falha (s)</th>
												<th>Momento da falha</th>
			                                </tr>
			                            </thead>
			                        </table>
		                        </div>
		                    </div>
		                </div>
		            </div>
					<footer class="my-5 pt-5 text-muted text-center text-small">
					    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
					</footer>
				</div>
			</main>
  		</div>
  	</div>

    <!-- Modal -->
    <div class="modal fade" id="modal_abrir_porta" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Abrir porta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="return false;" class="needs-validation" id="abrePorta" action="" method="post" novalidate>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <label class="float-left">Tem certeza que deseja abrir a porta?</label>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="abrir_porta()">Sim</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_abrir_portao" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Controlar portão</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="return false;" class="needs-validation" id="abrePortao" action="" method="post" novalidate>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <label class="float-left">Tem certeza que deseja enviar comando para o portão?</label>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="abrir_portao()">Sim</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_alterar_timeout" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Timeout de falha</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="definir_timeout();" id="timeout">
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <label class="float-left">Definir valor do timeout de falha (s):</label>
                            <input type="number" class="form-control" id="alterar_timeout" name="alterar_timeout" autocomplete="off" required>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Alterar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

	<script type="text/javascript">
		$('#mensagem').hide();

		// Atualizar valores do life counter para avisar perda de comunicação
		setInterval(function(){ confere_lifecouter(); }, 1000);

		// Atualizar valores das tags do CLP
		setInterval(function(){ monitorar_tags(); }, 5000);

		var sarr_l_conta;
		var sarr_e_conta;
		var pm_0;
		var pm_1;
		var pm_2;
		var pm_3;
		var pm_4;
		var pm_5;
		var pm_6;
		var pm_7;
		var pm_8;
		var pm_9;
		var pm_10;
		var pm_11;
		var pm_12;
		var pm_13;
		var pm_14;
		var pm_15;

		// Atualizar tags do CLP mostradas na página
		function monitorar_tags(){
			$.ajax({
	            type: 'post',
	            url: "/base_leitura",
	            async: true,
	            success: function (response) {
	                vetor = response.split(',');

					sarr_l_conta = vetor[1];
					sarr_e_conta = vetor[4];
					sarr_timer_comunica = vetor[54]

	                $('#sarr_l_conta').val(sarr_l_conta);
	                $('#sarr_e_conta').val(sarr_e_conta);
	                $('#tempo_timeout').val(sarr_timer_comunica.replace(/[^\d]+/g,'')/1000);
	            }
	        });

			$.ajax({
	            type: 'get',
	            url: "/registro_comunicacao_clp",
	            async: true,
	            success: function (response) {
	            	tempo_falha = response[0]['tempo_falha'].toString().replace(".", ",");
	            	momento_falha = response[0]['momento_falha'];

	                $('#ultima_falha').val(momento_falha);
	                $('#tempo_falha').val(tempo_falha);	                
	            }
	        });	              
		}

		// Chama modal para abrir porta
		function modal_abrir_porta(){
			$('#modal_abrir_porta').modal('show');
		}

		// Abre porta da recepção
		function abrir_porta(){
			//alert('abrindo')
			$.ajax({
	            type: 'post',
	            url: "/abre_porta_base",
	            async: true,
	            success: function (response) {
	                //alert('response = '+response) 
	            }
	        });	
		}

		// Chama modal para abrir portão
		function modal_abrir_portao(){
			$('#modal_abrir_portao').modal('show');
		}

		// Abre portão externo
		function abrir_portao(){
			//alert('abrindo')
			$.ajax({
	            type: 'post',
	            url: "/abre_portao_base",
	            async: true,
	            success: function (response) {
	                //alert('response = '+response) 
	            }
	        });	
		}

		// Confere life counter e dá aviso de perda de comunicação
		function confere_lifecouter(){
			$.ajax({
	            type: 'post',
	            url: "/confere_lifecouter",
	            async: true,
	            success: function (response) {
	                var tag = response.split(',');
	                tag = tag[0];

	                if(tag == 'SARR_L_Conta'){
	                	$('#mensagem').hide();
	                }
	                else{
	                	$('#mensagem').show();	
	                }
	            }
	        });			
		}

		// Alteração da tag timeout de falha de comunicação com o CLP
		function alterar_timeout(){
			$('#modal_alterar_timeout').modal('show');
		}

		// Chama arquivo para alteração de timeout de falha no CLP
		function definir_timeout(){
			tempo_timeout = $('#alterar_timeout').val();

			$.ajax({
	            type: 'post',
	            url: "/definir_timeout",
	            data: {tempo_timeout: tempo_timeout},
	            async: false,
	            success: function (response) {

	            }
	        });
		}
	</script>

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_power_monitor_base').load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {

		monitorar_tags();

    	var today = new Date();
    	
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var fim = dd + '/' + mm + '/' + yyyy;

		today.setDate(today.getDate()-31);
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var ini = dd + '/' + mm + '/' + yyyy;

    	// Setup - add a text input to each footer cell
	    $('#example thead tr').clone(true).appendTo( '#example thead' );
	    $('#example thead tr:eq(1) th').each( function (i) {
	        var title = $(this).text();
	        $(this).html( '<input type="text" style="width: 100%" placeholder="Filtrar"/>' );
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        });
	    });

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_comunicacao_clp',
	        dataSrc: '',
		    },
		    "columnDefs":[{
		    	"targets":0,
		    	"visivle": false
		    }],
	        "columns": [
	            { "data": "contagem", "width": "15%" },
	        	{ "data": "tempo_falha" },
	        	{ "data": "momento_falha" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"top"B><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                { extend: 'copy', text: 'Copiar' }, 'csv', 'excel', { extend: 'print', text: 'Imprimir' }
            ]
        } );

        var table = $('#example').DataTable();
    } );

    </script>


	<%- include('layouts/end_scripts') -%>
<%- include('components/daterange.ejs') -%>
			
</body>

</html>