<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

<head>
	<title>Bar Chart</title>
	<script async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>


</head>

<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_compras').load()
        table.ajax.reload();
		}
    </script>

	<script type="text/javascript" class="init">

	var id;
	var status_compra;
	var status_comercial;

    $(document).ready(function() {
    	var url = "/registro_compras";
    	
/*
    	$.getJSON(url, function (data) {
	        $.each(data, function (index, value) {
	            // APPEND OR INSERT DATA TO SELECT ELEMENT.
	            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
	            });
        });*/

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_compras',
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "id" },
	            { "data": "status" },
	        	{ "data": "cc" },
	        	{ "data": "solicitante" },
	            { "data": "area" },
	            { "data": "observacoes_comprador" },
	            { "data": "prazo_entrega" },
	            { "data": "aprovacao_com" },
	            { "data": "aprovacao_tec" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"left">t<"bottom"rlpi>'/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );
        	        
        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
	        var data = table.row( this ).data();

	        $('#modal_alterar').modal("show");

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#modal_alterar")
	        $("#modal_alterar").find('#recipient-id-modal2').val(data["id"])
	        $("#modal_alterar").find('#recipient-solicitante-modal2').val(data["solicitante"])
	        $("#modal_alterar").find('#recipient-quantidade-modal12').val(data["quantidade"])
	        $("#modal_alterar").find('#recipient-cc-modal2').val(data["cc"])
	        $("#modal_alterar").find('#recipient-status-modal2').val(data["status"])
	        $("#modal_alterar").find('#recipient-area-modal2').val(data["area"])
	        $("#modal_alterar").find('#recipient-justificativa-modal2').val(data["justificativa"])
	        $("#modal_alterar").find('#recipient-observacoes_comprador-modal2').val(data["observacoes_comprador"])
	        $("#modal_alterar").find('#recipient-observacoes_fornecedores-modal2').val(data["observacoes_fornecedores"])
	        $("#modal_alterar").find('#recipient-prazo_entrega-modal2').val(data["prazo_entrega"])
	        
	        id = data["id"];
	        status_compra = data["status"];
	        status_comercial = data["aprovacao_com"];
	        if(status_compra == 'Compra aprovada' || status_comercial == 'Não aprovado' || status_comercial == 'Aprovado')
	        {
	        	$("#compra_realizada").hide();
	        }
	        else
	        {
	        	$("#compra_realizada").show();
	        }

			var material = JSON.parse(data["material"]);
	        var tamanho_material = material.length;
			var especificacoes = JSON.parse(data["especificacoes"]);
			var marca = JSON.parse(data["marca"]);
			var quantidade = JSON.parse(data["quantidade"]);
			var unidades = JSON.parse(data["unidades"]);
			var fornecedores = JSON.parse(data["fornecedores"]);
			var tamanho_fornecedores = fornecedores.length;  
	        var itens = 1;

	        $('#materiais').html("");

	        for(var i = 0; i < tamanho_material; i++)
	        {
				$('#materiais').append(`
					
		        	<div class="row">


		        	</div>

		        	<hr class="mb-4">
				    <h4 class="mb-3">Item `+itens+`</h4>

					<div class="row">
		        		<div class="col-md-5 mb-3">
		        			<label for="material`+itens+`">Material</label>
					            <input type="text" class="form-control" id="recipient-material`+itens+`-modal2" name="material`+itens+`" value="`+material[i]+`" required readonly="readonly">
		        		</div>

		        		<div class="col-md-3 mb-3">
		        			<label for="quantidade`+itens+`">Quantidade</label>
				            <input type="text" class="form-control" id="recipient-quantidade-modal2" name="quantidade`+itens+`" value="`+quantidade[i]+`" required readonly="readonly">
				        </div>
		        		<div class="col-md-4 mb-3">
		        			<label for="marca">Marca</label>
					            <input type="text" class="form-control" id="recipient-marca-modal12" name='marca' value="`+marca[i]+`" required readonly="readonly">
		        		</div>

	        		</div>

	        		<div class="row">
		        		<div class="col-md-6 mb-3">
		        			<label for="especificacoes`+itens+`">Especificações</label>
				            <input type="text" class="form-control" id="recipient-especificacoes-modal2" name="especificacoes`+itens+`" value="`+especificacoes[i]+`" required readonly="readonly">        		
				        </div>
		        		<div class="col-md-6 mb-3">
		        			<label for="unidades`+itens+`">Unidades</label>
				            <input type="text" class="form-control" id="recipient-unidades-modal2" name="unidades`+itens+`" value="`+unidades[i]+`" required readonly="readonly">        		
				        </div>
		        
		        	</div>
				`);
				itens++;
	        }

	        itens = 1;
	        $('#div_fornecedores').html("");
	        for(var i = 0; i < tamanho_fornecedores; i++)
	        {
				$('#div_fornecedores').append(`
	        		<div class="row">
		        		<div class="col-md-12 mb-3">
		        			<label for="fornecedores`+itens+`">Fornecedor `+itens+`</label>
					            <input type="text" class="form-control" id="recipient-fornecedores-modal2" name='fornecedores`+itens+`' value="`+fornecedores[i]+`" required readonly="readonly">
		        		</div>
		        	</div>	
				`);
				itens++;
	        }	        

	        $("#modal_alterar").modal();
        });

    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  				<div class="py-5 text-center">
				  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

				    <h2>Compras</h2>
				    <p class="lead">Consulte os pedidos de compra ou faça um novo pedido no SARR</p>

				    <!-- show any messages that come back with authentication -->
	
				    <div>
				    	<button class="btn btn-primary " data-toggle='modal' data-target='#modal_cadastro' type="button">Solicitar compra</button>
				    	<button class="btn btn-primary " id="botao_graficos" onclick="add_graficos()" type="button">Gerar gráficos</button>
				    </div>

				</div>

				<div class="row" id="add_graficos">
					<div id="graph1" class="col-md-6 mb-3">
						<form id="newgraph1">
							<label for="tabelas">Visualizar dados em gráfico:</label>
							
							<select class="form-control" id="tipo_grafico" name="tipo_grafico">
								<option value="barChart" selected disabled hidden>Escolha o gráfico...</option>
								<option value="barChart">Barras</option>
								<option value="pieChart">Pizza</option>
							</select>

							<select class="form-control"  id="tabelas" name="tabelas">
								<option value="notinhas" selected disabled hidden>Escolha a informação...</option>
								<option value="notinhas">Despesas</option>
								<option value="Deslocamentos">Deslocamentos</option>
							</select>

							<select class="form-control" id="x" name="x">
								<option value="cc" selected disabled hidden>Mostrar por...</option>
								<option value="cc">Centro de Custos</option>
								<option value="data">Data</option>
							</select>

							<select class="form-control" id="y" name="y">
								<option value="soma" selected disabled hidden>Ocorrências...</option>
								<option value="soma">Total</option>
								<option value="conta">Número de ocorrências</option>
							</select>
							<select class="form-control" id="ano" name="ano">
								<option value="todos" selected disabled hidden>Período...</option>
								<option value="todos">Todos</option>
								<option value="2020">2020</option>
								<option value="2021">2021</option>
							</select>
						</form>
						
						<button class="btn btn-primary btn-sm " id='cria' onclick="cria($(this).parent().attr(`id`))"> Adicionar</button>
						
					</div>
					<div id="graph2" class="col-md-6 mb-3">

						<form id="newgraph2">
							<label for="tabelas">Visualizar dados em gráfico:</label>

							<select class="form-control" id="tipo_grafico" name="tipo_grafico">
								<option value="barChart" selected disabled hidden>Escolha o gráfico...</option>
								<option value="barChart">Barras</option>
								<option value="pieChart">Pizza</option>
							</select>							

							<select class="form-control" id="tabelas" name="tabelas">
								<option value="notinhas" selected disabled hidden>Escolha a informação...</option>
								<option value="notinhas">Despesas</option>
								<option value="Deslocamentos">Deslocamentos</option>
							</select>

							<select class="form-control" id="x" name="x">
								<option value="cc" selected disabled hidden>Mostrar por...</option>
								<option value="cc">Centro de Custos</option>
								<option value="data">Data</option>
							</select>

							<select class="form-control" id="y" name="y">
								<option value="soma" selected disabled hidden>Ocorrências...</option>
								<option value="soma">Total</option>
								<option value="conta">Número de ocorrências</option>
							</select>
							<select class="form-control" id="ano" name="ano">
								<option value="todos" selected disabled hidden>Período...</option>
								<option value="todos">Todos</option>
								<option value="2020">2020</option>
								<option value="2021">2021</option>
							</select>
						</form>
						<button class="btn btn-primary btn-sm "  id='cria1' onclick="cria($(this).parent().attr(`id`))"> Adicionar</button>
					</div>
					
				</div>


				<div class="row">

	                <div class="col-lg-12">
	                    <div class="panel panel-default">

	                        <!-- /.panel-heading -->
	                        <div class="panel-body">

	                        <table id="example" class="display" style="width:100%">
	                            <thead>
	                                <tr>
	                                	<th>ID</th>
	                                    <th>Status</th>
	                                	<th>CC</th>
	                                	<th>Solicitante</th>
	                                	<th>Area</th>
	                                    <th>Observações</th>
	                                    <th>Prazo Entrega</th>
	                                    <th>Aprovação Comercial</th>
	                                    <th>Aprovação Técnica</th>
	                                </tr>
	                            </thead>
	                        </table>

	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>

	            </div>




			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			<script type="text/javascript">


			</script>

			</main>
  		</div>
  	</div>


	<!-- Modal -->
	<div class="modal fade " id="modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Solicitação de compra de material</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form class="needs-validation" id="formCadastroVeiculo" method="post" novalidate>

			    <h4 class="mb-3">Produtos</h4> 
			     

	        	<div class="row">
	        		<div class="col-md-5 mb-3">
	        			<label for="material">Item 1*</label>
			            <input type="text" class="form-control" id="material" name="material" required>
			            <div class="invalid-feedback">
			              Informe o material.
			            </div>
	        		</div>

	        		<div class="col-md-4 mb-3">
	        			<label for="marca">Marca (opcional)</label>
				            <input type="text" class="form-control" id="marca" name="marca">
	        		</div>         		
	        		
	        		<div class="col-md-3 mb-3">
	        			<label for="quantidade">Quantidade*</label>
				            <input type="text" class="form-control" id="quantidade" name="quantidade" required>
				            <div class="invalid-feedback">
				              Informe a quantidade do material.
				            </div>
	        		</div>     
	        	</div>

	        	<div class="row">
	        		<div class="col-md-7 mb-3">
	        			<label for="especificacoes1">Especificações*</label>
				            <input type="text" class="form-control" id="especificacoes1" name="especificacoes1" required>
				            <div class="invalid-feedback">
				              Informe as especificações do material.
				            </div>
	        		</div>	  

	        		<div class="col-md-5 mb-3">
	        			<label for="unidades1">Unidades*</label>
				            <select type="text" class="form-control" id="unidades1" name="unidades1" required>
								<option value="metro">Metro</option>
								<option value="unidade">Unidade</option>
								<option value="cento">Cento</option>
								<option value="milheiro">Milheiro</option>
								<option value="rolos">Rolos</option>
								<option value="barra">Barra</option>>
							</select>
				            <div class="invalid-feedback">
				              Informe as especificações do material.
				            </div>
	        		</div>	        		      		
	        	</div>

	        	<a id="botaoAdd"  onclick="addItem()"><span data-feather="plus-circle" class="css-1sns0wc"></span></a>

	        	<div class="row">


	        	</div>

	        	<hr class="mb-4">
			    <h4 class="mb-3">Informações Adicionais</h4>  	


	        	<div class="row">
	        		<div class="col-md-4 mb-3">
	        			<label for="cc">CC*</label>
				            <input type="text" class="form-control" id="cc" name="cc" required>
				            <div class="invalid-feedback">
				              Informe o centro de custo.
				            </div>
	        		</div>

	        		<div class="col-md-8 mb-3">
	        			<label for="area">Área*</label>
				            <select type="text" class="form-control" id="area" name="area" required>
								<option value="Infraestrutura">Infraestrutura</option>
								<option value="Cabeamento">Cabeamento</option>
								<option value="Seccionamento">Seccionamento</option>
								<option value="Painel elétrico">Painel elétrico</option>
								<option value="Ferramentas">Ferramentas</option>
								<option value="Material de escritório">Material de escritório</option>
								<option value="Material de construcao">Material de construção</option>
								<option value="Instrumentacão">Instrumentação</option>
								<option value="Acionamentos">Acionamentos</option>
								<option value="Gráfica">Gráfica</option>
								<option value="NR12">NR12</option>
								<option value="CLP">CLP</option>
							</select>
				            <div class="invalid-feedback">
				              Informe a área do projeto.
				            </div>
	        		</div>
	        		
	        	</div>

	        	<div class="row">
	        		<div class="col-md-6 mb-3">
	        			<label for="prazo_entrega">Prazo de entrega*</label>
				            <input type="date" class="form-control" id="prazo_entrega" name='prazo_entrega' required>
				            <div class="invalid-feedback">
				              Informe o prazo para chegada do material.
				            </div>
	        		</div>
	        	</div>

	        	<hr class="mb-4">
			    <h4 class="mb-3">Fornecedores</h4>

	        	<div class="row">


	        		<div class="col-md-4 mb-3">
	        			<label for="fornecedor1">Fornecedor 1*</label>
				            <input class="form-control" id="fornecedores" name='fornecedor1' required>
				            <div class="invalid-feedback">
				              Informe o primeiro fornecedor.
				            </div>
	        		</div>

	        		<div class="col-md-4 mb-3">
	        			<label for="fornecedor2">Fornecedor 2 (opcional)</label>
				            <input class="form-control" id="fornecedores" name='fornecedor2'>
	        		</div>

	        		<div class="col-md-4 mb-3">
	        			<label for="fornecedor3">Fornecedor 3 (opcional)</label>
				            <input class="form-control" id="fornecedores" name='fornecedor3'>
	        		</div>        		
	        		
	        	</div>

	        	<div class="row" id="add_fornecedor"></div>

	        	<a id="botaoAdd2"  onclick="addItem2()"><span data-feather="plus-circle" class="css-1sns0wc"></span></a>

	        	<div class="row">


	        	</div>

	        	<hr class="mb-4">        	

	        	<div class="row">
	        		<div class="col-md-12 mb-3">
	        			<label for="justificativa">Justificativa</label>
				            <textarea class="form-control" id="justificativa" name='justificativa' required></textarea>
	    			</div>
	    		</div>

	        	<div class="row">
	        		<div class="col-md-12 mb-3">
	        			<label for="observacoes_comprador">Observações para o comprador (opcional)</label>
				            <textarea class="form-control" id="observacoes_comprador" name='observacoes_comprador'></textarea>
	        		</div>
	        		
	        	</div>     

	        	<div class="row">
	        		<div class="col-md-12 mb-3">
	        			<label for="observacoes_fornec">Observações para os fornecedores (opcional)</label>
				            <textarea class="form-control" id="observacoes_fornec" name='observacoes_fornec'></textarea>
	        		</div>
	        		
	        	</div>

	        	<input type="hidden" id="destinatario" name="destinatario" value="">        	   		
		        
		     </div>

		     <script type="text/javascript">
		     	var email = 0;

		     </script>

		      <div class="modal-footer">
		      	<button class="btn btn-success" type="submit" formaction="/newCompras?email=1">Enviar para fornecedores</button>
		      	<button class="btn btn-success" type="submit" formaction="/newCompras?email=2">Enviar para comprador</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>




	<!-- Modal -->
	<div class="modal fade " id="modal_alterar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Cadastro de compra</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form class="needs-validation" id="formCadastroVeiculo" action="/update_Veiculo" method="post" novalidate>

			<h4 class="mb-3">Informações do pedido</h4>

        	<div class="row">

        		<div class="col-md-2 mb-3">
        			<label for="modelo">CC</label>
			            <input type="text" class="form-control" id="recipient-cc-modal2" name="modelo" required readonly="readonly">
        		</div>

        		<div class="col-md-5 mb-3">
        			<label for="placa">Solicitante</label>
			            <input type="text" class="form-control" id="recipient-solicitante-modal2" name="placa" required readonly="readonly">
        		</div>        		

        		<div class="col-md-5 mb-3">
        			<label for="kmOleo">Status</label>
			            <input class="form-control" id="recipient-status-modal2" name='km_oleo' required readonly="readonly">
        		</div>       		
        		
        	</div>

        	<div class="row">
        		
        		<div class="col-md-4 mb-3">
        			<label for="area">Área</label>
		            <input type="text" class="form-control" id="recipient-area-modal2" name="area" required readonly="readonly">
		        </div>  

        		<div class="col-md-4 mb-3">
        			<label for="prazo_entrega">Prazo de entrega</label>
			            <input type="text" class="form-control" id="recipient-prazo_entrega-modal2" name='prazo_entrega' required readonly="readonly">
        		</div>

        	</div>

        	<div class="row">


        	</div>

        	<hr class="mb-4">
		    <h4 class="mb-3">Fornecedores</h4>	


    		<div id="div_fornecedores"></div>

		    <div id="materiais"></div>

        	<div class="row"></div>

        	<hr class="mb-4">
		    <h4 class="mb-3">Informações adicionais</h4>

			<div class="row">
        		<div class="col-md-12 mb-3">
        			<label for="justificativa">Justificativa</label>
			            <textarea type="text" class="form-control" id="recipient-justificativa-modal2" name='justificativa' required readonly="readonly"></textarea>
        		</div>
	        </div>

        	<div class="row">
        		<div class="col-md-12 mb-3">
        			<label for="observacoes_comprador">Observações para o comprador</label>
			            <textarea type="text" class="form-control" id="recipient-observacoes_comprador-modal2" name='observacoes_comprador' required readonly="readonly"></textarea>
        		</div>
        	</div>

        	<div class="row">
        		<div class="col-md-12 mb-3">
        			<label for="observacoes_fornecedores">Observações para os fornecedores</label>
			            <textarea type="text" class="form-control" id="recipient-observacoes_fornecedores-modal2" name='observacoes_fornecedores' required readonly="readonly"></textarea>
        		</div>
        	</div>        	

	     </div>


	      <div class="modal-footer">
	      	<button class="btn btn-success" type="button" onclick="modal_status()">Alterar status</button>
	      	<button class="btn btn-success" type="button" id="compra_realizada" onclick="modal_confimar()">Aprovação comercial</button>
	      	<!--<button type="button" class="btn btn-danger" data-dismiss="modal">Desativar Veículo</button>-->
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_confimar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Confirmar realização de compra</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" id="form_compra" action="" method="post" novalidate>
	        	<label for="valor_compra">Informe o valor da compra realizada</label>
	            <input type="text" class="form-control" id="valor_compra" name="valor_compra" pattern="[0-9]" required>
	      		<p>Deseja realmente confirmar a compra?</p>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-success" onclick="confirmar_compra()">Sim</button>
		        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
		      </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Atualizar status da compra</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" id="form_compra" action="" method="post" novalidate>
	            <select type="text" class="form-control" id="select_status" name="select_status" required>
					<option value="Aguardanto Orçamentos">Aguardanto Orçamentos</option>
					<option value="Esperando aprovação técnica">Esperando aprovação técnica</option>
					<option value="Produto sendo encaminhado">Produto sendo encaminhado</option>
					<option value="Produto na base">Produto na base</option>
				</select>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-success" onclick="atualizar_status()">Atualizar</button>
		        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
		      </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_destinatario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Confirmar solicitação</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" id="form_destinatario" action="" method="post" novalidate>
	      		<p>Deseja enviar direto para os fornecedores ou para o comprador realizar o pedido?</p>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-success" onclick="confirmar_fornecedores()">Fornecedores</button>
		      	<button type="button" class="btn btn-success" onclick="confirmar_comprador()">Comprador</button>
		        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
		      </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>	

  	<%- include('layouts/end_scripts') -%>

	<style>

	.bootstrap-select .btn {

		padding: .375rem .75rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;

		font-family: inherit;
	}

	</style> 

	<script type="text/javascript">

		var count=4;

		function addInp(){
			
			$('#funcioanrtios').append('<li><input type="text" name="funcionario'+count+'"></li>');
			count++;
		}


		function apagaGrafico(e){
			$('#'+e).html(`
				<form id="new`+e+`">
					<label for="tabelas">Configure um novo gráfico:</label>
					
					<select class="form-control" id="tipo_grafico" name="tipo_grafico">
						<option value="barChart" selected disabled hidden>Escolha o gráfico...</option>
						<option value="barChart">Barras</option>
						<option value="pieChart">Pizza</option>
					</select>

					<select class="form-control"  id="tabelas" name="tabelas">
						<option value="notinhas" selected disabled hidden>Escolha a informação...</option>
						<option value="notinhas">Despesas</option>
						<option value="Deslocamentos">Deslocamentos</option>
					</select>

					<select class="form-control" id="x" name="x">
						<option value="cc" selected disabled hidden>Mostrar por...</option>
						<option value="cc">Centro de Custos</option>
						<option value="data">Data</option>
					</select>

					<select class="form-control" id="y" name="y">
						<option value="soma" selected disabled hidden>Ocorrências...</option>
						<option value="soma">Total</option>
						<option value="conta">Número de ocorrências</option>
					</select>
					<select class="form-control" id="ano" name="ano">
						<option value="todos" selected disabled hidden>Período...</option>
						<option value="todos">Todos</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
					</select>
				</form>
				<button class="btn btn-primary btn-sm "  id='cria1' onclick="cria($(this).parent().attr('id'))"> Adicionar</button>`);	
		}
		graficos = {}

		function cria(idPai){

			if ($('#new'+idPai).find('select[name="y"]').val()=='soma' && $('#new'+idPai).find('select[name="tabelas"]').val()!='notinhas') {
				alert('Gráfico indisponível');
			}
			else{

				var datasetLabel = $('#tabelas').val();

				var labels = []
				var dataset = []
				var labelsPieChart = [];
				var datasetPie = [];
				var tipoDoGrafico = 0;

				if($('#tipo_grafico').val() == 'barChart')
				{
					$.ajax({
		                type: 'post',
		                url: "/getData",
						data: $('#new'+idPai).serialize(),
		                async: false,
		                success: function (response) {

		                	for (i of response){  
		                		if ($('#new'+idPai).find('select[name="x"]').val()=='cc') {
		                			labels.push(i['cc']);
		                		}
		                		else{
		                			labels.push(i['data']);
		                		}

		                		if ($('#new'+idPai).find('select[name="y"]').val()=='soma') {
		                			dataset.push(i['total']);
		                		}
		                		else{
		                			dataset.push(i['count(*)']);
		                		}
		                		
		                	}

		                }
		            })
				}
				else
				{
					$.ajax({
		                type: 'post',
		                url: "/getData",
						data: $('#new'+idPai).serialize(),
		                async: false,
		                success: function (response) {
		                	var todosValores = [];
		                	var maioresValores = [];
		                	var j = 0;
		                	var k = 0;
		                	var totalData = 0;
		                	for (i of response){
		                		if ($('#x').val()=='cc') {
		                			if(j < 4)
		                			{
		                				labelsPieChart.push(i['cc']);
		                			}
		                			else
		                			{
		                				if(j == 4)
		                				{
		                					labelsPieChart.push('Outros');
		                				}
		                			}
		                			j++;
		                		}
		                		else{
		                			labelsPieChart.push(i['data']);
		                		}

		                		if ($('#y').val()=='soma') {
		                			if(k < 4)
		                			{
		                				datasetPie.push(i['total'].toFixed(2));
		                			}
		                			else
		                			{
		                				if(k < 12 && k >= 4)
		                				{
		                					totalData = totalData + i['total'];
		                				}
		                				else
		                				{
		                					if(k == 12)
		                					{
		                						datasetPie.push(totalData.toFixed(2));
		                					}
		                				}
		                			}
		                			k++;

		                			todosValores.push(i['total']);

		                		}
		                		else{
		                			datasetPie.push(i['count(*)']);
		                		}
		                		
		                	}

		                	var indexMaiorValor;
		    				var maiorValor = 0;

		        			for(var i = 0; i < 4; i++)
		        			{
		        				var laco = true;
		        				var j = 0;
		        				
		        				while(laco == true)
		        				{
		        					if(maiorValor < todosValores[j])
		        					{
		        						maiorValor = todosValores[j];
		        						indexMaiorValor = j;
		        					}
		        					j++;
		        					if(j >= todosValores.length)
		        					{
		        						laco = false;
		        					}
		        				}
		        				laco = true;
		        				
		        				maioresValores.push(maiorValor);
		        				dataset.push(maiorValor);

		        				todosValores.splice(indexMaiorValor, 1);
		        			}

		        			//alert("vetor com 4 maiores valores: " + maioresValores);

		        			var somaOutros = todosValores.reduce(function(acumulador, valorAtual) {
							   return acumulador + valorAtual;
							}, 0)

							//alert("outros: " + somaOutros);
							dataset.push(somaOutros);
		                }
		            })					
				}

				//var labels = ['Setembro', 'Outubro', 'Novembro', 'Dezembro'];

				var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
				var color = Chart.helpers.color;
				
				if($('#tipo_grafico').val() == 'barChart')
				{
					tipoDoGrafico = 1;
					barChartData = {
						labels: labels,
						datasets: [{
							label: datasetLabel,
							backgroundColor: 'rgba(220, 50, 50, 10)',
							borderColor: 'rgba(100, 100, 100, 255)',
							borderWidth: 1,
							data: dataset
						}]
					};
				}
				else
				{
					tipoDoGrafico = 2;

					var backgroundColor = [
								'rgba(255,0,0,255)',
								'rgba(0,255,0,255)',
								'rgba(0,0,255,255)',
								'rgba(150,150,50,255)',
								'rgba(255,120,0,255)',
					]

					var pieChartData = {
						labels: labelsPieChart,
						datasets: [{
							label: datasetLabel,
							backgroundColor: backgroundColor,
							borderColor: 'rgba(255, 0, 0, 255)',
							borderWidth: 1,
							data: datasetPie
						}]
					};				
				}


				$('#'+idPai).html('<div id="container" style="width: 100%;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div> <canvas id="canvas'+idPai+'" style="display: block; height: 292px; width: 585px;" width="731" height="365" class="chartjs-render-monitor"></canvas> </div><button class="btn btn-danger btn-sm"  onclick="apagaGrafico($(this).parent().attr(`id`))">Apagar</button>');

				

				var ctx = document.getElementById('canvas'+idPai).getContext('2d');

				if(tipoDoGrafico == 1)
				{
					var opicoes = {
					    tooltips: {
					        enabled: false
					    },
						responsive: true,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Teste Gráfico'
						}
					};
								
					graficos[idPai] = new Chart(ctx, {
						type: 'bar',
						data: barChartData,
						options: {
							responsive: true,
							legend: {
								position: 'top',
							},
							title: {
								display: true,
								text: 'Teste Gráfico'
							}
						}
					});
				}
				else
				{
					var myPieChart = new Chart(ctx, {
					    type: 'pie',
				        data: pieChartData,
						options: opicoes
					});				
				}			
			}

		}

		function add_graficos()
		{
			$('#add_graficos').show();

			const botao_graficos = document.getElementById('botao_graficos');
			botao_graficos.innerHTML = 'Remover gráficos';
			document.getElementById( "botao_graficos" ).setAttribute( "onClick", "javascript: remove_graficos();" );
		}

		function remove_graficos()
		{
			$('#add_graficos').toggle();

			const botao_graficos = document.getElementById('botao_graficos');
			botao_graficos.innerHTML = 'Gerar gráficos';
			document.getElementById( "botao_graficos" ).setAttribute( "onClick", "javascript: add_graficos();" );
		}


		/*
			COMPRAS
		*/

		var itens=1;
		var fornecedores=3;
		function addItem(){
			itens++;

			$('#botaoAdd').before(`
				<div class="row">
	        		<div class="col-md-5 mb-3">
	        			<label for="material`+itens+`">Item `+itens+`*</label>
			            <input type="text" class="form-control" id="material`+itens+`" name="material`+itens+`" required>
			            <div class="invalid-feedback">
			              Informe o material.
			            </div>
	        		</div>

	        		<div class="col-md-4 mb-3">
	        			<label for="marca`+itens+`">Marca (opcional)</label>
				            <input type="text" class="form-control" id="marca`+itens+`" name="marca`+itens+`">
	        		</div>         		
	        		
	        		<div class="col-md-3 mb-3">
	        			<label for="quantidade`+itens+`">Quantidade*</label>
				            <input type="text" class="form-control" id="quantidade`+itens+`" name="quantidade`+itens+`" required>
				            <div class="invalid-feedback">
				              Informe a quantidade do material.
				            </div>
	        		</div>     
	        	</div>

	        	<div class="row">
	        		<div class="col-md-7 mb-3">
	        			<label for="especificacoes`+itens+`">Especificações*</label>
				            <input type="text" class="form-control" id="especificacoes`+itens+`" name="especificacoes`+itens+`" required>
				            <div class="invalid-feedback">
				              Informe as especificações do material.
				            </div>
	        		</div>

	        		<div class="col-md-5 mb-3">
	        			<label for="unidades`+itens+`">Unidades*</label>
				            <select type="text" class="form-control" id="unidades1" name="unidades1" required>
								<option value="metro">Metro</option>
								<option value="unidade">Unidade</option>
								<option value="cento">Cento</option>
								<option value="milheiro">Milheiro</option>
								<option value="rolos">Rolos</option>
								<option value="barra">Barra</option>>
							</select>
				            <div class="invalid-feedback">
				              Informe a unidade do material.
				            </div>    		
			        </div>	        		     	
	        	</div>
			`);
		}

		function addItem2(){
			fornecedores++;

			$('#add_fornecedor').append(`

	        		<div class="col-md-4 mb-3">
	        			<label for="fornecedores`+fornecedores+`">Fornecedor `+fornecedores+` (opcional)</label>
				            <input class="form-control" id="fornecedores`+fornecedores+`" name='fornecedores`+fornecedores+`' required>
				            <div class="invalid-feedback">
				              Informe o primeiro fornecedor.
				            </div>
	        		</div>	
			`);
		}		

		$( document ).ready(function() {

			$("#placa").keyup(function(){
	            if ($(this).val().length == 3){
	                $(this).val($(this).val() + "-");
	            }
      		});

      		$('#add_graficos').toggle();
		  // Handler for .ready() called.
		  // $('#colegas').selectpicker();
		});

		function modal_confimar(){
			$('#modal_confimar').modal('show');
		}

		function modal_status(){
			$('#modal_status').modal('show');	
		}

		function confirmar_compra(){
			var valor_compra = $("#valor_compra").val();

			$.ajax({
                type: 'post',
                url: "/confirmar_compra?id="+id+"&valor_compra="+valor_compra,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            	$('#modal_confimar').modal('toggle');
            	$('#valor_compra').val('');
            	$('#modal_alterar').modal('toggle');
            });
		}

		function atualizar_status(){
			var status = $("#select_status").val();

			$.ajax({
                type: 'post',
                url: "/atualizar_status_compra?id="+id+"&status="+status,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            	$('#modal_status').modal('toggle');
            	$('#modal_alterar').modal('toggle');
            });
		}

		/*function destinatario(){
			const form = document.getElementById("formCadastroVeiculo");
			if (form.checkValidity()) {
				document.getElementById("formCadastroVeiculo").addEventListener("click", function(event){
					event.preventDefault();
				});
				$('#modal_destinatario').modal('show');
			}
		}*/

		function confirmar_fornecedores(){
			$('#formCadastroVeiculo').submit();
		}

		function confirmar_comprador(){
			$('#formCadastroVeiculo').submit();
		}

		//function volta(){
		//	$('#modal_alterar').modal('hide');
		//}			

	</script>

			
</body>

</html>