<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>



	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_projetos').load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {
    	var url = "/registro_projetos";
/*
    	$.getJSON(url, function (data) {
	        $.each(data, function (index, value) {
	            // APPEND OR INSERT DATA TO SELECT ELEMENT.
	            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
	            });
        });*/

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_projetos',
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "cc" },
	        	{ "data": "nome_lm" },
	        	{ "data": "nome_empresa" },
	        	{ "data": "cidade" },
	            { "data": "tipo_projeto"},
	            { "data": "nome_obra" },
	            { "data": "valor_pedido" },
	            { "data": "status" }
	        ],
	        "order": [[ 0, "asc" ]],
            select: true,
            orderCellsTop: true,
            dom: '<"left">t<"bottom"rlpi>'/*,
            columnDefs: [ {
                "targets": [ 2 ],
                "visible": false,
                "searchable": false
            } ]*/
        } );

        	        

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {


	        var data = table.row( this ).data();
  
	        $('#modal_consulta	').modal("show");

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#modal_consulta")
	        $("#modal_consulta").find('#recipient-nome_lm-modal_consulta').val(data["nome_lm"])
	        $("#modal_consulta").find('#recipient-nome_cliente-modal_consulta').val(data["nome_cliente"])
	        $("#modal_consulta").find('#recipient-email_cliente-modal_consulta').val(data["email"])
	        $("#modal_consulta").find('#recipient-telefone_cliente-modal_consulta').val(data["telefone_cliente"])
	        $("#modal_consulta").find('#recipient-cnpj-modal_consulta').val(data["cnpj"])
	        $("#modal_consulta").find('#recipient-nome_empresa-modal_consulta').val(data["nome_empresa"])
	        $("#modal_consulta").find('#recipient-cep-modal_consulta').val(data["cep"])
	        $("#modal_consulta").find('#recipient-cidade-modal_consulta').val(data["cidade"])
	        $("#modal_consulta").find('#recipient-estado-modal_consulta').val(data["estado"])
	        $("#modal_consulta").find('#recipient-pais-modal_consulta').val(data["pais"])
	        $("#modal_consulta").find('#recipient-tipo_projeto-modal_consulta').val(data["tipo_projeto"])
	        $("#modal_consulta").find('#recipient-olm-modal_consulta').val(data["olm"])
	        $("#modal_consulta").find('#recipient-cc-modal_consulta').val(data["cc"])
	        $("#modal_consulta").find('#recipient-nome_obra-modal_consulta').val(data["nome_obra"])
	        $("#modal_consulta").find('#recipient-data-modal_consulta').val(data["data_pedido"])
	        $("#modal_consulta").find('#recipient-valor_pedido-modal_consulta').val(data["valor_pedido"])
	        $("#modal_consulta").find('#recipient-tecnico_em_automacao-modal_consulta').val(data["tecnico_em_automacao"])
	        $("#modal_consulta").find('#recipient-projetista-modal_consulta').val(data["projetista"])
	        $("#modal_consulta").find('#recipient-programador-modal_consulta').val(data["programador"])
	        $("#modal_consulta").find('#recipient-coordenador_de_projetos-modal_consulta').val(data["coordenador_de_projetos"])
	        $("#modal_consulta").find('#recipient-coordenador_de_software-modal_consulta').val(data["coordenador_de_software"])
	        $("#modal_consulta").find('#recipient-coordenador_tecnico-modal_consulta').val(data["coordenador_tecnico"])
	        $("#modal_consulta").find('#recipient-recursos_humanos-modal_consulta').val(data["recursos_humanos"])
	        $("#modal_consulta").find('#recipient-compras-modal_consulta').val(data["compras"])
	        $("#modal_consulta").find('#recipient-gerente_tecnico-modal_consulta').val(data["gerente_tecnico"])
	        $("#modal_consulta").find('#recipient-tecnico_de_seguranca-modal_consulta').val(data["tecnico_de_seguranca"])
	        $("#modal_consulta").find('#recipient-marketing-modal_consulta').val(data["marketing"])
	        $("#modal_consulta").find('#recipient-auxiliar_administrativo-modal_consulta').val(data["auxiliar_administrativo"])
	        $("#modal_consulta").find('#recipient-status-modal_consulta').val(data["status"])
	        $("#modal_consulta").modal();

	        $('#recursos').html('');

			var recurso_material = JSON.parse(data["recurso_material"]);
			var limite_aprovacao = JSON.parse(data["limite_aprovacao"]);
			var recurso_restante = JSON.parse(data["recurso_restante"]);

			$('#recursos').append(`
				<div class="row">
					<div class="col-md-4 mb-3">
					    <label for="recurso_material">Recurso disponível</label>
					    <input type="money" class="form-control" id="recipient-recurso_material-modal_consulta" placeholder="0,00" min="0" step="1" name='recurso_material' value="`+recurso_material+`">
					</div>

					<div class="col-md-4 mb-3">
					    <label for="limite_aprovacao">Limite para aprovação</label>
					    <input type="money" class="form-control" id="recipient-limite_aprovacao-modal_consulta" placeholder="0,00" min="0" step="1" name='limite_aprovacao' value="`+limite_aprovacao+`">
					</div>
					<div class="col-md-4 mb-3">
					    <label for="recurso_restante">Recurso restante</label>
					    <input type="money" class="form-control" id="recipient-recurso_restante-modal_consulta" placeholder="0,00" min="0" step="1" name='recurso_restante' value="`+recurso_restante+`" readonly>
					</div>				        
	        	</div>
			`);

	        if ($('#recipient-status-modal_consulta').val()=='finalizado') {
	        	$('#abrir_fechar').html('Reabrir');
	        	document.getElementById("abrir_fechar").onclick = function() {
			    	modal_reabrir();
				};
	        }
	        else{
	        	$('#abrir_fechar').html('Finalizar');
	        	document.getElementById("abrir_fechar").onclick = function() {
			    	modal_finalizar();
				};	        	
	        }
	        

        });

    } );

    </script>

	<div class="container-fluid">
  		<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  				<div class="py-5 text-center">

				    <h2 >Projetos</h2>
				    <p class="lead">Consulte os projetos cadastrados ou cadastre um novo projeto no SARR</p>

				    <!-- show any messages that come back with authentication -->
				    <% if (message.length > 0) { %>
				      <div class="alert alert-success"><%= message %></div>
				    <% } %>

				    <!-- show any messages that come back with authentication -->
				    <% if (message_error.length > 0) { %>
				      <div class="alert alert-danger"><%= message_error %></div>
				    <% } %>

				    <button class="btn btn-primary " data-toggle='modal' data-target='#modal_cadastro' type="button" onclick="limpar_campo()">Cadastrar novo projeto</button>

				</div>


				<div class="row">

	                <div class="col-lg-12">
	                    <div class="panel panel-default">

	                        <!-- /.panel-heading -->
	                        <div class="panel-body">

	                        <table id="example" class="display" style="width:100%">
	                            <thead>
	                                <tr>
	                                	<th>CC</th>
	                                	<th>Responsável</th>
	                                	<th>Cliente</th>
	                                	<th>Cidade</th>
	                                    <th>Tipo</th>
	                                    <th>Nome Obra</th>
	                                    <th>Valor</th>
	                                    <th>Status</th>
	                                </tr>
	                            </thead>
	                        </table>

	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>

	            </div>

			<!-- Modal -->
	<div class="modal fade " id="modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

			  <h4 class="mb-3">Informações do cliente</h4>

			  <div class="row">
			   
			    <div class="col-md-12">
			      <form class="needs-validation" action="/cadastro_projeto" method="post" novalidate>
			        
			        <div class="row">
			          
			            <div class="col-md-12 mb-3">
			              <label for="nome_lm">Nome do responsável LM</label>
			              <select class="custom-select d-block w-100" id="nome_lm" name='nome_lm' required>
			              <option value="">Nome...</option>
			              </select>
			              <div class="invalid-feedback">
			                Precisa de um nome.
			              </div>
			            </div>
			        </div>

			        <div class="row">
			          <div class="col-md-6 mb-3">
			            <label for="nome_cliente">Nome do responsável cliente</label>
			            <input type="text" class="form-control" id="nome_cliente" placeholder="Novo usuário" name='nome_cliente'>
			            <div class="invalid-feedback">
			              Precisa de um nome.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			              <label for="email_cliente">Email do cliente</label>
			              <input type="email" class="form-control" id="email_cliente" placeholder="usuario@exemplo.com.br" name='email_cliente'>
			              <div class="invalid-feedback">
			                Por favor insira um e-mail válido.
			              </div>
			            </div>

			            <div class="col-md-3 mb-3">
			              <label for="telefone_cliente">Telefone do cliente</label>
			              <input type="tel" class="form-control" id="telefone_cliente" pattern="\+[0-9]{2} \([0-9]{2}\) [0-9]{5}-[0-9]{4}" placeholder="+55 (48) 99636-0016" name='telefone_cliente'>
			              <div class="invalid-feedback">
			                Por favor insira um número de telefone, precisa ser no formato: +55 (48) 99636-0016
			              </div>
			            </div>
			          </div>

			        <div class="row">

			          <div class="col-md-4 mb-3">
			            <label for="cnpj">CNPJ do cliente</label>
			            <input type="text" class="form-control" id="cnpj" placeholder="04.580.206-0001.99" name='cnpj'>
			            <div class="invalid-feedback">
			              Por favor insira um CNPJ.
			            </div>
			          </div>

			          <div class="col-md-8 mb-3">
			            <label for="nome_empresa">Nome da empresa do cliente</label>
			            <input type="text" class="form-control" id="nome_empresa" placeholder="LMLogix Automação" name='nome_empresa'>
			            <div class="invalid-feedback">
			              Por favor insira um nome.
			            </div>
			          </div>

			        </div>

			        <div class="row">

			          <div class="col-md-2 mb-3">
			            <label for="cep">CEP</label>
			            <input type="text" class="form-control" id="cep" placeholder="88801-010" name='cep'>
			            <div class="invalid-feedback">
			              Por favor insira um CEP.
			            </div>
			          </div>

			          <div class="col-md-4 mb-3">
			            <label for="cidade">Cidade da obra</label>
			            <input type="text" class="form-control" id="cidade" placeholder="Criciúma" name='cidade' required>
			            <div class="invalid-feedback">
			              Por favor insira uma cidade válida.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="estado">Estado da obra</label>
			            <input type="text" class="form-control" id="estado" placeholder="Santa Catarina" name='estado' required>
			            <div class="invalid-feedback">
			              Por favor insira um estado válido.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="pais">País da obra</label>
			            <input type="text" class="form-control" id="pais" placeholder="Brasil" name='pais' required>
			            <div class="invalid-feedback">
			              Por favor insira um país.
			            </div>
			          </div>
			        </div>

			        <hr class="mb-4">
			        <h4 class="mb-3">Informações comerciais</h4>

			        <div class="row">

			          <div class="col-md-2 mb-3">
			            <label for="tipo_projeto">Tipo do projeto</label>
			            <select class="custom-select d-block w-100" id="tipo_projeto" name='tipo_projeto'>
			              <option value="">Escolha...</option>
			              <option>CLT</option>
			              <option>Pacote fechado</option>
			              <option>Homem Hora</option>
			            </select>
			            <div class="invalid-feedback">
			              Escolha um tipo de projeto válido.
			            </div>
			          </div>

			          <div class="col-md-2 mb-3">
			            <label for="olm">OLM</label>
			            <input type="text" class="form-control" id="olm" placeholder="01633" name='olm'>
			            <div class="invalid-feedback">
			              Insira um número de OLM.
			            </div>
			          </div>

			          <div class="col-md-2 mb-3">
			            <label for="cc">CC</label>
			            <input type="text" class="form-control" id="cc" placeholder="000170" name='cc'>
			            <div class="invalid-feedback">
			              Insira um número de CC válido.
			            </div>
			          </div>

			          <div class="col-md-6 mb-3">
			            <label for="nome_obra">Nome da obra</label>
			            <input type="text" class="form-control" id="nome_obra" placeholder="Retificadores GM" name='nome_obra'>
			            <div class="invalid-feedback">
			              Por favor insira uma descrição.
			            </div>
			          </div>
			        </div>

			        <div class="row">
			        	<div class="col-md-3 mb-3">
				            <label for="data">Data do pedido</label>
				            <input type="date" class="form-control" id="data" name="data">
				            <div class="invalid-feedback">
				              Precisa de uma data.
				            </div>
			          	</div>

			        	<div class="col-md-2 mb-3">
				            <label for="valor_pedido">Valor do pedido</label>
				            <input type="money" class="form-control" id="valor_pedido" value="0" min="0" max="10000" step="1" name='valor_pedido'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
			        </div>

			        <hr class="mb-4">
			        <h4 class="mb-3">Recursos para materiais</h4>			        


			        <div class="row">
						<div class="col-md-6 mb-3">
						    <label for="recurso_material">Recurso disponível</label>
						    <input type="money" class="form-control" id="recurso_material" placeholder="00,00" min="0" step="1" name='recurso_material'>
						    <div class="invalid-feedback">
						      Insira o valor disponível para compra de materiais.
						    </div>
						</div>

						<div class="col-md-6 mb-3">
						    <label for="limite_aprovacao">Limite para aprovação</label>
						    <input type="money" class="form-control" id="limite_aprovacao" placeholder="00,00" min="0" step="1" name='limite_aprovacao'>
						    <div class="invalid-feedback">
						      Insira o limite para a aprovação comercial automática.
						    </div>
						</div>						          		        	
			        </div>

			        <hr class="mb-4">
			        <h4 class="mb-3">Número de horas previstas para o projeto</h4>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="tecnico_em_automacao">T. Automação</label>
				            <input type="number" class="form-control" id="tecnico_em_automacao" value="0" name='tecnico_em_automacao'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="projetista">Projetista</label>
				            <input type="number" class="form-control" id="projetista" value="0" name='projetista'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="programador">Programador</label>
				            <input type="number" class="form-control" id="programador" value="0" name='programador'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="coordenador_de_projetos">C. Projetos</label>
				            <input type="number" class="form-control" id="coordenador_de_projetos" value="0" name='coordenador_de_projetos'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="coordenador_de_software">C. Software</label>
				            <input type="number" class="form-control" id="coordenador_de_software" value="0" name='coordenador_de_software'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="coordenador_tecnico">C. Técnico</label>
				            <input type="number" class="form-control" id="coordenador_tecnico" value="0" name='coordenador_tecnico'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>				        
						<div class="col-md-2 mb-3">
				            <label for="recursos_humanos">RH</label>
				            <input type="number" class="form-control" id="recursos_humanos" value="0" name='recursos_humanos'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="compras">Compras</label>
				            <input type="number" class="form-control" id="compras" value="0" name='compras'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="gerente_tecnico">G. Técnico</label>
				            <input type="number" class="form-control" id="gerente_tecnico" value="0" name='gerente_tecnico'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="tecnico_de_seguranca">T. Segurança</label>
				            <input type="number" class="form-control" id="tecnico_de_seguranca" value="0" name='tecnico_de_seguranca'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>    				        				        				        	
						<div class="col-md-2 mb-3">
				            <label for="marketing">Marketing</label>
				            <input type="number" class="form-control" id="marketing" value="0" name='marketing'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
						<div class="col-md-2 mb-3">
				            <label for="auxiliar_administrativo">Auxiliar Adm.</label>
				            <input type="number" class="form-control" id="auxiliar_administrativo" value="0" name='auxiliar_administrativo'>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>
			    </div>
			  </div>

			  </div>


	      <div class="modal-footer">
	      	<button class="btn btn-success" type="submit">Cadastrar</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>










			<!-- Modal -->
	<div class="modal fade " id="modal_consulta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
	    	<div class="modal-content">
	     		<div class="modal-header">
	        		<h5 class="modal-title" id="exampleModalLabel" onclick="finalizaProjeto()">Informações do projeto</h5>
	        		<button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
					<h4 class="mb-3">Informações do cliente</h4>
					<div class="row">
					    <div class="col-md-12">
					      	<form class="needs-validation" id="consulta_projeto" action="/editar_projeto" method="post" novalidate>
						        <div class="row">
						            <div class="col-md-6 mb-3">
						              <label for="nome_lm">Nome do responsável LM</label>
						              <input type="text" class="form-control" id="recipient-nome_lm-modal_consulta" name='nome_lm' required>
						              <div class="invalid-feedback">
						                Precisa de um nome.
						              </div>
						            </div>
						          <div class="col-md-6 mb-3">
						            <label for="nome_cliente">Nome do responsável cliente</label>
						            <input type="text" class="form-control" id="recipient-nome_cliente-modal_consulta" placeholder="Novo usuário" name='nome_cliente'>
						            <div class="invalid-feedback">
						              Precisa de um nome.
						            </div>
						          </div>
						        </div>

						        <div class="row">

						          <div class="col-md-6 mb-3">
						              <label for="email_cliente">Email do cliente</label>
						              <input type="email" class="form-control" id="recipient-email_cliente-modal_consulta" placeholder="usuario@exemplo.com.br" name='email_cliente' >
						              <div class="invalid-feedback">
						                Por favor insira um e-mail válido.
						              </div>
						            </div>

						            <div class="col-md-6 mb-3">
						              <label for="telefone_cliente">Telefone do cliente</label>
						              <input type="tel" class="form-control" id="recipient-telefone_cliente-modal_consulta" pattern="\+[0-9]{2} \([0-9]{2}\) [0-9]{5}-[0-9]{4}" placeholder="+55 (48) 99636-0016" name='telefone_cliente' >
						              <div class="invalid-feedback">
						                Por favor insira um número de telefone, precisa ser no formato: +55 (48) 99636-0016
						              </div>
						            </div>
						        </div>

						        <div class="row">

							          <div class="col-md-6 mb-3">
							            <label for="nome_empresa">Nome da empresa do cliente</label>
							            <input type="text" class="form-control" id="recipient-nome_empresa-modal_consulta" placeholder="LMLogix Automação" name='nome_empresa' >
							            <div class="invalid-feedback">
							              Por favor insira um nome.
							            </div>
							          </div>

						          <div class="col-md-3 mb-3">
						            <label for="cnpj">CNPJ do cliente</label>
						            <input type="text" class="form-control" id="recipient-cnpj-modal_consulta" placeholder="04.580.206-0001.99" name='cnpj' >
						            <div class="invalid-feedback">
						              Por favor insira um CNPJ.
						            </div>
						          </div>


						          <div class="col-md-3 mb-3">
						            <label for="pais">País da obra</label>
						            <input type="text" class="form-control" id="recipient-pais-modal_consulta" placeholder="Brasil" name='pais' required >
						            <div class="invalid-feedback">
						              Por favor insira um país.
						            </div>
						          </div>
						        </div>

						        <div class="row">

						          <div class="col-md-3 mb-3">
						            <label for="cep">CEP</label>
						            <input type="text" class="form-control" id="recipient-cep-modal_consulta" placeholder="88801-010" name='cep' >
						            <div class="invalid-feedback">
						              Por favor insira um CEP.
						            </div>
						          </div>

						          <div class="col-md-3 mb-2">
						            <label for="cidade">Cidade da obra</label>
						            <input type="text" class="form-control" id="recipient-cidade-modal_consulta" placeholder="Criciúma" name='cidade' required >
						            <div class="invalid-feedback">
						              Por favor insira uma cidade válida.
						            </div>
						          </div>

						          <div class="col-md-2 mb-3">
						            <label for="estado">Estado da obra</label>
						            <input type="text" class="form-control" id="recipient-estado-modal_consulta" placeholder="Santa Catarina" name='estado' required >
						            <div class="invalid-feedback">
						              Por favor insira um estado válido.
						            </div>
						          </div>

						        </div>

						        <hr class="mb-4">
						        <h4 class="mb-3">Informações comerciais</h4>

						        <div class="row">

						          <div class="col-md-12 mb-3">
						            <label for="nome_obra">Nome da obra</label>
						            <input type="text" class="form-control" id="recipient-nome_obra-modal_consulta" placeholder="Retificadores GM" name='nome_obra' >
						            <div class="invalid-feedback">
						              Por favor insira uma descrição.
						            </div>
						          </div>

						        </div>

						        <div class="row">
						          <div class="col-md-3 mb-3">
						            <label for="tipo_projeto">Tipo do projeto</label>
						            <input class="form-control" id="recipient-tipo_projeto-modal_consulta" name='tipo_projeto' >
						            <div class="invalid-feedback">
						              Escolha um tipo de projeto válido.
						            </div>
						          </div>

						          <div class="col-md-2 mb-3">
						            <label for="olm">OLM</label>
						            <input type="text" class="form-control" id="recipient-olm-modal_consulta" placeholder="01633" name='olm' >
						            <div class="invalid-feedback">
						              Insira um número de OLM.
						            </div>
						          </div>

						          <div class="col-md-2 mb-3">
						            <label for="cc">CC</label>
						            <input type="text" class="form-control" id="recipient-cc-modal_consulta" placeholder="000170" name='cc' >
						            <div class="invalid-feedback">
						              Insira um número de CC válido.
						            </div>
						          </div>
						        	<div class="col-md-3 mb-3">
							            <label for="data">Data do pedido</label>
							            <input type="text" class="form-control" id="recipient-data-modal_consulta" name="data" >
							            <div class="invalid-feedback">
							              Precisa de uma data.
							            </div>
						          	</div>

						        	<div class="col-md-2 mb-3">
							            <label for="valor_pedido">Valor do pedido</label>
							            <input type="money" class="form-control" id="recipient-valor_pedido-modal_consulta" placeholder="123.00" min="0" max="10000" step="1" name='valor_pedido' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>

							        </div>
						        </div>

						        <hr class="mb-4">
						        <h4 class="mb-3">Recursos para materiais</h4>

						        <div id="recursos"></div>

						        <hr class="mb-4">
						        <h4 class="mb-3">Número de horas previstas para o projeto</h4>
								<div class="row">
									<div class="col-md-2 mb-3">
							            <label for="tecnico_em_automacao">T. Automação</label>
							            <input type="number" class="form-control" id="recipient-tecnico_em_automacao-modal_consulta" name='tecnico_em_automacao' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="projetista">Projetista</label>
							            <input type="number" class="form-control" id="recipient-projetista-modal_consulta" name='projetista' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="programador">Programador</label>
							            <input type="number" class="form-control" id="recipient-programador-modal_consulta" name='programador' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="coordenador_de_projetos">C. Projetos</label>
							            <input type="number" class="form-control" id="recipient-coordenador_de_projetos-modal_consulta" name='coordenador_de_projetos' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="coordenador_de_software">C. Software</label>
							            <input type="number" class="form-control" id="recipient-coordenador_de_software-modal_consulta" name='coordenador_de_software' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="coordenador_tecnico">C. Técnico</label>
							            <input type="number" class="form-control" id="recipient-coordenador_tecnico-modal_consulta" name='coordenador_tecnico'>
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>							        
									<div class="col-md-2 mb-3">
							            <label for="recursos_humanos">RH</label>
							            <input type="number" class="form-control" id="recipient-recursos_humanos-modal_consulta" name='recursos_humanos' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="compras">Compras</label>
							            <input type="number" class="form-control" id="recipient-compras-modal_consulta" name='compras' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="gerente_tecnico">G. Técnico</label>
							            <input type="number" class="form-control" id="recipient-gerente_tecnico-modal_consulta" name='gerente_tecnico' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="tecnico_de_seguranca">T. Segurança</label>
							            <input type="number" class="form-control" id="recipient-tecnico_de_seguranca-modal_consulta" name='tecnico_de_seguranca' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="marketing">Marketing</label>
							            <input type="number" class="form-control" id="recipient-marketing-modal_consulta" name='marketing' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>
									<div class="col-md-2 mb-3">
							            <label for="auxiliar_administrativo">Auxiliar Adm.</label>
							            <input type="number" class="form-control" id="recipient-auxiliar_administrativo-modal_consulta" name='auxiliar_administrativo' >
							            <div class="invalid-feedback">
							              Insira um número de horas válido.
							            </div>
							        </div>

						            <input type="text" class="form-control" id="recipient-status-modal_consulta" placeholder="123" name='status' required style="display: none;">
						        </div>
						        
					    </div>
					</div>
	    		</div>
		      	<div id='modal-footer' class="modal-footer">
		      		<button type="submit" class="btn btn-success">Alterar cadastro</button>
		      		<button id="abrir_fechar" type="button" class="btn btn-danger" onclick="modal_finalizar()" data-dismiss="modal">Finalizar</button>
		      		<button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
		      	</div>
	      					</form>
	  		</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_finalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Finalizar projeto</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente finalizar o projeto?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="finalizaProjeto()">Sim</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_reabrir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Reabrir projeto</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente reabrir o projeto?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="reabreProjeto()">Sim</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>













			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			<script type="text/javascript">


			var itens=1;
			function addItem(add_select){
				itens++;

				$('#'+add_select).append(`
			        <div class="row" id="recursos_row">

						<div class="col-md-4 mb-3">
							<label for="area_projeto`+itens+`">Área do projeto</label>
							<select class="custom-select d-block w-100" id="area_projeto`+itens+`" name='area_projeto`+itens+`'>
							  <option value="">Escolha...</option>
							  <option>Infraestrutura</option>
									<option>Cabeamento</option>
									<option>Seccionamento</option>
									<option>Painel elétrico</option>
									<option>Ferramentas</option>
									<option>Material de escritório</option>
									<option>Material de construção</option>
									<option>Instrumentação</option>
									<option>Acionamentos</option>
									<option>Gráfica</option>
									<option>NR12</option>
									<option>CLP</option>			              
							</select>
							<div class="invalid-feedback">
							  Escolha uma área do projeto.
							</div>
						</div>

						<div class="col-md-4 mb-3">
						    <label for="recurso_material`+itens+`">Recurso disponível</label>
						    <input type="money" class="form-control" id="recurso_material`+itens+`" placeholder="00,00" min="0" step="1" name='recurso_material`+itens+`'>
						    <div class="invalid-feedback">
						      Insira o valor disponível para compra de materiais.
						    </div>
						</div>

						<div class="col-md-4 mb-3">
						    <label for="limite_aprovacao`+itens+`">Limite para aprovação</label>
						    <input type="money" class="form-control" id="limite_aprovacao`+itens+`" placeholder="00,00" min="0" step="1" name='limite_aprovacao`+itens+`'>
						    <div class="invalid-feedback">
						      Insira o limite para a aprovação comercial automática.
						    </div>
						</div>				        		        	

			        </div>				
				`);
			}


				function modal_finalizar(){
					$('#modal_finalizar').modal('show');
				}

				function modal_reabrir(){
					$('#modal_reabrir').modal('show');
				}

				function volta(){
					$('#modal_consulta').modal('show');
				}



				function finalizaProjeto(){
					var cc= $('#recipient-cc-modal_consulta').val();
					$.ajax({
						type: 'POST',
						url:'/finalizaProjeto?cc='+cc,
						async: false
					}).done(function (data) {
		                console.log(data);

		                var table = $('#example').DataTable();
		            	table.ajax.reload();
		            });
				}

				function reabreProjeto(){
					var cc= $('#recipient-cc-modal_consulta').val();
					$.ajax({
						type: 'POST',
						url:'/reabreProjeto?cc='+cc,
						async: false
					}).done(function (data) {
		                console.log(data);

		                var table = $('#example').DataTable();
		            	table.ajax.reload();
		            });
				}

				document.getElementById('cnpj').addEventListener('input', function (e) {
			    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
			    e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '/' + x[4] + (x[5] ? '-' + x[5] : '');
			    });

			    document.getElementById('telefone_cliente').addEventListener('input', function (e) {
			    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,2})(\d{0,5})(\d{0,4})/);
			    e.target.value = !x[2] ? x[1] : '+' + x[1] + ' (' + x[2] + ') ' + x[3] + '-' + x[4];
			    });
				
				var url = "/list_users";

	            $.getJSON(url, function (data) {
	                $.each(data, function (index, value) {
	                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
	                    $('#nome_lm').append('<option value="' + value.nome + '">' + value.nome +  '</option>');
		                });
		        });
	         </script>

	        <script type="text/javascript">
			$( "#cnpj" ).keyup(function() {
			    numberval = $('#cnpj').val();
			    numberval = numberval.replace(/\D/g,'')

			    console.log(numberval.length)

			    if(numberval.length >= 14) {
			    console.log(numberval)

			    $.ajax({
			        type: "GET",
			        dataType: "json",
			        url: "/get_cnpj?cnpj=" + numberval, // replace 'PHP-FILE.php with your php file
			        data: {number: numberval},
			        success: function(data) {
			           $('#nome_empresa').val(data["nome"]);
			           $('#cep').val(data["cep"]);
			           $('#cidade').val(data["municipio"]);
			           $('#estado').val(data["uf"]);
			           $('#pais').val("Brasil");
			        },
			        error : function(){
			           alert('Some error occurred!');
			        }
			    });
			}});

			function modal_alterar(){
				$('#consulta_projeto').submit();
			}

			</script>

			</main>
  		</div>
  	</div>

  	<%- include('layouts/end_scripts') -%>
			
</body>

</html>