<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

    <head>
        <script async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
        <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
        
        <style type="text/css"></style><link href="styles_dashboard.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <style type="text/css">/* Chart.js */
        @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
        </style>

    </head>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_veiculos').load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {
    	var url = "/registro_veiculos";
/*
    	$.getJSON(url, function (data) {
	        $.each(data, function (index, value) {
	            // APPEND OR INSERT DATA TO SELECT ELEMENT.
	            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
	            });
        });*/

        var odometro = [];
        var placa_carro = [];
        var exc_km_oleo = [];
        var exc_dia_oleo = [];
        var exc_km_revisao = [];
        var exc_dia_revisao = [];
        var exc_seguro = [];
        var exc_licenciamento = [];
        var exc_checklist = [];

        $.ajax({
            type: 'post',
            url: "/getVeiculos",
            async: false,
            success: function (response) {

                var veiculo = [];
                var km = [];
                var k = 1;

		        var dataa = new Date();
		        var dia  = dataa.getDate().toString().padStart(2, '0');
		        var mes  = (dataa.getMonth()+1).toString().padStart(2, '0');
		        var ano  = dataa.getYear();
		        ano = ano.toString().substr(-2);
		    	var hoje = dia+"/"+mes+"/"+ano;
	            hoje = converter_data(hoje);

                for (i of response){
                	placa_carro.push(i['veiculo'])
	                km_inicial = i['inicial'];
	                km_final = i['final'];
	                km_oleo = i['km_oleo'];
	                km_revisao = i['km_revisao'];
	                var data_oleo = converter_data(i['data_oleo']);
	                var data_lic = converter_data(i['data_lic']);
	                var data_seg = converter_data(i['data_seg']);
	                var data_revisao = converter_data(i['data_revisao']);
	                var data_checklist = converter_data(i['data_checklist']);

	                var modelo;
	                var excedido_km_oleo;
	                var excedido_dia_oleo;
	                var excedido_km_revisao;
	                var excedido_dia_revisao;
	                var excedido_seguro;
	                var excedido_licenciamento;
	                var excedido_checklist;

	                if(km_final == null || km_final == undefined){
	                	km_final = km_inicial;
	                }
	                odometro.push(km_final)

	                excedido_km_oleo = km_final - km_oleo;
	                exc_km_oleo.push(excedido_km_oleo);

	                excedido_dia_oleo = hoje - data_oleo;
	                excedido_dia_oleo = excedido_dia_oleo/(3600*24*1000);
	                exc_dia_oleo.push(excedido_dia_oleo);  

	                excedido_km_revisao = km_final - km_revisao;
	                exc_km_revisao.push(excedido_km_revisao);

	                excedido_dia_revisao = hoje - data_revisao;
	                excedido_dia_revisao = excedido_dia_revisao/(3600*24*1000);
	                exc_dia_revisao.push(excedido_dia_revisao);

	                excedido_seguro = hoje - data_seg;
	                excedido_seguro = excedido_seguro/(3600*24*1000);
	                exc_seguro.push(excedido_seguro);                	                

	                excedido_licenciamento = hoje - data_lic;
	                excedido_licenciamento = excedido_licenciamento/(3600*24*1000);
	                exc_licenciamento.push(excedido_licenciamento);

	                excedido_checklist = hoje - data_checklist;
	                excedido_checklist = excedido_checklist/(3600*24*1000);
	                exc_checklist.push(excedido_checklist);         

			        k++;   
                }
            }
        });

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_veiculos',
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "id" },
	        	{ "data": "marca" },
	        	{ "data": "modelo" },
	        	{ "data": "placa" },
	            { "data": "km_oleo"},
	            { "data": "data_oleo" },
	            { "data": "data_lic" },
	            { "data": "data_seg" },
	            { "data": "km_revisao" },
	            { "data": "data_revisao" }
	        ],
	        "order": [[ 0, "asc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"left">t<"bottom"rlpi>'
        } );

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
	        var data = table.row( this ).data();

	        var n = 0;
	        var quilometragem;
	        for(i of placa_carro){
	        	if(data["placa"].replace('-','') == i){
	        		quilometragem = odometro[n];
	        		excedido_km_oleo = exc_km_oleo[n];
					excedido_dia_oleo = exc_dia_oleo[n];
					excedido_km_revisao = exc_km_revisao[n]; 
					excedido_dia_revisao = exc_dia_revisao[n];
					excedido_seguro = exc_seguro[n];
					excedido_licenciamento = exc_licenciamento[n];
					excedido_checklist = exc_checklist[n];
	        	}
	        	n++;
	        }

	        $('#odometro').val(quilometragem)
        	$('#excedido_km_oleo').val(excedido_km_oleo);
        	$('#excedido_dia_oleo').val(excedido_dia_oleo);
        	$('#excedido_km_revisao').val(excedido_km_revisao);
        	$('#excedido_dia_revisao').val(excedido_dia_revisao);
        	$('#excedido_seguro').val(excedido_seguro);
        	$('#excedido_licenciamento').val(excedido_licenciamento);	        
        	$('#excedido_checklist').val(excedido_checklist);
	        $('#modal_alterar').modal("show");

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#modal_alterar")
	        $("#modal_alterar").find('#recipient-id-modal2').val(data["id"])
	        $("#modal_alterar").find('#recipient-marca-modal2').val(data["marca"])
	        $("#modal_alterar").find('#recipient-modelo-modal2').val(data["modelo"])
	        $("#modal_alterar").find('#recipient-placa-modal2').val(data["placa"])
	        $("#modal_alterar").find('#recipient-km_oleo-modal2').val(data["km_oleo"])
	        $("#modal_alterar").find('#recipient-data_oleo-modal2').val(data["data_oleo"])
	        $("#modal_alterar").find('#recipient-data_lic-modal2').val(data["data_lic"])
	        $("#modal_alterar").find('#recipient-data_seg-modal2').val(data["data_seg"])
	        $("#modal_alterar").find('#recipient-km_revisao-modal2').val(data["km_revisao"])
	        $("#modal_alterar").find('#recipient-data_revisao-modal2').val(data["data_revisao"])
	        $("#modal_alterar").find('#recipient-data_checklist-modal2').val(data["data_checklist"])
	        $("#modal_alterar").modal();

    		$("#recipient-km_oleo-modal2").css({"backgroundColor":"white"});	
    		$("#excedido_km_oleo").css({"backgroundColor":"#E9ECEF"});

    		$("#recipient-data_oleo-modal2").css({"backgroundColor":"white"});	

    		$("#excedido_dia_oleo").css({"backgroundColor":"#E9ECEF"});    		

    		$("#recipient-km_revisao-modal2").css({"backgroundColor":"white"});	
        	$("#excedido_km_revisao").css({"backgroundColor":"#E9ECEF"});

    		$("#recipient-data_revisao-modal2").css({"backgroundColor":"white"});	
    		$("#excedido_dia_revisao").css({"backgroundColor":"#E9ECEF"});

    		$("#recipient-data_seg-modal2").css({"backgroundColor":"white"});	
    		$("#excedido_seguro").css({"backgroundColor":"#E9ECEF"});    		         	

    		$("#recipient-data_lic-modal2").css({"backgroundColor":"white"});	
        	$("#excedido_licenciamento").css({"backgroundColor":"#E9ECEF"});

    		$("#recipient-data_checklist-modal2").css({"backgroundColor":"white"});	
        	$("#excedido_checklist").css({"backgroundColor":"#E9ECEF"});        		        

        });

    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="ml-sm-auto col-lg-10 px-md-4">

  				<div class="pt-3 text-center">

				    <h2>Veículos cadastrados</h2>
				    <p class="lead">Consulte os veículos cadastrados ou cadastre um novo veículo no SARR</p>

				    <!-- show any messages that come back with authentication -->
				    <% if (message.length > 0) { %>
				      <div class="alert alert-success"><%= message %></div>
				    <% } %>

					<ol class="breadcrumb mb-2" style="padding: 7px">
	                    <li class="breadcrumb-item active"></li>
	                </ol>				    
				</div>				

				<div class="row" id="main">
	                <div class="container-fluid" id="page">
	                    <div class="row" id="row1">
	                    </div>
	                </div>
		        </div>				    

			    <button class="btn btn-primary " data-toggle='modal' data-target='#modal_cadastro' type="button">Cadastrar novo veículo</button>
			    <button class="btn btn-primary " data-toggle='modal' onclick="modal_configurar()" type="button">Configurações</button>

				<div class="row">

	                <div class="col-lg-12">
	                    <div class="panel panel-default">

	                        <!-- /.panel-heading -->
	                        <div class="panel-body">

	                        <table id="example" class="display" style="width:100%">
	                            <thead>
	                                <tr>
	                                	<th>Id</th>
	                                	<th>Marca</th>
	                                	<th>Modelo</th>
	                                	<th>Placa</th>
	                                    <th>Óleo (km)</th>
	                                    <th>Óleo (data)</th>
	                                    <th>Licenciamento</th>
	                                    <th>Seguro</th>
	                                    <th>Revisão (km)</th>
	                                    <th>Revisão (data)</th>
	                                </tr>
	                            </thead>
	                        </table>

	                        </div>
	                    </div>
	                </div>
	            </div>
			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			<script type="text/javascript">


			</script>

			</main>
  		</div>
  	</div>


	<!-- Modal -->
	<div class="modal fade " id="modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form class="needs-validation" id="formCadastroVeiculo" action="/newVeiculo" method="post" novalidate>


        	<div class="row">
        		<div class="col-md-4 mb-3">
        			<label for="marca">Marca</label>
		            <input type="text" class="form-control" id="marca" name="marca" required>
		            <div class="invalid-feedback">
		              Precisa de uma marca.
		            </div>
        		</div>

        		<div class="col-md-4 mb-3">
        			<label for="modelo">Modelo</label>
			            <input type="text" class="form-control" id="modelo" name="modelo" required>
			            <div class="invalid-feedback">
			              Precisa de um modelo.
			            </div>
        		</div>

        		<div class="col-md-4 mb-3">
        			<label for="placa">Placa</label>
			            <input type="text" class="form-control" id="placa" name="placa" pattern="[A-Za-z]{3}-[0-9]{4}" required>
			            <div class="invalid-feedback">
			              Precisa de uma placa.
			            </div>
        		</div>
        		
        	</div>


        	<div class="row">
        		<div class="col-md-6 mb-3">
        			<label for="kmOleo">Próxima troca de óleo (km)</label>
			            <input class="form-control" id="oleokm" name='oleokm' required>
			            <div class="invalid-feedback">
			              Informe a quilometragem da próxima troca de óleo.
			            </div>
        		</div>

        		<div class="col-md-6 mb-3">
        			<label for="dataOleo">Próxima troca de óleo (data)</label>
			            <input type="date" class="form-control" id="oleodata" name='oleodata' required>
			            <div class="invalid-feedback">
			              Informe a data da próxima troca de óleo.
			            </div>
        		</div>       		
        	</div>

        	<div class="row">
        		<div class="col-md-6 mb-3">
        			<label for="kmRev">Próxima revisão (km)</label>
			            <input class="form-control" id="revkm" name='revkm' required>
			            <div class="invalid-feedback">	
			              Informe a quilometragem da próxima revisão.
			            </div>
        		</div>

        		<div class="col-md-6 mb-3">
        			<label for="dataRev">Próxima revisão (data)</label>
			            <input type="date" class="form-control" id="dataRev" name='dataRev' required>
			            <div class="invalid-feedback">
			              Informe a data da próxima revisão.
			            </div>
        		</div>
        	</div>        	

        	<div class="row">
        		<div class="col-md-4 mb-3">
        			<label for="dataSeg">Data Seguro</label>
			            <input type="date" class="form-control" id="seg" name='seg' required>
			            <div class="invalid-feedback">
			              Informe a data do seguro.
			            </div>
        		</div>        		

        		<div class="col-md-4 mb-3">
        			<label for="dataLic">Data Licenciamento</label>
			            <input type="date" class="form-control" id="lic" name='lic' required>
			            <div class="invalid-feedback">
			              Informe a data do próximo licenciamento.
			            </div>
        		</div>

        		<div class="col-md-4 mb-3">
        			<label for="dataCheck">Data Checklist</label>
			            <input type="date" class="form-control" id="check" name='check' required>
			            <div class="invalid-feedback">
			              Informe a data do próximo checklist.
			            </div>
        		</div>
        	</div>
	     </div>

	      <div class="modal-footer">
	      	<button class="btn btn-success" type="submit">Cadastrar</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade " id="modal_alterar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Informações Veículo</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form class="needs-validation" id="formCadastroVeiculo" action="/update_Veiculo" method="post" novalidate>


        	<div class="row">
        		<div class="col-md-2 mb-3">
        			<label for="marca">ID</label>
		            <input type="text" class="form-control" id="recipient-id-modal2" name="id" required readonly="readonly">
        		</div>
        		<div class="col-md-2 mb-3">
        			<label for="placa">Placa</label>
			            <input type="text" class="form-control" id="recipient-placa-modal2" name="placa" required readonly="readonly">
			            <div class="invalid-feedback">
			              Precisa de uma placa.
			            </div>
        		</div>
        		<div class="col-md-3 mb-3">
        			<label for="marca">Marca</label>
		            <input type="text" class="form-control" id="recipient-marca-modal2" name="marca" required readonly="readonly">
		            <div class="invalid-feedback">
		              Precisa de uma marca.
		            </div>
        		</div>
        		<div class="col-md-3 mb-3">
        			<label for="modelo">Modelo</label>
			            <input type="text" class="form-control" id="recipient-modelo-modal2" name="modelo" required readonly="readonly">
			            <div class="invalid-feedback">
			              Precisa de um modelo.
			            </div>
        		</div>
        		<div class="col-md-2 mb-3">
        			<label for="odometro">Odômetro (km)</label>
		            <input type="text" class="form-control" id="odometro" name="odometro" required readonly="readonly">
        		</div>        		
        	</div>

    		<h5>Troca de óleo</h5>      		
        	<div class="row"> 
        		<div class="col-md-3 mb-3">
        			<label for="kmOleo">Próxima troca de óleo (km)</label>
		            <input class="form-control" id="recipient-km_oleo-modal2" name='km_oleo' required>
		            <div class="invalid-feedback">
		              Informe a quilometragem da próxima troca de óleo.
		            </div>
        		</div>
        		<div class="col-md-3 mb-3">
        			<label for="dataOleo">Quilômetros excedidos</label>
		            <input type="text" class="form-control" id="excedido_km_oleo" name='excedido_km_oleo' value="0" required readonly="readonly">
        		</div>        		
        		<div class="col-md-4 mb-3">
        			<label for="dataOleo">Próxima troca de óleo (data)</label>
		            <input type="text" class="form-control" id="recipient-data_oleo-modal2" name='data_oleo' required>
		            <div class="invalid-feedback">
		              Informe a data da próxima troca de óleo.
		            </div>
        		</div>
        		<div class="col-md-2 mb-3">
        			<label for="dataOleo">Dias excedidos</label>
		            <input type="text" class="form-control" id="excedido_dia_oleo" name='excedido_dia_oleo' value="0" required readonly="readonly">
        		</div>        		        		
        	</div>

        	<h5>Revisão</h5>
        	<div class="row">        		
        		<div class="col-md-3 mb-3">
        			<label for="kmRev">Próxima revisão (km)</label>
		            <input class="form-control" id="recipient-km_revisao-modal2" name='km_revisao' required>
		            <div class="invalid-feedback">	
		              Informe a quilometragem da próxima revisão.
		            </div>
        		</div>
        		<div class="col-md-3 mb-3">
        			<label for="dataOleo">Quilômetros excedidos</label>
		            <input type="text" class="form-control" id="excedido_km_revisao" name='excedido_km_revisao' value="0" required readonly="readonly">
        		</div>        		
        		<div class="col-md-4 mb-3">
        			<label for="dataRev">Próxima revisão (data)</label>
		            <input type="text" class="form-control" id="recipient-data_revisao-modal2" name='data_revisao' required>
		            <div class="invalid-feedback">
		              Informe a data da próxima revisão.
		            </div>
        		</div>
        		<div class="col-md-2 mb-3">
        			<label for="dataOleo">Dias excedidos</label>
		            <input type="text" class="form-control" id="excedido_dia_revisao" name='excedido_dia_revisao' value="0" required readonly="readonly">
        		</div>        		
        	</div>
	        
	        <h5>Seguro e licenciamento</h5>
        	<div class="row">         		
        		<div class="col-md-2 mb-3">
        			<label for="dataSeg">Data Seguro</label>
		            <input type="text" class="form-control" id="recipient-data_seg-modal2" name='data_seg' required>
		            <div class="invalid-feedback">
		              Informe a data do seguro.
		            </div>
        		</div>
        		<div class="col-md-3 mb-3">
        			<label for="dataOleo">Dias excedidos (seguro)</label>
		            <input type="text" class="form-control" id="excedido_seguro" name='excedido_seguro' value="0" required readonly="readonly">
        		</div>        		
        		<div class="col-md-3 mb-3">
        			<label for="dataLic">Data Licenciamento</label>
		            <input type="text" class="form-control" id="recipient-data_lic-modal2" name='data_lic' required>
		            <div class="invalid-feedback">
		              Informe a data do próximo licenciamento.
		            </div>
        		</div>
        		<div class="col-md-4 mb-3">
        			<label for="dataOleo">Dias excedidos (licenciamento)</label>
		            <input type="text" class="form-control" id="excedido_licenciamento" name='excedido_licenciamento' value="0" required readonly="readonly">
        		</div>         		
    		</div>

	        <h5>Checklist</h5>
        	<div class="row">         		       		
        		<div class="col-md-6 mb-3">
        			<label for="dataCheck">Data Checklist</label>
		            <input type="text" class="form-control" id="recipient-data_checklist-modal2" name='data_checklist' required>
		            <div class="invalid-feedback">
		              Informe a data do próximo checklist.
		            </div>
        		</div>
        		<div class="col-md-6 mb-3">
        			<label for="dataCheck">Dias excedidos (checklist)</label>
		            <input type="text" class="form-control" id="excedido_checklist" name='excedido_checklist' value="0" required readonly="readonly">
        		</div>         		
    		</div>    		

	     </div>

	      <div class="modal-footer">
	      	<button class="btn btn-success" type="submit">Alterar cadastro</button>
	      	<!--<button type="button" class="btn btn-danger" data-dismiss="modal">Desativar Veículo</button>-->
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade " id="modal_configuracoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Configurações</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form class="needs-validation" id="formCadastroVeiculo" action="/setVeiculo" method="post" novalidate>


        	<div class="row">
        		<div class="col-md-12 mb-3">
        			<label for="responsavel1">E-mail do primeiro responsável</label>
		            <div id="email_responsavel1"><input type="email" class="form-control" id="responsavel1" name="responsavel1" required></div>
		            <div class="invalid-feedback">
		              Precisa de um e-mail.
		            </div>
        		</div>
        	</div>

        	<div class="row">
        		<div class="col-md-12 mb-3">
        			<label for="responsavel1">E-mail do segundo responsável</label>
		            <div id="email_responsavel2"><input type="email" class="form-control" id="responsavel2" name="responsavel2" required></div>
		            <div class="invalid-feedback">
		              Precisa de um e-mail.
		            </div>
        		</div>
        	</div>

        	<div class="row">
        		<div class="col-md-6 mb-3">
        			<label for="km_limite">O sistema deve avisar quando faltarem quantos km?</label>
			            <input type="number" class="form-control" id="km_limite" name="km_limite" required>
			            <div class="invalid-feedback">
			              Precisa de uma quilometragem.
			            </div>
        		</div>
        		<div class="col-md-6 mb-3">
        			<label for="placa">O sistema deve avisar quando faltarem quantos dias?</label>
			            <input type="number" class="form-control" id="dias_limite" name="dias_limite" required>
			            <div class="invalid-feedback">
			              Precisa de uma quantidade de dias.
			            </div>
        		</div>        		        		
        	</div>
	     </div>


	      <div class="modal-footer">
	      	<button class="btn btn-success" type="submit">Alterar</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>	

  	<%- include('layouts/end_scripts') -%>

	<style>

	.bootstrap-select .btn {

		padding: .375rem .75rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;

		font-family: inherit;
	}

	</style> 

	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>

	<script type="text/javascript">

		$( document ).ready(function() {
			$("#placa").keyup(function(){
	            if ($(this).val().length == 3){
	                $(this).val($(this).val() + "-");
	            }
      		});
		});   

        var width = $(window).width();
        var min_width;
        if(width > 800){
            min_width = 350;
        }
        else{
            min_width = 300;
        }

        $.ajax({
            type: 'post',
            url: "/getVeiculos",
            async: false,
            success: function (response) {
                var veiculo = [];
                var km = [];
                var k = 1;

                var width = $(window).width();
                if(width > 800){
                    var min_width = '300px';
                    //var msg = 'Aviso: veículos em vermelho estão com irregularidade! Amarelos estão próximos à irregularidade.';
                    var font_size = '18px';
                }
                else{
                    var min_width = '100px';
                    //var msg = 'Vermelho indica irregularidade';
                    var font_size = '8px';
                }

		        $('#page').html(`
		            <div class="row mb-2" id="row_cards" style="justify-content: center;">
		            </div>
	            
		            <div class="row" id="row1">
		            </div>		            				        
		        `);

		        var dataa = new Date();
		        var dia  = dataa.getDate().toString().padStart(2, '0');
		        var mes  = (dataa.getMonth()+1).toString().padStart(2, '0');
		        var ano  = dataa.getYear();
		        ano = ano.toString().substr(-2);
		    	var hoje = dia+"/"+mes+"/"+ano;
	            hoje = converter_data(hoje);

				var email;
				var email2;
				var km_limite;
				var dias_limite;

		        $.ajax({
		            type: 'post',
		            url: "/get_set_veiculos",
		            async: false,
		            success: function (response) {
		            	email = response[0]['email'];
		            	email2 = response[0]['email2'];
		            	km_limite = response[0]['km_limite'];
		            	dias_limite = response[0]['dias_limite'];
		            }
		        });

                for (i of response){
                	var veiculo = i['veiculo'];
	                km_inicial = i['inicial'];
	                km_final = i['final'];
	                km_oleo = i['km_oleo'];
	                km_revisao = i['km_revisao'];
	                var data_oleo = converter_data(i['data_oleo']);
	                var data_lic = converter_data(i['data_lic']);
	                var data_seg = converter_data(i['data_seg']);
	                var data_revisao = converter_data(i['data_revisao']);
	                var data_checklist = converter_data(i['data_checklist']);

	                if(hoje >= data_oleo){
	                	color = 'danger';
	                }
	                else{
	                	color = 'success';
		                if(hoje >= data_lic){
		                	color = 'danger';
		                }
		                else{
		                	color = 'success';
			                if(hoje >= data_seg){
			                	color = 'danger';
			                }
			                else{
			                	color = 'success';
				                if(hoje >= data_revisao){
				                	color = 'danger';
				                }
				                else{
				                	color = 'success';
				                	if(hoje >= data_checklist){
				                		color = 'danger';
				                	}
				                	else{
				                		color = 'success';
				                	}
				                }	                	
			                }		                	
		                }
	                }

	                var modelo;
	                var color;
	                var color_km_oleo;
	                var color_dia_oleo;
	                var color_km_revisao;
	                var color_dia_revisao;
	                var color_seguro;
	                var color_licenciamento;
	                var color_checklist;
	                var excedido_km_oleo;
	                var excedido_dia_oleo;
	                var excedido_km_revisao;
	                var excedido_dia_revisao;
	                var excedido_seguro;
	                var excedido_licenciamento;
	                var excedido_checklist;

	                if(km_final == null || km_final == undefined){
	                	km_final = km_inicial;
	                }

	                excedido_km_oleo = km_final - km_oleo;
	                if(excedido_km_oleo < 0){
	                	color_dia_oleo = "#E9ECEF";
	                }
	                else{
	                	color_dia_oleo = "red";
	                	color = 'danger';	
	                }

	                excedido_dia_oleo = hoje - data_oleo;
	                excedido_dia_oleo = excedido_dia_oleo/(3600*24*1000);
	                if(excedido_dia_oleo < 0){
	                	if((dias_limite + excedido_dia_oleo) < 0){
	                		color_dia_oleo = "#E9ECEF";
	                	}
	                	else{
	                		color = 'bg-warning text-white';
	                	}
	                }
	                else{
	                	color_dia_oleo = "red";
	                	color = 'danger';
	                }

	                excedido_km_revisao = km_final - km_revisao;
	                if(excedido_km_revisao < 0){
	                	color_dia_revisao = "#E9ECEF";
	                }
	                else{
	                	color_dia_revisao = "red";
	                	color = 'danger';
	                }

	                excedido_dia_revisao = hoje - data_revisao;
	                excedido_dia_revisao = excedido_dia_revisao/(3600*24*1000);
	                if(excedido_dia_revisao < 0){
	                	if((dias_limite + excedido_dia_revisao) < 0){
	                		color_dia_revisao = "#E9ECEF";
	                	}
	                	else{
	                		color = 'bg-warning text-white';
	                	}
	                }
	                else{
	                	color_dia_revisao = "red";
	                	color = 'danger';
	                }	                

	                excedido_seguro = hoje - data_seg;
	                excedido_seguro = excedido_seguro/(3600*24*1000);
	                if(excedido_seguro < 0){
	                	if((dias_limite + excedido_seguro) < 0){
	                		color_seguro = "#E9ECEF";
	                	}
	                	else{
	                		color = 'bg-warning text-white';
	                	}
	                }
	                else{
	                	color_seguro = "red";
	                	color = 'danger';
	                }		                

	                excedido_licenciamento = hoje - data_lic;
	                excedido_licenciamento = excedido_licenciamento/(3600*24*1000); 
	                if(excedido_licenciamento < 0){
	                	if((dias_limite + excedido_licenciamento) < 0){
	                		color_licenciamento = "#E9ECEF";
	                	}
	                	else{
	                		color = 'bg-warning text-white';
	                	}
	                }
	                else{
	                	color_licenciamento = "red";
	                	color = 'danger';
	                }

	                excedido_checklist = hoje - data_checklist;
	                excedido_checklist = excedido_checklist/(3600*24*1000); 
	                if(excedido_checklist < 0){
	                	if((dias_limite + excedido_checklist) < 0){
	                		color_checklist = "#E9ECEF";
	                	}
	                	else{
	                		color = 'bg-warning text-white';
	                	}
	                }
	                else{
	                	color_checklist = "red";
	                	color = 'danger';
	                }	                

	        		modelo = i['modelo'];
	            	if(modelo.includes(' ')){
	            		modelo = modelo.split(" ");
	            		modelo = modelo[0]+' '+modelo[1]+' ('+i['veiculo']+')';
	            	}
	            	else{
	            		modelo = modelo+' '+'('+i['veiculo']+')'; 
	            	}
	            	
                    if(km_final >= km_oleo){
                    	color = 'danger';
                    	color_km_oleo = "red";
                    }
                    else if(km_final >= (km_oleo - km_limite)){
                    	if(color != 'danger'){
                    		color = 'bg-warning text-white';
                    	}
                    	color_km_oleo = "#E9ECEF";                    	
                    }
                    else{
                    	if(color != 'danger' && color != 'bg-warning' && color != 'bg-warning text-white'){
                    		color = 'success';
                    	}
                    	color_km_oleo = "#E9ECEF";             	
                    }

                    if(km_final > km_revisao){
                    	color = 'danger';
                    	color_km_revisao = "red";               	
                    }
                    else if(km_final >= (km_revisao - km_limite) && color != 'danger'){
                    	if(color != 'danger'){
                    		color = 'bg-warning text-white';
                    	}
                    	color_km_revisao = "#E9ECEF";                  	
                    }
                    else{
                    	color_km_revisao = "#E9ECEF";                      	
                    }       

                    if(color == 'danger'){
						$('.alert').addClass("show");
						$('.alert').removeClass("hide");
						$('.alert').addClass("showAlert");
						setTimeout(function(){
							$('.alert').removeClass("show");
							$('.alert').addClass("hide");
							$('.alert').hide();
						},6000);              	
                    }

			        $('#row_cards').append(`
			            <div class="col-md-4">
			                <div class="card-counter `+color+`">
			                    <a type="button" onClick="select_carro(`+k+`,'`+color_km_oleo+`','`+color_dia_oleo+`','`+color_km_revisao+`','`+color_dia_revisao+`','`+color_seguro+`','`+color_licenciamento+`','`+color_checklist+`','`+excedido_km_oleo+`','`+excedido_dia_oleo+`','`+excedido_km_revisao+`','`+excedido_dia_revisao+`','`+excedido_seguro+`','`+excedido_licenciamento+`','`+excedido_checklist+`','`+km_final+`','`+veiculo+`')">                       
			                        <i id="info`+k+`_image" class="fa fa-car"></i>
			                        <span class="count-numbers" id="info`+k+`_valor"></span>
			                        <span class="count-name" id="info`+k+`_nome"></span>
			                    </a>
			                </div>
			            </div>				        
			        `);
			        
			        editar_info(k,modelo,km_final);
			        k++;   
                }
            }
        });

        $('#row1').html(`
            <div class="col" style="min-width: `+min_width+`px;">
                <div class="card mb-4" id="card1" style="height: 21rem;">
                    <div class="card-header bg-dark text-white">
                        <a class="text-decoration-none" type="button" id="dropdownTitulo1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div id="icone1"></div></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownTitulo1">
                            <form id="form_titulo1" onsubmit="titulo_grafico(1)" autocomplete="off">
                                <label class="dropdown-item" for="input_titulo1">Título do gráfico</label>
                                <input id="input_titulo1" align="center">
                            </form>
                        </div>                                     
                    </div>
                    <div class="card-body bg-light" id="card-body-1">
                        <div id="grafico1" style="height: 250px;">
                            <canvas id="canvas1" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>                               
                </div>
            </div>
            <div class="col" style="min-width: `+min_width+`px;">
                <div class="card mb-4" id="card2" style="height: 21rem;">
                    <div class="card-header bg-dark text-white" style="z-index: 1;">
                        <a class="text-decoration-none" type="button" id="dropdownTitulo2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div id="icone2"></div></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownTitulo2">
                            <form id="form_titulo2" onsubmit="titulo_grafico(2)" autocomplete="off">
                                <label class="dropdown-item" for="input_titulo2">Título do gráfico</label>
                                <input id="input_titulo2" align="center">
                            </form>
                        </div>                                     
                    </div>
                    <div class="card-body bg-light" id="card-body-2">
                        <div id="grafico2" style="height: 250px; position: relative; bottom: 60px;">
                            <canvas id="canvas2" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div id="js-legend2" class="chart-legend" style="position: relative; bottom: 0px; right: 5px; width: 150px">
                            <p id="js-legend-title2" style="text-align: center;"></p>         
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="min-width: `+min_width+`px;">
                <div class="card mb-4" id="card3" style="height: 21rem;">
                    <div class="card-header bg-dark text-white" style="z-index: 1;">
                        <a class="text-decoration-none" type="button" id="dropdownTitulo3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div id="icone3"></div></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownTitulo3">
                            <form id="form_titulo3" onsubmit="titulo_grafico(3)" autocomplete="off">
                                <label class="dropdown-item" for="input_titulo3">Título do gráfico</label>
                                <input id="input_titulo3" align="center">
                            </form>
                        </div>                                     
                    </div>
                    <div class="card-body bg-light" id="card-body-3">
                        <div id="grafico3" style="height: 250px; position: relative; bottom: 60px;">
                            <canvas id="canvas3" class="chartjs-render-monitor"></canvas>
                        </div>
                        <div id="js-legend3" class="chart-legend" style="position: relative; bottom: 0px; right: 5px; width: 150px">
                            <p id="js-legend-title3" style="text-align: center;"></p>         
                        </div>
                    </div>
                </div>
            </div>            
        `);         

        var icone_barra = `<svg class="svg-inline--fa fa-chart-bar fa-w-16 mr-1" height="15px" style="position: relative; bottom: 2px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-bar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M332.8 320h38.4c6.4 0 12.8-6.4 12.8-12.8V172.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h38.4c6.4 0 12.8-6.4 12.8-12.8V76.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v230.4c0 6.4 6.4 12.8 12.8 12.8zm-288 0h38.4c6.4 0 12.8-6.4 12.8-12.8v-70.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v70.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h38.4c6.4 0 12.8-6.4 12.8-12.8V108.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v198.4c0 6.4 6.4 12.8 12.8 12.8zM496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>`;

        var tipo_do_grafico = ['barra', 'km_oleo', 'km_revisao'];
        var inform = [];
        var dado = [];
        var period = [];
        var titulo_legenda = [];
        var order = 'total';
        var escala = [];
        var eixo_x = [];
        var eixo_y = [];
        var anoMesDia = [];
        var date = [];
        var cc = [];
        var status_nota = [];

        var count=4;
        var teste = 0;

        graficos = {};
        myPieChart = {};

        cria('graph1');
        $('#tipo_grafico2').val('');
        cria('graph2');
        $('#tipo_grafico3').val('');
        cria('graph3');

        var ncard=3;
        var nrow=1;         

        function cria(idPai){
            var id = idPai.replace(/\D/g, "");
            inform[id-1] = 'deslocamentos';
            dado[id-1] = 'cc';
            titulo_legenda[id-1] = 'CC';
            period[id-1] = 2020;
            escala[id-1] = 'mes';
            anoMesDia[id-1] = 'ano';
            eixo_x[id-1] = 'Centro de custo';
            eixo_y[id-1] = 'Deslocamento (km)';
            status_nota[id-1] = 'lancada';

            $('#botao1_grafico'+id).hide();
            $('#botao2_grafico'+id).hide();
            $('#botao3_grafico'+id).hide();

        	$('#grafico'+id).html(`<canvas id="canvas`+id+`" class="chartjs-render-monitor"></canvas>`);

            var datasetLabel = inform[id - 1];

            var labels = []
            var dataset = []
            var labelsPieChart = [];
            var datasetPie = [];
            var tipoDoGrafico = 0;
            
			var email;
			var email2;
			var km_limite;
			var dias_limite;

	        $.ajax({
	            type: 'post',
	            url: "/get_set_veiculos",
	            async: false,
	            success: function (response) {
	            	email = response[0]['email'];
	            	email2 = response[0]['email2'];
	            	km_limite = response[0]['km_limite'];
	            	dias_limite = response[0]['dias_limite'];
	            }
	        });

            if(tipo_do_grafico[id - 1] == 'barra')
            {
                $('#card-body-'+id).html(`
                    <div class="grafico" id="grafico`+id+`" style="height: 250px;">
                        <canvas id="canvas`+id+`" class="chartjs-render-monitor"></canvas>
                    </div>
                `);
                var labels_dataset = (ajax_barra(inform[id-1], dado[id-1], period[id-1], order, escala[id-1], labels, dataset, status_nota[id-1]));
                labels = labels_dataset[0];
                dataset = labels_dataset[1];
            }
            else if(tipo_do_grafico[id-1] == 'km_oleo'){
                var titulo = 'Troca de óleo (km)';
                $('#icone'+id).html(icone_barra+titulo);

                $('#card-body-'+id).html('');

                $.ajax({
                    type: 'post',
                    url: "/progressoTrocaOleo",
                    async: false,
                    success: function (response) {
                        var k = 1;
                        for(i of response){
                        	var inicial = i['inicial'];
                        	var final = i['final'];

                        	if(final == undefined){
                        		final = inicial
                        	}

                            var percent = ((final-(i['km_oleo']-7000))/(7000)*100);
                            var percent2 = percent;

                            var veiculo = i['veiculo'];

                            if(percent < 20){
                                percent2 = percent2 + 20;
                            }

                        	if(final >= i['km_oleo']){
                        		var cor = 'bg-danger';
                        	}
		                    else if(final >= (i['km_oleo'] - km_limite)){
		                    	cor = 'bg-warning';
		                    }                        	
                        	else{
                        		var cor = 'bg-success';
                        	}                            

                            $('#card-body-'+id).append(`
                                <div class="d-flex justify-content-between">
                                    <div>`+veiculo+`</div>
                                    <div>`+i['km_oleo']+` km</div>
                                </div>                                            
                                <div class="progress" id="progresso`+k+`">
                                    <div class="progress-bar `+cor+` progress-bar-striped progress-bar-animated" role="progressbar" style="width: `+percent2+`%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">`+final+` km
                                    </div>
                                </div>
                            `);

                            $('#card-body-'+id).css({"overflow-y": "auto"});
                            k++;
                        }
                    }
                })
            }
            else if(tipo_do_grafico[id-1] == 'km_revisao'){
                var titulo = 'Revisão (km)';
                $('#icone'+id).html(icone_barra+titulo);

                $('#card-body-'+id).html('');

                $.ajax({
                    type: 'post',
                    url: "/progressoRevisao",
                    async: false,
                    success: function (response) {
                        var k = 1;
                        for(i of response){
	                    	var inicial = i['inicial'];
	                    	var final = i['final'];

	                    	if(final == undefined){
	                    		final = inicial
	                    	}

                            var percent = ((final-(i['km_revisao']-10000))/(10000)*100);
                            var percent2 = percent;

                            var veiculo = i['veiculo'];

                            if(percent < 20){
                                percent2 = percent2 + 10;
                            }

                        	if(final >= i['km_revisao']){
                        		var cor = 'bg-danger';
                        	}
		                    else if(final >= (i['km_revisao'] - km_limite)){
		                    	var cor = 'bg-warning';
		                    }                        	
                        	else{
                        		var cor = 'bg-success';
                        	}                            

                            $('#card-body-'+id).append(`
                                <div class="d-flex justify-content-between">
                                    <div>`+veiculo+`</div>
                                    <div>`+i['km_revisao']+` km</div>
                                </div>                                            
                                <div class="progress" id="progresso`+k+`">
                                    <div class="progress-bar `+cor+` progress-bar-striped progress-bar-animated" role="progressbar" style="width: `+percent2+`%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">`+final+` km
                                    </div>
                                </div>                                        
                            `);

                            $('#card-body-'+id).css({"overflow-y": "auto"});
                            k++;
                        }
                    }
                })            	
            }
            
            if(tipo_do_grafico[id - 1] == 'barra'){
            	var titulo = ' '+inform[id-1]+' x '+dado[id-1];
            	$('#icone'+id).html(icone_barra+titulo);

                tipoDoGrafico = 1;
                barChartData = {
                    labels: labels,
                    datasets: [{
                        label: datasetLabel,
                        backgroundColor: 'rgba(220, 50, 50, 10)',
                        borderColor: 'rgba(100, 100, 100, 255)',
                        borderWidth: 1,
                        data: dataset
                    }]
                };
            }          

            if(tipoDoGrafico == 1)
            {
                var ctx = document.getElementById('canvas'+id).getContext('2d');
                            
                graficos[idPai] = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {                                                              
                        maintainAspectRatio: false,
                        responsive: true,
                        legend: {
                            display: false,
                            position: 'top',
                        },                               
                        title: {
                            display: false,
                        },
                        tooltips: {
				            mode: 'label', 
			                label: 'mylabel', 
                            callbacks: { 
                                label: function(tooltipItem, data) {
                                        return tooltipItem.yLabel.toLocaleString('pt-BR');
                                }, 
                           }, 
				        }, 
						plugins: {
							datalabels: {
							  formatter: (value, ctx) => {
							    return null;
							  },
							  color: '#fff',
							},
						},
                        scales: {
                            yAxes: [{
                              scaleLabel: {                                       
                                display: true,
                                labelString: eixo_y[id-1],                                        
                              },
                            }],                                   
                            xAxes: [{
                              scaleLabel: {                                     
                                display: true,
                                labelString: eixo_x[id-1],
                              },
                            }],
                        }                            					        
                    }
                });

                $('#main').append(`
                   <!-- Modal -->
                    <div class="modal fade" id="alterarVariavelX`+id+`" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel`+id+`" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel`+id+`">Alterar eixo x</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form onsubmit="return false;" class="needs-validation" method="post" novalidate>
                            <div class="modal-body">
                                <div class="row"  id="modal_row`+id+`">
                                    <div class="col-md-7 mb-3">
                                      <div class="form-group">
                                        <label for="eixo_x`+id+`" class="col-form-label">Título do eixo x:</label>
                                        <input type="text" class="form-control" id="nome_eixo_x`+id+`" name="eixo_x`+id+`">
                                      </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                      <div class="form-group">
                                        <label for="eixo_x`+id+`" class="col-form-label">Variável do eixo x:</label>
                                        <select class="form-control" name="eixo_x`+id+`" id="variavel_eixo_x`+id+`" onchange="select_data(`+id+`, this.value)">
                                          <option value="cc" selected>Centro de custo</option>
                                          <option value="data">Data</option>
                                          <option value="colaborador">Colaborador</option>
                                        </select>                            
                                      </div>
                                    </div>                             
                                    <div class="col-md-5 mb-3">
                                      <div class="form-group">
                                        <label for="periodo`+id+`" class="col-form-label">Período:</label>
                                        <select class="form-control" name="periodo`+id+`" id="periodo`+id+`">
                                          <option value="Todos">Todos</option>
                                          <option value="2020" selected>2020</option>
                                          <option value="2021">2021</option>
                                        </select>                            
                                      </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="alterar_eixo_x(`+id+`)">Confirmar</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                `);                        

                $('#main').append(`
                    <!-- Modal -->
                    <div class="modal fade" id="alterarVariavelY`+id+`" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelY`+id+`" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelY`+id+`">Alterar eixo y</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form onsubmit="return false;" class="needs-validation" method="post" novalidate>
                            <div class="modal-body">
                                <div class="row"  id="modal_rowY`+id+`">
                                    <div class="col-md-7 mb-3">
                                      <div class="form-group">
                                        <label for="nome_eixo_y`+id+`" class="col-form-label">Título do eixo y:</label>
                                        <input type="text" class="form-control" id="nome_eixo_y`+id+`" name="nome_eixo_y`+id+`">
                                      </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                      <div class="form-group">
                                        <label for="variavel_eixo_y`+id+`" class="col-form-label">Variável do eixo y:</label>
                                        <select class="form-control" name="variavel_eixo_y`+id+`" id="variavel_eixo_y`+id+`">
                                          <option value="despesas" selected>Despesas</option>
                                          <option value="deslocamentos">Deslocamentos</option>
                                          <option value="abastecimento">Abastecimentos</option>
                                          <option value="horas">Horas</option>
                                        </select>                        
                                      </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                      <div class="form-group">
                                        <label for="status`+id+`" class="col-form-label">Status</label>
                                        <select class="form-control" name="status`+id+`" id="status`+id+`">
                                          <option value="lancada" selected>Lançados</option>
                                          <option value="todos">Todos</option>
                                        </select>                      
                                      </div>
                                    </div>                      
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="alterar_eixo_y(`+id+`)">Confirmar</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                `)
            }
        }

        function ajax_barra(inform, dado, period, order, escala, labels, dataset, status)
        {
            $.ajax({
                type: 'post',
                url: "/getDataVeiculo",
                async: false,
                success: function (response) {     
                    if(response == '')
                    { 
                        var tamanho = graficos[idPai].data.datasets[0].data.length;

                        for(i=0;i<tamanho;i++)
                        {
                            graficos[idPai].data.labels.pop();
                            graficos[idPai].data.datasets[0].data.pop();
                        }
                        
                        eixo_x[id-1] = `Sem dados para os parâmetros selecionados`;
                        graficos[idPai].options.scales.xAxes[0].scaleLabel.labelString = eixo_x[id-1];
                        graficos[idPai].update(); 
                    }
                    else
                    {                      
                        for (i of response){
                            labels.push(i['cc']);

                            var total = i['km'];
                        	if(total != null){
                            	total = total.toFixed(2);
                        	}
                            dataset.push(total);
                        }
                    }
                }
            })
            return [labels, dataset];
        }

        function editar_info(posicao, nome, valor)
        {
            $(`#info`+posicao+`_valor`).html(valor.toLocaleString('pt-BR')+' km');
            $(`#info`+posicao+`_nome`).html(nome);
        }

        function select_carro(k,color_km_oleo,color_dia_oleo,color_km_revisao,color_dia_revisao,color_seguro,color_licenciamento,color_checklist,excedido_km_oleo,excedido_dia_oleo,excedido_km_revisao,excedido_dia_revisao,excedido_seguro,excedido_licenciamento,excedido_checklist,km_final,veiculo){
        	if(color_km_oleo == 'red'){
        		$("#recipient-km_oleo-modal2").css({"backgroundColor":color_km_oleo});
        	}
        	else{
        		$("#recipient-km_oleo-modal2").css({"backgroundColor":"white"});	
        	}
    		$("#excedido_km_oleo").css({"backgroundColor":color_km_oleo});

        	if(color_dia_oleo == 'red'){
        		$("#recipient-data_oleo-modal2").css({"backgroundColor":color_dia_oleo});
        	}
        	else{
        		$("#recipient-data_oleo-modal2").css({"backgroundColor":"white"});	
        	}
    		$("#excedido_dia_oleo").css({"backgroundColor":color_dia_oleo});    		

        	if(color_km_revisao == 'red'){
        		$("#recipient-km_revisao-modal2").css({"backgroundColor":color_km_revisao});
        	}
        	else{
        		$("#recipient-km_revisao-modal2").css({"backgroundColor":"white"});	
        	}
        	$("#excedido_km_revisao").css({"backgroundColor":color_km_revisao});

        	if(color_dia_revisao == 'red'){
        		$("#recipient-data_revisao-modal2").css({"backgroundColor":color_dia_revisao});
        	}
        	else{
        		$("#recipient-data_revisao-modal2").css({"backgroundColor":"white"});	
        	}
    		$("#excedido_dia_revisao").css({"backgroundColor":color_dia_revisao});

        	if(color_seguro == 'red'){
        		$("#recipient-data_seg-modal2").css({"backgroundColor":color_seguro});
        	}
        	else{
        		$("#recipient-data_seg-modal2").css({"backgroundColor":"white"});	
        	}
    		$("#excedido_seguro").css({"backgroundColor":color_seguro});    		         	

        	if(color_licenciamento == 'red'){
        		$("#recipient-data_lic-modal2").css({"backgroundColor":color_licenciamento});
        	}
        	else{
        		$("#recipient-data_lic-modal2").css({"backgroundColor":"white"});	
        	}  
        	$("#excedido_licenciamento").css({"backgroundColor":color_licenciamento});

        	if(color_checklist == 'red'){
        		$("#recipient-data_checklist-modal2").css({"backgroundColor":color_checklist});
        	}
        	else{
        		$("#recipient-data_checklist-modal2").css({"backgroundColor":"white"});	
        	}  
        	$("#excedido_checklist").css({"backgroundColor":color_checklist});

        	$('#excedido_km_oleo').val(excedido_km_oleo);
        	$('#excedido_dia_oleo').val(excedido_dia_oleo);
        	$('#excedido_km_revisao').val(excedido_km_revisao);
        	$('#excedido_dia_revisao').val(excedido_dia_revisao);
        	$('#excedido_seguro').val(excedido_seguro);
        	$('#excedido_licenciamento').val(excedido_licenciamento);
        	$('#excedido_checklist').val(excedido_checklist);

        	$('#odometro').val(km_final);

        	var table = $('#example').DataTable();
        	var tabela = document.getElementById('example').rows;

        	var indice_carro;

        	for(i in tabela){
        		var carro = document.getElementById('example').rows[i].cells[2].innerHTML;
        		var placa = veiculo;

        		placa = placa.replace('-','');
            	if(carro.includes(' ')){
            		carro = carro.split(" ");
            		carro = carro[0]+' '+carro[1];
            	}

        		carro = carro+' ('+placa+')';

            	if(carro == $('#info'+k+'_nome').html()){
            		indice_carro = i-1;
            		break;
            	}
        	}

	        var data = table.row(indice_carro).data();

	        $('#modal_alterar').modal("show");

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#modal_alterar")
	        $("#modal_alterar").find('#recipient-id-modal2').val(data["id"])
	        $("#modal_alterar").find('#recipient-marca-modal2').val(data["marca"])
	        $("#modal_alterar").find('#recipient-modelo-modal2').val(data["modelo"])
	        $("#modal_alterar").find('#recipient-placa-modal2').val(data["placa"])
	        $("#modal_alterar").find('#recipient-km_oleo-modal2').val(data["km_oleo"])
	        $("#modal_alterar").find('#recipient-data_oleo-modal2').val(data["data_oleo"])
	        $("#modal_alterar").find('#recipient-data_lic-modal2').val(data["data_lic"])
	        $("#modal_alterar").find('#recipient-data_seg-modal2').val(data["data_seg"])
	        $("#modal_alterar").find('#recipient-km_revisao-modal2').val(data["km_revisao"])
	        $("#modal_alterar").find('#recipient-data_revisao-modal2').val(data["data_revisao"])
	        $("#modal_alterar").find('#recipient-data_checklist-modal2').val(data["data_checklist"])
	        $("#modal_alterar").modal();        	
        }

		function converter_data(date){
			var format = "dd/mm/yy";
			var delimiter = "/";
            var formatLowerCase=format.toLowerCase();
            var formatItems=formatLowerCase.split(delimiter);
            var dateItems=date.split(delimiter);
            var monthIndex=formatItems.indexOf("mm");
            var dayIndex=formatItems.indexOf("dd");
            var yearIndex=formatItems.indexOf("yy");
            var month=parseInt(dateItems[monthIndex]);
            month-=1;
            var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
            return formatedDate;
        }

        function modal_configurar(){
			var email;
			var email2;
			var km_limite;
			var dias_limite;
			var emails = [];

	        $.ajax({
	            type: 'post',
	            url: "/get_set_veiculos",
	            async: false,
	            success: function (response) {
	            	email = response[0]['email'];
	            	email2 = response[0]['email2'];
	            	km_limite = response[0]['km_limite'];
	            	dias_limite = response[0]['dias_limite'];
	            }
	        })

	        $.ajax({
	            type: 'post',
	            url: "/get_emails",
	            async: false,
	            success: function (response) {
	            	for(i of response){
	            		emails.push(i['email']);
	            	}
	            }
	        })	        

	        $("#modal_configuracoes").modal("show");
	        $("#modal_configuracoes").find('#km_limite').val(km_limite);
	        $("#modal_configuracoes").find('#dias_limite').val(dias_limite);

	        var option = [];
	        var k = 0;

	        for(i of emails){
	        	if(emails[k] == email){
	        		option[k] = `<option value=`+i+` selected>`+i+`</option>`;	
	        	}
	        	else{
	        		option[k] = `<option value=`+i+`>`+i+`</option>`;
	        	}
	        	k++;
	        }

	        $('#email_responsavel1').html(`
	            <select class="form-control" name="responsavel1" id="responsavel1">
	              `+option+`
	            </select>  
	        `);

	        $('#email_responsavel2').html(`
	            <select class="form-control" name="responsavel2" id="responsavel2">
	              `+option+`
	            </select>  
	        `);	        
        }   

	</script>

			
</body>

</html>