<!doctype html>
<html lang="en">
    <%- include('layouts/head') -%>
    <!-- Custom styles for this template -->
    <link href="/felipe/signin.css" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" action="/check_code" method="post">
      <img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170">
      <h1 class="h3 mb-3 font-weight-normal">Enviamos um código para o seu e-mail</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length >0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <p class="lead">O código expira em dois minutos.</p>
      <input type="" value="<%= email %>" name="email" style="display: none;">

      <label for="inputPassword" class="sr-only">Código</label>
      <input type="text" name="code" id="code" class="form-control" placeholder="Informe o código" required>

      <button class="btn btn-primary btn-block mb-2 mt-2" type="submit">Confirmar</button>
      <button class="btn btn-secondary btn-block mb-2 mt-2" type="button" onclick="voltar();">Cancelar</button>

      <br>
      <br>
      <br>
        
      <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>


    </form>


</body>
</html>

<script type="text/javascript">
  function voltar()
  {
    window.location="/login";
  }
</script>