<p> - Projetos</p>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="planejamento_projetos">Planejamento</label>
				            <input type="number" class="form-control" id="planejamento_projetos" placeholder="123" name='planejamento_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="instalacao_projetos">Instalação</label>
				            <input type="number" class="form-control" id="instalacao_projetos" placeholder="123" name='instalacao_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="comissionamento_projetos">Comissionamento</label>
				            <input type="number" class="form-control" id="comissionamento_projetos" placeholder="123" name='comissionamento_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="startup_projetos">Startup</label>
				            <input type="number" class="form-control" id="startup_projetos" placeholder="123" name='startup_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="acompanhamento_projetos">Acompanhamento</label>
				            <input type="number" class="form-control" id="acompanhamento_projetos" placeholder="123" name='acompanhamento_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="documentacao_projetos">Documentação</label>
				            <input type="number" class="form-control" id="documentacao_projetos" placeholder="123" name='documentacao_projetos' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>
				    <p> - Coordenação</p>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="planejamento_coordenacao">Planejamento</label>
				            <input type="number" class="form-control" id="planejamento_coordenacao" placeholder="123" name='planejamento_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="instalacao_coordenacao">Instalação</label>
				            <input type="number" class="form-control" id="instalacao_coordenacao" placeholder="123" name='instalacao_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="comissionamento_coordenacao">Comissionamento</label>
				            <input type="number" class="form-control" id="comissionamento_coordenacao" placeholder="123" name='comissionamento_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="startup_coordenacao">Startup</label>
				            <input type="number" class="form-control" id="startup_coordenacao" placeholder="123" name='startup_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="acompanhamento_coordenacao">Acompanhamento</label>
				            <input type="number" class="form-control" id="acompanhamento_coordenacao" placeholder="123" name='acompanhamento_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="documentacao_coordenacao">Documentação</label>
				            <input type="number" class="form-control" id="documentacao_coordenacao" placeholder="123" name='documentacao_coordenacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>
				    <p> - Seguranca do trabalho</p>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="planejamento_tst">Planejamento</label>
				            <input type="number" class="form-control" id="planejamento_tst" placeholder="123" name='planejamento_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="instalacao_tst">Instalação</label>
				            <input type="number" class="form-control" id="instalacao_tst" placeholder="123" name='instalacao_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="comissionamento_tst">Comissionamento</label>
				            <input type="number" class="form-control" id="comissionamento_tst" placeholder="123" name='comissionamento_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="startup_tst">Startup</label>
				            <input type="number" class="form-control" id="startup_tst" placeholder="123" name='startup_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="acompanhamento_tst">Acompanhamento</label>
				            <input type="number" class="form-control" id="acompanhamento_tst" placeholder="123" name='acompanhamento_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="documentacao_tst">Documentação</label>
				            <input type="number" class="form-control" id="documentacao_tst" placeholder="123" name='documentacao_tst' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>