<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

	<script type="text/javascript" class="init">
	
	function atualiza_tabela () {

	    var_id = $('#nome').val();

	    var table = $('#example').DataTable();
	    table.ajax.url('/list_permissions_pages?id=' + var_id).load()
        table.ajax.reload();
	}

    $(document).ready(function() {

        $('#example').DataTable( {
            ajax: {
	        url: '/list_permissions_pages',
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "paginas" },
	            { "data": "Acesso" }
	        ],
            responsive: true,
            select: true,
            dom: '<"top"Bf><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );

        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();

        var_nome_id = $('#nome').val();

        if (var_nome_id != "") {
	        if ( data["Acesso"] == "Negado" ) {
				$.ajax({
	                type: 'post',
	                url: "/add_permission_pages?nome="+var_nome_id+"&alvo="+data["paginas"],
	                async: false,
	                success: function (response) {
	                    console.log(response);
	                }
	            }).done(function (data) {
	                console.log(data);

	                var table = $('#example').DataTable();
	            	table.ajax.reload();
	            });
	    }
	    else
        {
        	$.ajax({
	                type: 'post',
	                url: "/delete_permission_pages?nome="+var_nome_id+"&alvo="+data["paginas"],
	                async: false,
	                success: function (response) {
	                    console.log(response);
	                }
	            }).done(function (data) {
	                console.log(data);

	                var table = $('#example').DataTable();
	            	table.ajax.reload();
	            });
        }
    	}

        setInterval( function () {
            table.ajax.reload( null, false ); // user paging is not reset on reload
        }, 30000 );

        });
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  			<div class="py-5 text-center">
			  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

			    <h2>Controle de vista de usuário</h2>
			    <p class="lead">Mude o controle de acesso de usuário</p>

			    <div class="col-md-12 mb-3">
		            <label for="nome">Nome de usuário para receber o acesso:</label>
		            <select class="custom-select d-block w-100" id="nome" name='nome' onchange="atualiza_tabela()" required>
		              <option value="">Escolha...</option>
		            </select>
		            <div class="invalid-feedback">
		              Nome inválido
		            </div>
		        </div>

			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			      <div class="alert alert-success"><%= message %></div>
			    <% } %>

			</div>

  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                	<th>Nome</th>
                                    <th>Acesso</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Controle de acesso</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	          <div class="form-group">
	            <input type="hidden" class="form-control" id="recipient-id-modal2" name="id" required>
	          </div>

	          	<div class="form-group">
		            <label for="nome">Nome de usuário para receber o acesso:</label>
		            <select class="custom-select d-block w-100" id="modal_nome" name='nome' required>
		              <option value="">Escolha...</option>
		            </select>
		            <div class="invalid-feedback">
		              Nome inválido
		            </div>
		        </div>

		        <div class="form-group">
		            <label for="nome">Nome de usuário para ser visto:</label>
		            <select class="custom-select d-block w-100" id="modal_nome_recebe" name='nome' required>
		              <option value="">Escolha...</option>
		            </select>
		            <div class="invalid-feedback">
		              Nome inválido
		            </div>
		        </div>
	        
	      </div>
	      <div class="modal-footer">
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_line()">Apagar registro</button></div>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="btn btn-primary">Alterar registro</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
				
	var url = "/list_users";

    $.getJSON(url, function (data) {
        $.each(data, function (index, value) {
            // APPEND OR INSERT DATA TO SELECT ELEMENT.
            $('#nome').append('<option value="' + value.id + '">' + value.nome + '</option>');
            $('#modal_nome').append('<option value="' + value.id + '">' + value.nome + '</option>');
            $('#modal_nome_recebe').append('<option value="' + value.id + '">' + value.nome + '</option>');
            });
        });

	</script>

	<script type="text/javascript">
		function delete_line() {
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/deleta_custo?origem=1&id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}
	</script>

	<%- include('layouts/end_scripts') -%>
			
</body>

</html>