<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<div class="container-fluid">
  		<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  				<div class="py-5 text-center">

				    <h2>Editar informações do projeto</h2>
				    <p class="lead">Defina as informações do projeto</p>

				    <!-- show any messages that come back with authentication -->
				    <% if (message.length > 0) { %>
				      <div class="alert alert-success"><%= message %></div>
				    <% } %>

				    <!-- show any messages that come back with authentication -->
				    <% if (message_error.length > 0) { %>
				      <div class="alert alert-danger"><%= message_error %></div>
				    <% } %>

				</div>

				<div class="row">
		          <div class="col-md-12 mb-3">
		            <h4 class="mb-3">Centro de custos</h4>
		            <select class="custom-select d-block w-100" data-live-search="true" id="projetos" name='cc' title="Escolha..." required>
		            	<option value="">Escolha...</option>
		            </select>
		            <div class="invalid-feedback">
		              Centro de custos inválido.
		            </div>
		          </div>
			    </div>
				
			  <hr class="mb-4">
			  <h4 class="mb-3">Informações do cliente</h4>

			  <div class="row">
			   
			    <div class="col-md-12">
			      <form class="needs-validation" action="/editar_projeto" method="post" novalidate>
			        
			        <div class="row">
			          
			            <div class="col-md-12 mb-3">
			              <label for="nome_lm">Nome do responsável LM</label>
			              <select class="custom-select d-block w-100" id="nome_lm" name='nome_lm' required>
			              <option value="">Nome...</option>
			              </select>
			              <div class="invalid-feedback">
			                Precisa de um nome.
			              </div>
			            </div>
			        </div>

			        <input type="hidden" class="form-control" id="old_cc" name="old_cc" required>

			        <div class="row">
			          <div class="col-md-6 mb-3">
			            <label for="nome_cliente">Nome do responsável cliente</label>
			            <input type="text" class="form-control" id="nome_cliente" placeholder="Novo usuário" name='nome_cliente' required>
			            <div class="invalid-feedback">
			              Precisa de um nome.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			              <label for="email_cliente">Email do cliente</label>
			              <input type="email" class="form-control" id="email_cliente" placeholder="usuario@exemplo.com.br" name='email_cliente' required>
			              <div class="invalid-feedback">
			                Por favor insira um e-mail válido.
			              </div>
			            </div>

			            <div class="col-md-3 mb-3">
			              <label for="telefone_cliente">Telefone do cliente</label>
			              <input type="tel" class="form-control" id="telefone_cliente" pattern="\+[0-9]{2} \([0-9]{2}\) [0-9]{5}-[0-9]{4}" placeholder="+55 (48) 99636-0016" name='telefone_cliente' required>
			              <div class="invalid-feedback">
			                Por favor insira um número de telefone, precisa ser no formato: +55 (48) 99636-0016
			              </div>
			            </div>
			          </div>

			        <div class="row">

			          <div class="col-md-4 mb-3">
			            <label for="cnpj">CNPJ do cliente</label>
			            <input type="text" class="form-control" id="cnpj" placeholder="04.580.206-0001.99" name='cnpj' required>
			            <div class="invalid-feedback">
			              Por favor insira um CNPJ.
			            </div>
			          </div>

			          <div class="col-md-8 mb-3">
			            <label for="nome_empresa">Nome da empresa do cliente</label>
			            <input type="text" class="form-control" id="nome_empresa" placeholder="LMLogix Automação" name='nome_empresa' required>
			            <div class="invalid-feedback">
			              Por favor insira um nome.
			            </div>
			          </div>

			        </div>

			        <div class="row">

			          <div class="col-md-2 mb-3">
			            <label for="cep">CEP</label>
			            <input type="text" class="form-control" id="cep" placeholder="88801-010" name='cep' required>
			            <div class="invalid-feedback">
			              Por favor insira um CEP.
			            </div>
			          </div>

			          <div class="col-md-4 mb-3">
			            <label for="cidade">Cidade da obra</label>
			            <input type="text" class="form-control" id="cidade" placeholder="Criciúma" name='cidade' required>
			            <div class="invalid-feedback">
			              Por favor insira uma cidade válida.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="estado">Estado da obra</label>
			            <input type="text" class="form-control" id="estado" placeholder="Santa Catarina" name='estado' required>
			            <div class="invalid-feedback">
			              Por favor insira um estado válido.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="pais">País da obra</label>
			            <input type="text" class="form-control" id="pais" placeholder="Brasil" name='pais' required>
			            <div class="invalid-feedback">
			              Por favor insira um país.
			            </div>
			          </div>
			        </div>

			        <hr class="mb-4">
			        <h4 class="mb-3">Informações comerciais</h4>

			        <div class="row">

			          <div class="col-md-2 mb-3">
			            <label for="tipo_projeto">Tipo do projeto</label>
			            <select class="custom-select d-block w-100" id="tipo_projeto" name='tipo_projeto' required>
			              <option value="">Escolha...</option>
			              <option>CLT</option>
			              <option>Pacote fechado</option>
			              <option>Homem Hora</option>
			            </select>
			            <div class="invalid-feedback">
			              Escolha um tipo de projeto válido.
			            </div>
			          </div>

			          <div class="col-md-2 mb-3">
			            <label for="olm">OLM</label>
			            <input type="text" class="form-control" id="olm" placeholder="01633" name='olm' required>
			            <div class="invalid-feedback">
			              Insira um número de OLM.
			            </div>
			          </div>

			          <div class="col-md-2 mb-3">
			            <label for="cc">CC</label>
			            <input type="text" class="form-control" id="cc" placeholder="000170" name='cc' required>
			            <div class="invalid-feedback">
			              Insira um número de CC válido.
			            </div>
			          </div>

			          <div class="col-md-6 mb-3">
			            <label for="nome_obra">Nome da obra</label>
			            <input type="text" class="form-control" id="nome_obra" placeholder="Retificadores GM" name='nome_obra' required>
			            <div class="invalid-feedback">
			              Por favor insira uma descrição.
			            </div>
			          </div>
			        </div>

			        <div class="row">
			        	<div class="col-md-3 mb-3">
				            <label for="data">Data do pedido</label>
				            <input type="date" class="form-control" id="data" name="data" required>
				            <div class="invalid-feedback">
				              Precisa de uma data.
				            </div>
			          	</div>

			        	<div class="col-md-2 mb-3">
				            <label for="valor_pedido">Valor do pedido</label>
				            <input type="money" class="form-control" id="valor_pedido" placeholder="123.00" min="0" max="10000" step="1" name='valor_pedido' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
			        </div>


			        <hr class="mb-4">
			        <h4 class="mb-3">Número de horas vendidas do projeto</h4>
			        <p> - Programação</p>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="planejamento_programacao">Planejamento</label>
				            <input type="number" class="form-control" id="planejamento_programacao" placeholder="123" name='planejamento_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="instalacao_programacao">Instalação</label>
				            <input type="number" class="form-control" id="instalacao_programacao" placeholder="123" name='instalacao_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="comissionamento_programacao">Comissionamento</label>
				            <input type="number" class="form-control" id="comissionamento_programacao" placeholder="123" name='comissionamento_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="startup_programacao">Startup</label>
				            <input type="number" class="form-control" id="startup_programacao" placeholder="123" name='startup_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="acompanhamento_programacao">Acompanhamento</label>
				            <input type="number" class="form-control" id="acompanhamento_programacao" placeholder="123" name='acompanhamento_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="documentacao_programacao">Documentação</label>
				            <input type="number" class="form-control" id="documentacao_programacao" placeholder="123" name='documentacao_programacao' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>
				    <p> - Elétrica</p>
					<div class="row">
						<div class="col-md-2 mb-3">
				            <label for="planejamento_eletrica">Planejamento</label>
				            <input type="number" class="form-control" id="planejamento_eletrica" placeholder="123" name='planejamento_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="instalacao_eletrica">Instalação</label>
				            <input type="number" class="form-control" id="instalacao_eletrica" placeholder="123" name='instalacao_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="comissionamento_eletrica">Comissionamento</label>
				            <input type="number" class="form-control" id="comissionamento_eletrica" placeholder="123" name='comissionamento_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="startup_eletrica">Startup</label>
				            <input type="number" class="form-control" id="startup_eletrica" placeholder="123" name='startup_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="acompanhamento_eletrica">Acompanhamento</label>
				            <input type="number" class="form-control" id="acompanhamento_eletrica" placeholder="123" name='acompanhamento_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				        <div class="col-md-2 mb-3">
				            <label for="documentacao_eletrica">Documentação</label>
				            <input type="number" class="form-control" id="documentacao_eletrica" placeholder="123" name='documentacao_eletrica' required>
				            <div class="invalid-feedback">
				              Insira um número de horas válido.
				            </div>
				        </div>
				    </div>
				    

			        <hr class="mb-4">
			        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar projeto</button>
			      </form>
			    </div>
			  </div>

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			<script type="text/javascript">
				
				var url = "/list_users";

	            $.getJSON(url, function (data) {
	                $.each(data, function (index, value) {
	                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
	                    $('#nome_lm').append('<option value="' + value.nome + '">' + value.nome +  '</option>');
		                });
		        });

				//Registro de projetos
				var url = "/registro_projetos";
		        $.getJSON(url, function (data) {
		            $.each(data, function (index, value) {
		                // APPEND OR INSERT DATA TO SELECT ELEMENT.
		                $('#projetos').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_empresa + ' - ' + value.nome_obra + '</option>');
		            });
		        });

		        $('#projetos').on('change', function() {
		        	comboValue = this.value;

	            	var url = "/info_projeto?projeto="+comboValue;
			        $.getJSON(url, function (data) {
			            $.each(data, function (index, value) {
			                $('#nome_lm').val(value.nome_lm);
			                $('#nome_cliente').val(value.nome_cliente);
			                $('#email_cliente').val(value.email);
			                $('#telefone_cliente').val(value.telefone_cliente);
			                $('#cnpj').val(value.cnpj);
			                $('#nome_lm').val(value.nome_lm);
			                $('#nome_empresa').val(value.nome_empresa);
			                $('#cep').val(value.cep);
			                $('#cidade').val(value.cidade);
			                $('#estado').val(value.estado);
			                $('#pais').val(value.pais);
			                $('#tipo_projeto').val(value.tipo_projeto);
			                $('#olm').val(value.olm);
			                $('#cc').val(value.cc);
			                $('#old_cc').val(value.cc);
			                $('#nome_obra').val(value.nome_obra);
			                $('#data').val(value.data_pedido);
			                $('#valor_pedido').val(value.valor_pedido);
			                $('#planejamento_programacao').val(value.planejamento_programacao);
			                $('#instalacao_programacao').val(value.instalacao_programacao);
			                $('#comissionamento_programacao').val(value.comissionamento_programacao);
			                $('#startup_programacao').val(value.startup_programacao);
			                $('#acompanhamento_programacao').val(value.acompanhamento_programacao);
			                $('#documentacao_programacao').val(value.documentacao_programacao);
			                $('#planejamento_eletrica').val(value.planejamento_eletrica);
			                $('#instalacao_eletrica').val(value.instalacao_eletrica);
			                $('#comissionamento_eletrica').val(value.comissionamento_eletrica);
			                $('#startup_eletrica').val(value.startup_eletrica);
			                $('#acompanhamento_eletrica').val(value.acompanhamento_eletrica);
			                $('#documentacao_eletrica').val(value.documentacao_eletrica);
			            });
			        });
				});
	         </script>

			</main>
  		</div>
  	</div>

  	<%- include('layouts/end_scripts') -%>
			
</body>

</html>