<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<div class="container-fluid">
  		<div class="row">
			<%- include('layouts/side') -%>

			<%- include('components/live_graph') -%>

		</div>
	</div>



</body>

</html>