<!doctype html>
<html lang="en">
    <%- include('layouts/head') -%>
    <!-- Custom styles for this template -->
    <link href="/felipe/signin.css" rel="stylesheet">
    <style>
    .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
    .box {
    border-radius: 25px;
    width: 400px;
    height: 600;
    padding: 20px;
    background: #fff;
    }
    body {
      background-image: url('LMLogix Fundo SARR.jpg');
      background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    }
    }
    </style>

  <body class="text-center">

    <div class="container">
    <div class="box">



    <form class="form-signin" action="/login" method="post">
      <img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170">
      <h1 class="h3 mb-3 font-weight-normal">Por favor autentique-se</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %><% if (message == 'Senha incorreta'){%><a href="/set_password">. Esqueceu sua senha?</a><% } %>
          </div>
      <% } %>

      <% if (message_success.length > 0) { %>
          <div class="alert alert-success"><%= message_success %></div>
      <% } %>

      <label for="text" class="sr-only">Nome de usuário</label>
      <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Nome de usuário" required autofocus>

      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <p id="text">AVISO! Caps lock está ligado.</p>
      <div class="checkbox mb-3">
        <label style="display: none;">
          <input type="checkbox" value="remember-me" name="remember" value="yes"> Me lembre
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      <p class="mt-5 mb-3 text-muted">Problemas de login? Tente <a href="/signup">Cadastrar-se</a> ou <a href="/set_password">Recuperar a senha.</a></p>
      
      <script language=javascript type="text/javascript">
      now = new Date
      document.write ("&copy 2020-" + now.getFullYear() + " LMLogix Automação")
      </script>

    </form>


    </div>
    </div>



    <script type="text/javascript">
  // Get the input field
  var input = document.getElementById("inputPassword");

  // Get the warning text
  var text = document.getElementById("text");

  text.style.display = "none";

  // When the user presses any key on the keyboard, run the function
  input.addEventListener("keyup", function(event) {

    // If "caps lock" is pressed, display the warning text
    if (event.getModifierState("CapsLock")) {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  });

</script>
</body>
</html>
