<!doctype html>
<html lang="en">
    <%- include('layouts/head') -%>
    <!-- Custom styles for this template -->
    <link href="/felipe/signin.css" rel="stylesheet">

  <body class="text-center">
    <form class="needs-validation form-signin" action="/change_password" method="post" oninput='confirmaSenha.setCustomValidity(confirmaSenha.value != senha.value ? "As senhas não conferem" : "")' novalidate>
      <img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170">
      <h1 class="h3 mb-3 font-weight-normal">Redefina sua senha</h1>

      <p align="justify">Por favor, siga as regras a seguir: pelo menos 8 caracteres, uma letra maiúscula, uma letra minúscula, um número, um caracter especial (!@$%&*).</p>

      <!-- show any messages that come back with authentication -->
      <% if (message.length >0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>


      <input type="" value="<%= email %>" name="email" style="display: none;">

      <div>
        <label for="inputPassword" class="sr-only">Informe uma nova senha</label>
        <input type="password" name="senha" id="senha" class="form-control" placeholder="Informe uma nova senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
        <div class="invalid-feedback">
          Senha fora do padrão acima.
        </div>
      </div>

      <div>
        <label for="inputPassword" class="sr-only">Confirme a senha</label>
        <input type="password" name="confirmaSenha" id="confirmaSenha" class="form-control" placeholder="Confirme a nova senha" required>
        <div class="invalid-feedback">
          Senha não confere.
        </div>
      </div>
      <p id="text">AVISO! Caps lock está ligado.</p>

      <button class="btn btn-primary btn-block mb-2 mt-2" type="submit">Confirmar</button>
      <button class="btn btn-secondary btn-block mb-3 mt-2" type="button" onclick="voltar();">Cancelar</button>

      <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>

    </form>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
<script src="/felipe/form-validation.js"></script>

<script type="text/javascript">
  // Get the input field
  var input = document.getElementById("senha");
  var input2 = document.getElementById("confirmaSenha");

  // Get the warning text
  var text = document.getElementById("text");

  text.style.display = "none";

  // When the user presses any key on the keyboard, run the function
  input.addEventListener("keyup", function(event) {

    // If "caps lock" is pressed, display the warning text
    if (event.getModifierState("CapsLock")) {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  });

    // When the user presses any key on the keyboard, run the function
  input2.addEventListener("keyup", function(event) {

    // If "caps lock" is pressed, display the warning text
    if (event.getModifierState("CapsLock")) {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  });

  function voltar()
  {
    window.location="/login";
  }
</script>