<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  				<div class="py-5 text-center">
				  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

				    <h2>Registro de atividade</h2>
				    <p class="lead">Preencha os campos abaixos para registrar uma atividade de trabalho</p>

				    <!-- show any messages that come back with authentication -->
				    <% if (message.length > 0) { %>
				      <div class="alert alert-success"><%= message %></div>
				    <% } %>

				  </div>
			
			  <div class="row">
   
			    <div class="col-md-12">
			      <form class="needs-validation" action="/ponto" method="post" novalidate>

			        <div class="row">
			          <div class="col-md-3 mb-3">
			            <label for="data">Data</label>
			            <input type="date" class="form-control" id="data" name="data" required>
			            <div class="invalid-feedback">
			              Precisa de uma data.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="hora_ini">Hora inicio</label>
			            <input type="time" class="form-control" id="hora_ini" name="inicio" required>
			            <div class="invalid-feedback">
			              Precisa de uma hora de inicio de atividade.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="hora_fim">Hora fim</label>
			            <input type="time" class="form-control" id="hora_fim" name="fim" required>
			            <div class="invalid-feedback">
			              Precisa de uma hora de fim de atividade.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="etapa">Etapa</label>
			            <select class="custom-select d-block w-100" id="etapa" name='etapa' required>
			              <option value="">Escolha...</option>
			              <option value="Não se aplica">Não se aplica</option>
			              <option value="Deslocamento">Deslocamento</option>
			              <option value="Planejamento">Planejamento</option>
			              <option value="Comissionamento">Comissionamento</option>
			              <option value="Startup">Startup</option>
			              <option value="Instalação">Instalação</option>
			              <option value="Manutenção">Manutenção</option>
			              <option value="Acompanhamento">Acompanhamento</option>
			              <option value="Documentação">Documentação</option>
			            </select>
			            <div class="invalid-feedback">
			              Escolha uma etapa.
			            </div>
			          </div>

			        </div>

			        <div class="row">

			          <div class="col-md-3 mb-3">
			            <label for="projetos">Centro de custos</label>
			            <select class="custom-select d-block w-100" data-live-search="true" id="projetos" name='cc' title="Escolha..." required>
			            	<option value="">Escolha...</option>
			            	<option value="sem_cc_criado">Sem CC criado</option>
			            </select>
			            <div class="invalid-feedback">
			              Centro de custos inválido.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="cargo">Função desempenhada</label>
			            <select class="custom-select d-block w-100" id="cargo" name='cargo' required>
			              <option value="">Escolha...</option>
			              <option>Diretor</option>
			              <option>Gerente</option>
			              <option>Coordenador</option>
			              <option>Programador</option>
			              <option>Eletricista</option>
			              <option>Marketing</option>
			              <option>RH</option>
			              <option>Financeiro</option>
			              <option>Controladoria</option>
			              <option>Controle de Qualidade</option>
			            </select>
			            <div class="invalid-feedback">
			              Função inválida.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="modalidade">Modalidade de atendimento</label>
			            <select class="custom-select d-block w-100" id="modalidade" name='modalidade' required>
			              <option value="">Escolha...</option>
			              <option>Na base</option>
			              <option>Em campo</option>
			              <option>Atendimento remoto</option>
			              <option>Home office</option>
			            </select>
			            <div class="invalid-feedback">
			              Modalidade inválida.
			            </div>
			          </div>

			          <div class="col-md-3 mb-3">
			            <label for="local">Local de atendimento</label>
			            <select class="custom-select d-block w-100" id="local" name='local' required>
			              <option value="">Escolha...</option>
			              <option>Municipio</option>
			              <option>Intermunicipal</option>
			              <option>Interestadual</option>
			              <option>Internacional</option>
			            </select>
			            <div class="invalid-feedback">
			              Local inválido.
			            </div>
			          </div>

			        </div>

			        <div class="row">

			          <div class="col-md-3 mb-3">
			            <label for="colegas">Marcar colegas</label>
			            <select class="custom-select d-block w-100" data-live-search="true" id="colegas" name='colegas' title="Escolha..." data-actions-box="true" multiple>
			            </select>
			            <div class="invalid-feedback">
			              Centro de custos inválido.
			            </div>
			          </div>

						
			        	<div class="col-md-9 mb-3">
			            <label for="marcado">Aplicar marcação</label>
			            <select class="custom-select d-block w-100" id="marcado" name='marcado'>
			              <option value="">Escolha...</option>
			            </select>
			            <div class="invalid-feedback">
			              Local inválido.
			            </div>
			          </div>

			        </div>


			        <div class="mb-3">
			            <label for="atividade">Descrição dos trabalhos executados</label>

			            <textarea name="atividade" cols="40" rows="5" class="form-control" id="atividade" placeholder="Arrumados materiais, feita listagem de ferramentas, cadastrado materiais na portaria..." required></textarea>
			            <div class="invalid-feedback">
			              Precisa descrever qual foi a atividade desenvolvida.
			            </div>
			        </div>

			        <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Duplicar atividade</button> -->

			        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
			      </form>
			    </div>
			  </div>



			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			<script type="text/javascript">
			
				var url = "/registro_projetos";
		        $.getJSON(url, function (data) {
		            $.each(data, function (index, value) {
		                // APPEND OR INSERT DATA TO SELECT ELEMENT.
		                $('#projetos').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_empresa + ' - ' + value.nome_obra + '</option>');
		            });
		        });

		        $('#projetos').on('change', function() {
					comboValue = this.value;

					$.getJSON(url, function (data) {
	                $.each(data, function (index, value) {
	                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
	                    if ( comboValue  == value.cc) { 
	                    	if ( value.cidade == "Criciúma") {
	                    		$('#local').val('Municipio');
	                    		$('#modalidade').val('Em campo');
	                    	}
	                    	else if (value.estado == "Santa Catarina") {
	                    		$('#local').val('Intermunicipal');
	                    		$('#modalidade').val('Em campo');
	                    	}
	                    	else if (value.pais == "Brasil") {
	                    		$('#local').val('Interestadual');
	                    		$('#modalidade').val('Em campo');
	                    	}
	                    	else { 
	                    		$('#local').val('Internacional');
	                    		$('#modalidade').val('Em campo');
	                    	}

	                    	}
	                    });
		                });
		            });


		        var url_2 = "/list_users";
		        $.getJSON(url_2, function (data_2) {
		            $.each(data_2, function (index_2, value_2) {
		                // APPEND OR INSERT DATA TO SELECT ELEMENT.
		                $('#colegas').append('<option value="' + value_2.id + '">' + value_2.nome + '</option>');
		            });
		        });

	            $('#modalidade').on('change', function() {
	            	if ( this.value  == 'Na base') {
	            		$('#local').val('Municipio');
	            	}
				});

				
				url_user = "/dados_user";
				$.getJSON(url_user, function (data) {
					$.each(data, function (index, value) {
						$('#cargo').val(value.cargo);
					});
		        });

				// Marcação
		        $('#data').on('change', function() {
					comboValue = this.value;

					$("#marcado").empty();
					$('#marcado').append('<option value="">Escolha...</option>');

					url = "/get_marcacao?data=" + comboValue;

					$.getJSON(url, function (data) {
	                $.each(data, function (index, value) {
	                	var value_input = value.inicio + ',' + value.fim + ',' + value.cc + ',' + value.modalidade + ',' + value.etapa + ',' + value.local;

	                    $('#marcado').append('<option value="' + value_input + '">Marcador: ' + value.nome + ' - Ini: ' + value.inicio + ' - Fim: ' + value.fim + ' - CC:' + value.cc + ' - Mod: ' + value.modalidade + ' - Etapa: ' + value.etapa + ' - Local: ' + value.local  + '</option>');
	                    });
		                });
		            });

		        // Marcação
		        $('#marcado').on('change', function() {
		        	comboValue = this.value;

		        	value_split = comboValue.split(",");

		        	$('#hora_ini').val(value_split[0]);
		        	$('#hora_fim').val(value_split[1]);
		        	$('#projetos').val(value_split[2]);
		        	$('#modalidade').val(value_split[3]);
		        	$('#etapa').val(value_split[4]);
		        	$('#local').val(value_split[5]);

		        });

			</script>

			</main>
  		</div>
  	</div>

  	<%- include('layouts/end_scripts') -%>

	<style>

	.bootstrap-select .btn {

		padding: .375rem .75rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;

		font-family: inherit;
	}

	</style> 

	<script type="text/javascript">

		$( document ).ready(function() {
		  // Handler for .ready() called.
		  // $('#colegas').selectpicker();
		});

	</script>

			
</body>

</html>