<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.fixedHeader.min.js"></script>


    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_power_monitor_base').load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {

    	// Inicia página buscando valores das tags
    	monitorar_tags();

    	var today = new Date();
    	
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var fim = dd + '/' + mm + '/' + yyyy;

		today.setDate(today.getDate()-31);
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var ini = dd + '/' + mm + '/' + yyyy;

    	// Setup - add a text input to each footer cell
	    $('#example thead tr').clone(true).appendTo( '#example thead' );
	    $('#example thead tr:eq(1) th').each( function (i) {
	        var title = $(this).text();
	        $(this).html( '<input type="text" style="width: 100%" placeholder="Filtrar"/>' );
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        });
	    });

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_power_monitor_base',
	        dataSrc: '',
		    },
		    "columnDefs":[{
		    	"targets":0,
		    	"visivle": false
		    }],
	        "columns": [
	            { "data": "time", "width": "15%" },
	        	{ "data": "corrente_l1" },
	        	{ "data": "corrente_l2" },
	        	{ "data": "corrente_l3" },
	        	{ "data": "tensao_l1_l2" },
	            { "data": "tensao_l2_l3" },
	            { "data": "tensao_l3_l1" },
	            { "data": "tensao_l1_n" },
	            { "data": "tensao_l2_n" },
	            { "data": "tensao_l3_n" },
	            { "data": "frequencia" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"top"B><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                { extend: 'copy', text: 'Copiar' }, 'csv', 'excel', { extend: 'print', text: 'Imprimir' }
            ]
        } );

        var table = $('#example').DataTable();
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>
  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	  			<div class="py-5 text-center">
				    <h2>Registro do Power Monitor</h2>
				</div>
	          	<div class="row">
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_0" class="col-form-label">L1 Current (amperes)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_0" name="pm_0" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_1" class="col-form-label">L2 Current (amperes)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_1" name="pm_1" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_2" class="col-form-label">L3 Current (amperes)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_2" name="pm_2" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_3" class="col-form-label">L1-L2 Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_3" name="pm_3" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_4" class="col-form-label">L2-L3 Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_4" name="pm_4" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_5" class="col-form-label">L3-L1 Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_5" name="pm_5" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_6" class="col-form-label">Frequency (Hz)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_6" name="pm_6" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_7" class="col-form-label">Total kWatts   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_7" name="pm_7" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_8" class="col-form-label">Total kVAR   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_8" name="pm_8" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_9" class="col-form-label">Total kVA   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_9" name="pm_9" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_10" class="col-form-label">3 Phase True Power Factor (%)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_10" name="pm_10" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_11" class="col-form-label">kWatth Net (kWatth)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_11" name="pm_11" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_12" class="col-form-label">Status 1 Count x1   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_12" name="pm_12" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_13" class="col-form-label">L1-N Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_13" name="pm_13" required readonly="readonly">
			          </div>
		          	</div>	
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_14" class="col-form-label">L2-N Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_14" name="pm_14" required readonly="readonly">
			          </div>
		          	</div>
		          	<div class="col-md-3 mb-3">
			          <div class="form-group">
			            <label for="pm_15" class="col-form-label">L3-N Volts (volts)   <span data-feather="activity"></span></label>
			            <input type="text" class="form-control" id="pm_15" name="pm_15" required readonly="readonly">
			          </div>
		          	</div>
		        </div>

  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tempo</th>
                                	<th>Corrente L1</th>
                                    <th>Corrente L2</th>
                                	<th>Corrente L3</th>
                                	<th>Tensão L1-l2</th>
                                    <th>Tensão L2-l3</th>
                                    <th>Tensão L3-l1</th>
                                	<th>Tensão L1-N</th>
                                    <th>Tensão L2-N</th>
                                    <th>Tensão L3-N</th>                                    
                                    <th>Frequência</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<script type="text/javascript">

		// Atualizar valores das tags do CLP
		setInterval(function(){ monitorar_tags(); }, 5000);

		// Atualiza tags do power monitor
		function monitorar_tags(){
			$.ajax({
	            type: 'post',
	            url: "/base_leitura",
	            async: true,
	            success: function (response) {
	                vetor = response.split(',');

					PM1000_0 = vetor[7];
					PM1000_1 = vetor[10];
					PM1000_2 = vetor[13];
					PM1000_3 = vetor[16];
					PM1000_4 = vetor[19];
					PM1000_5 = vetor[22];
					PM1000_6 = vetor[25];
					PM1000_7 = vetor[28];
					PM1000_8 = vetor[31];
					PM1000_9 = vetor[34];
					PM1000_10 = vetor[37];
					PM1000_11 = vetor[40];
					PM1000_12 = vetor[43];
					PM1000_13 = vetor[46];
					PM1000_14 = vetor[49];
					PM1000_15 = vetor[52];

	                $('#pm_0').val(PM1000_0);
	                $('#pm_1').val(PM1000_1); 
	                $('#pm_2').val(PM1000_2);
	                $('#pm_3').val(PM1000_3);
	                $('#pm_4').val(PM1000_4);
	                $('#pm_5').val(PM1000_5);
	                $('#pm_6').val(PM1000_6);
	                $('#pm_7').val(PM1000_7);
	                $('#pm_8').val(PM1000_8);
	                $('#pm_9').val(PM1000_9);
	                $('#pm_10').val(PM1000_10);
	                $('#pm_11').val(PM1000_11);
	                $('#pm_12').val(PM1000_12);
	                $('#pm_13').val(PM1000_13);
	                $('#pm_14').val(PM1000_14);
	                $('#pm_15').val(PM1000_15);
	            }
	        });        
		}		
	</script>


	<%- include('components/daterange.ejs') -%>

	<%- include('layouts/end_scripts') -%>
			
</body>

</html>