<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  				<div class="py-5 text-center">
				  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

				    <h2>Registro de atividade</h2>
				    <p class="lead">Preencha os campos abaixos para registrar uma atividade de trabalho</p>

				    <!-- show any messages that come back with authentication -->
				    <% if (message.length > 0) { %>
				      <div class="alert alert-success"><%= message %></div>
				    <% } %>

				</div>


			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>

			</main>
  		</div>
  	</div>

  	<%- include('layouts/end_scripts') -%>
			
</body>

</html>