<!doctype html>
<html lang="en">
    <%- include('layouts/head') -%>
    <!-- Custom styles for this template -->
    <link href="/felipe/signin.css" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" id="formEmail" action="/localizar_conta" method="post">
      <img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170">
      <h1 class="h3 mb-3 font-weight-normal">Esqueceu sua senha?</h1>

      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>


      <p class="lead">Primeiro, vamos localizar sua conta.</p>

      <label for="text" class="sr-only"></label>

      <label for="inputEmail" class="sr-only"></label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Precisaremos do seu e-mail" required>
      <br>

      <button class="btn btn-primary btn-block mb-2 mt-2" type="submit">Confirmar</button>
      <button class="btn btn-secondary btn-block mb-2 mt-2" type="button" onclick="voltar();">Cancelar</button>

      <br><br><br><br>
      <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>

    </form>
  </body>
</html>

<script type="text/javascript">
  function voltar()
  {
    window.location="/login";
  }
</script>
