<!doctype html>
<html lang="en">
  <%- include('layouts/head') -%>

  <!-- Custom styles for this template -->
  <link href="/felipe/form-validation.css" rel="stylesheet">

  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

    <h2>Formulário de cadastro</h2>
    <p class="lead">Preencha os campos abaixos para obter acesso ao sistema de ponto LMLogix.</p>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

  </div>

  <div class="row">
   
    <div class="col-md-12">
      <form name="formulario" id="formulario" class="needs-validation" action="/signup" method="post" oninput='password_2.setCustomValidity(password_2.value != password.value ? "As senhas não conferem" : "")' novalidate>

        <div class="row">
          <div class="col-md-2 mb-3">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="01" name='id' required>
            <div class="invalid-feedback">
              Precisa de um ID.
            </div>
          </div>

          <div class="col-md-10 mb-3">
            <label for="nome_completo">Nome completo</label>
            <input type="text" class="form-control" id="nome_completo" placeholder="Novo usuário" name='name' required>
            <div class="invalid-feedback">
              Precisa de um nome.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Nome de usuário (para ser utilizado no login)</label>
          <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" id="username" placeholder="Novo_Usuario" name='username' required>
            <div class="invalid-feedback" style="width: 100%;">
              Precisa de um nome de usuário.
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="*********" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" name="password" required>
            <div class="invalid-feedback">
              Precisa de uma senha conforme padrão acima.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="contra_senha">Confirmar senha</label>
            <input type="password" class="form-control" id="contra_senha" placeholder="*********" name="password_2" required>
            <div class="invalid-feedback">
              Senha não confere.
            </div>
          </div>
        </div>

        <p class="lead" id="suaSenhaDeve">Sua senha deve seguir as regras abaixo: </p>
        <p id="minimo8caracteres">Precisa ter pelo menos 8 caracteres</p>
        <p id="maiuscula">Precisa ter uma letra maiúscula</p>
        <p id="minuscula">Precisa ter uma letra minúscula</p>
        <p id="numero">Precisa ter pelo menos um número</p>
        <p id="especial">Precisa ter pelo um caractere especial (!@#$%^&*()_)</p>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="usuario@exemplo.com.br" name='email' required>
          <div class="invalid-feedback">
            Por favor insira um e-mail válido.
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cargo">Cargo</label>
            <select class="custom-select d-block w-100" id="cargo" name='cargo' required>
              <option value="">Escolha...</option>
              <option>Analista de marketing</option>
              <option>Analista de recursos humanos</option>
              <option>Assessor administrativo</option>
              <option>Auxiliar técnico</option>
              <option>Coordenador de aplicações</option>
              <option>Coordenador de software</option>
              <option>Diretor</option>
              <option>Gerente</option>
              <option>Gerente técnico</option>
              <option>Programador especialista</option>
              <option>Projetista eletricista</option>
              <option>Técnico em automação</option>

            </select>
            <div class="invalid-feedback">
              Função inválida.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="example-tel-input">Telefone</label>
            <input type="text" class="form-control" id="example-tel-input" pattern="\+[0-9]{2} \([0-9]{2}\) [0-9]{5}-[0-9]{4}" placeholder="+55 (48) 99636-0016" name='telefone' required>
            <div class="invalid-feedback">
              Por favor insira um número de telefone, precisa ser no formato: +55 (48) 99636-0016
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-6">
            <label for="contrato">Tipo de contrato</label>
            <select class="custom-select d-block w-100" id="contrato" name='contrato' required>
              <option value="">Escolha...</option>
              <option>Efetivo</option>
              <option>Estagiário</option>
              <option>Intermitente</option>
            </select>
            <div class="invalid-feedback">
              Tipo de contrato inválido.
            </div>
          </div>
        </div>


        <hr class="mb-4">
        <div class="col-md-6 mb-3">
          <p>Já tem uma conta ? <a href="/login">Autentique-se</a></p>
        </div>
        
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
  </footer>
</div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
      <script src="/felipe/form-validation.js"></script>

      <script type="text/javascript">
        
        var senha = document.getElementById("senha");
        var text1 = document.getElementById("minimo8caracteres");
        var text2 = document.getElementById("maiuscula");
        var text3 = document.getElementById("minuscula");
        var text4 = document.getElementById("numero");
        var text5 = document.getElementById("especial");

        var con1 = false;
        var con2 = false;
        var con3 = false;
        var con4 = false;
        var con5 = false;

        var senhaAprovada = false;

        senha.addEventListener("keyup", function(event) {
          if(senha.value.length >= 8)
          {
            con1 = true;
            text1.style.display = "none";
          }
          else
          {
            con1 = false;
            text1.style.display = "block";
          }

          var letrasMaiusculas = /[A-Z]/;
          var letrasMinusculas = /[a-z]/;
          var numeros = /[0-9]/;
          var caracteresEspeciais = /[!|@|#|$|%|^|&|*|(|)|-|_]/;

          var auxMaiuscula = 0;
          var auxMinuscula = 0;
          var auxNumero = 0;
          var auxEspecial = 0;

          for(var i=0; i<senha.value.length; i++)
          {
              if(letrasMaiusculas.test(senha.value[i]))
              {
                  auxMaiuscula++;
              }
              else 
              {
                  if(letrasMinusculas.test(senha.value[i]))
                  {
                      auxMinuscula++;
                  }
                  else
                  {
                      if(numeros.test(senha.value[i]))
                      {
                          auxNumero++;
                      }
                      else
                      {
                          if(caracteresEspeciais.test(senha.value[i]))
                          {
                              auxEspecial++;
                          }
                      }
                  }
              }                         
          }

          if (auxMaiuscula > 0)
          {
            con2 = true;
            text2.style.display = "none";
          }
          else
          {
            con2 = false;
            text2.style.display = "block";
            document.querySelector("#suaSenhaDeve").innerHTML ="Sua senha deve seguir as regras abaixo: ";
          }
          if(auxMinuscula > 0)
          {
            con3 = true;
            text3.style.display = "none";
          }
          else
          {
            con3 = false;
            text3.style.display = "block";
            document.querySelector("#suaSenhaDeve").innerHTML ="Sua senha deve seguir as regras abaixo: ";
          }
          if(auxNumero > 0)
          {
            con4 = true;
            text4.style.display = "none";
          }
          else
          {
            con4 = false;
            text4.style.display = "block";
            document.querySelector("#suaSenhaDeve").innerHTML ="Sua senha deve seguir as regras abaixo: ";
          }
          if(auxEspecial)
          {
            con5 = true;
            text5.style.display = "none";
          }
          else
          {
            con5 = false;
            text5.style.display = "block";
            document.querySelector("#suaSenhaDeve").innerHTML ="Sua senha deve seguir as regras abaixo: ";
          }

          if(con1 == true && con2 == true && con3 == true && con4 == true && con5 == true)
          {
            senhaAprovada = true;
            document.querySelector("#suaSenhaDeve").innerHTML ="Senha conforme padrão";
          }
          else
          {
            senhaAprovada = false;
            var input = document.getElementById('senha');
            document.querySelector("#suaSenhaDeve").innerHTML ="Sua senha deve seguir as regras abaixo: ";
          }
        });

        $(document).ready(function(){
          $('#example-tel-input').mask('+00 (00) 00000-0000');
        });

        document.getElementById('example-tel-input').addEventListener('input', function (e) {
          var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,2})(\d{0,5})(\d{0,4})/);
          e.target.value = !x[2] ? x[1] : '+' + x[1] + ' (' + x[2] + ') ' + x[3] + '-' + x[4];
          });

        $("#formulario").submit(function(e)
        {
          e.preventDefault();
          cadastrar();
        });

        function cadastrar()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation');
          if(senhaAprovada)
          {
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                else
                {
                  document.formulario.submit();
                }
              })
          }
          else
          {
            document.querySelector("#suaSenhaDeve").innerHTML ="Senha não está conforme o padrão!";
          }
        }
      </script>
  </body>
</html>
