<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_atividade?ini='+ini+'&fim='+fim).load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {
    	var today = new Date();
    	
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var fim = dd + '/' + mm + '/' + yyyy;

		today.setDate(today.getDate()-60);
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var ini = dd + '/' + mm + '/' + yyyy;


    	var url = "/registro_projetos";

    	$.getJSON(url, function (data) {
        $.each(data, function (index, value) {
            // APPEND OR INSERT DATA TO SELECT ELEMENT.
            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
            });
        });

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_atividade?ini='+ini+'&fim='+fim,
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "id" },
	        	{ "data": "colaborador" },
	            { "data": "Data", "width": "8%" },
	            { "data": "entrada" },
	            { "data": "saida" },
	            { "data": "cc" },
	            { "data": "tipo" },
	            { "data": "cidade" },
	            { "data": "motorista" },
	            { "data": "veiculo" },
	            { "data": "km_Inicial" },
	            { "data": "km_Final" },
	            { "data": "funcao" },
	            { "data": "solicitante" },
	            { "data": "pernoite" },
	            { "data": "relatorio" },
	            { "data": "aprovacao" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            dom: '<"top"Bf><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );

        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();

        setInterval( function () {
            table.ajax.reload( null, false ); // user paging is not reset on reload
        }, 30000 );

        data_input = data["data"]
        data_input = data_input.slice(6, 10) + "-" + data_input.slice(3, 5) + "-" + data_input.slice(0, 2)

        var modal = $("#exampleModal2")
        $("#exampleModal2").find('.modal-title').text('Alterar registro')
        $("#exampleModal2").find('#recipient-id-modal2').val(data["id"])
        $("#exampleModal2").find('#recipient-data-modal2').val(data_input)
        $("#exampleModal2").find('#recipient-inicio-modal2').val(data["inicio"])
        $("#exampleModal2").find('#recipient-fim-modal2').val(data["fim"])
        $("#exampleModal2").find('#recipient-cc-modal2').val(data["cc"])
        $("#exampleModal2").find('#recipient-cargo-modal2').val(data["cargo"])
        $("#exampleModal2").find('#recipient-etapa-modal2').val(data["etapa"])
        $("#exampleModal2").find('#recipient-modalidade-modal2').val(data["modalidade"])
        $("#exampleModal2").find('#recipient-atividade-modal2').val(data["atividade"])

        if (data["aprovacao"] == "Não aprovado") {
        	$("#exampleModal2").modal();
        }
        else
        	{ $("#exampleModal").modal(); }

        });
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  			<div class="py-5 text-center">
			  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

			    <h2>Registro de atividades</h2>
			    <p class="lead">Veja abaixo os registros de seu usuario</p>
				
				<div class="form-group">
					<label for="datetimes" class="float-left">Filtro de datas:</label>
				    <input class="form-control" type="text" name="datetimes" id="datetimes" />
				</div>

			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			      <div class="alert alert-success"><%= message %></div>
			    <% } %>

			    <!-- show any messages that come back with authentication -->
			    <% if (message_danger.length > 0) { %>
			      <div class="alert alert-danger"><%= message_danger %></div>
			    <% } %>

			</div>


  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                	<th>Id</th>
                                	<th>Nome</th>
                                    <th>Data</th>
                                    <th>Inicio</th>
                                    <th>Fim</th>
                                    <th>CC</th>
                                    <th>Tipo</th>
                                    <th>Cidade</th>
                                    <th>Motorista</th>
                                    <th>Veículo</th>
                                    <th>km Inicial</th>
                                    <th>km Final</th>
                                    <th>Cargo</th>
                                    <th>Solicitante</th>
                                    <th>Pernoite</th>
                                    <th>Relatório</th>
                                    <th>Aprovação</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Registro bloqueado !</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Este registro já foi aprovado pela coordenação, caso seja necessária alguma alteração, favor entrar em contato com seu coordenador.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Alterar registro</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_ponto" method="post" novalidate>
	          <div class="form-group">
	            <input type="hidden" class="form-control" id="recipient-id-modal2" name="id" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Data:</label>
	            <input type="date" class="form-control" id="recipient-data-modal2" name="data" required>
	            <div class="invalid-feedback">
			        Data inválida.
			    </div>
	          </div>

	          <div class="row">
			      <div class="col-md-6 mb-3">
			          <div class="form-group">
			            <label for="message-text" class="col-form-label" name="cliente">Inicio:</label>
			            <input type="time" class="form-control" id="recipient-inicio-modal2" name="inicio" required>
			            <div class="invalid-feedback">
					        Hora inválida.
					    </div>
			          </div>
			      </div>
			      <div class="col-md-6 mb-3">
			          <div class="form-group">
			            <label for="message-text" class="col-form-label" name="cidade">Fim:</label>
			            <input type="time" class="form-control" id="recipient-fim-modal2" name="fim" required>
			            <div class="invalid-feedback">
					        Hora inválida.
					    </div>
			          </div>
			      </div>
	  		  </div>

	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">CC:</label>
	            <select class="custom-select d-block w-100" id="recipient-cc-modal2" name='cc' required>
			        <option value="">Escolha...</option>
			    </select>
	            <div class="invalid-feedback">
			        Centro de custos inválido.
			    </div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Cargo:</label>
	            <select class="custom-select d-block w-100" id="recipient-cargo-modal2" name='cargo' required>
	              <option value="">Escolha...</option>
	              <option>Diretor</option>
	              <option>Gerente</option>
	              <option>Coordenador</option>
	              <option>Programador</option>
	              <option>Eletricista</option>
	              <option>Marketing</option>
	              <option>RH</option>
	              <option>Financeiro</option>
	              <option>Controladoria</option>
	            </select>
	            <div class="invalid-feedback">
			        Cargo inválido.
			    </div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="etapa">Etapa:</label>
	            <select class="custom-select d-block w-100" id="recipient-etapa-modal2" name='etapa' required>
	              <option value="">Escolha...</option>
	              <option value="Não se aplica">Não se aplica</option>
	              <option value="Deslocamento">Deslocamento</option>
	              <option value="Planejamento">Planejamento</option>
	              <option value="Comissionamento">Comissionamento</option>
	              <option value="Startup">Startup</option>
	              <option value="Instalação">Instalação</option>
	              <option value="Acompanhamento">Acompanhamento</option>
	              <option value="Documentação">Documentação</option>
	            </select>
        		<div class="invalid-feedback">
			        Modalidade inválida.
			    </div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Modalidade:</label>
	            <select class="custom-select d-block w-100" id="recipient-modalidade-modal2" name='modalidade' required>
	              <option value="">Escolha...</option>
	              <option>Na base</option>
	              <option>Em campo</option>
	              <option>Atendimento remoto</option>
	              <option>Home office</option>
	            </select>
        		<div class="invalid-feedback">
			        Modalidade inválida.
			    </div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Atividade:</label>
	            <textarea rows=10 type="text" class="form-control" id="recipient-atividade-modal2" name="atividade" required></textarea>
        		<div class="invalid-feedback">
			        Precisa descrever a atividade.
			    </div>
	          </div>
	        
	      </div>
	      <div class="modal-footer">
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_line()">Apagar registro</button></div>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="btn btn-primary">Alterar registro</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		function delete_line() {
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/deleta_atividade?origem=1&id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}
	</script>

	<%- include('components/daterange.ejs') -%>

	<%- include('layouts/end_scripts') -%>
			
</body>

</html>