<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_custos_todos_temp?ini='+ini+'&fim='+fim).load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {
    	var url = "/registro_projetos";

    	$.getJSON(url, function (data) {
        $.each(data, function (index, value) {
            // APPEND OR INSERT DATA TO SELECT ELEMENT.
            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
            });
        });

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_custos_todos_temp',
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "id" },
	        	{ "data": "nome" },
	        	{ "data": "numero_telefone" },
	            { "data": "data", "width": "8%" },
	            { "data": "cnpj" },
	            { "data": "cc" },
	            { "data": "cartao" },
	            { "data": "valor" },
	            { "data": "descricao" }
	        ],
	        "order": [[ 3, "desc" ]],
            responsive: true,
            select: true,
            dom: '<"top"Bf><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );

        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();

        setInterval( function () {
            table.ajax.reload( null, false ); // user paging is not reset on reload
        }, 30000 );

        var modal = $("#exampleModal2")
        $("#exampleModal2").find('.modal-title').text('Alterar registro')
        $("#exampleModal2").find('#recipient-id-modal2').val(data["id"])
        $("#exampleModal2").find('#recipient-nome-modal2').val(data["nome"])
        $("#exampleModal2").find('#recipient-data-modal2').val(data["data"])
        $("#exampleModal2").find('#recipient-cnpj-modal2').val(data["cnpj"])
        $("#exampleModal2").find('#recipient-cc-modal2').val(data["cc"])
        $("#exampleModal2").find('#recipient-cartao-modal2').val(data["cartao"])
        $("#exampleModal2").find('#recipient-valor-modal2').val(data["valor"])
        $("#exampleModal2").find('#recipient-descricao-modal2').val(data["descricao"])
        $("#exampleModal2").modal();

        });
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  			<div class="py-5 text-center">
			  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

			    <h2>Registro de custos todos</h2>
			    <p class="lead">Veja abaixo os registros de custos de todos os usuários</p>

			    <div class="form-group">
					<label for="datetimes" class="float-left">Filtro de datas:</label>
				    <input class="form-control" type="text" name="datetimes" id="datetimes" />
				</div>

			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			      <div class="alert alert-success"><%= message %></div>
			    <% } %>

			</div>


  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                	<th>ID</th>
                                	<th>Nome</th>
                                	<th>Telefone</th>
                                    <th>Data</th>
                                    <th>CNPJ</th>
                                    <th>CC</th>
                                    <th>Cartão</th>
                                    <th>Valor</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Inserir ordem</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="cliente">Cliente:</label>
	            <input type="text" class="form-control" id="recipient-cliente">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="cidade">Tipo ordem:</label>
	            <input type="text" class="form-control" id="recipient-cidade">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Estado:</label>
	            <input type="text" class="form-control" id="recipient-estado">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="goPython()">Inserir ordem</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Alterar despesa</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	          <div class="form-group">
	            <input type="hidden" class="form-control" id="recipient-id-modal2" name="id" required>
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Data:</label>
	            <input type="date" class="form-control" id="recipient-data-modal2" name="data" required>
	            <div class="invalid-feedback">
			        Data inválida.
			    </div>
	          </div>

	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Nome:</label>
	            <input type="text" class="form-control" id="recipient-nome-modal2" name="nome" required>
        		<div class="invalid-feedback">
			        Precisa descrever o cartão.
			    </div>
	          </div>

	          <div class="row">
          		<div class="col-md-6 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">CC:</label>
		            <select class="custom-select d-block w-100" id="recipient-cc-modal2" name='cc' required>
				        <option value="">Escolha...</option>
				    </select>
		            <div class="invalid-feedback">
				        Centro de custos inválido.
				    </div>
		          </div>
		      	</div>

		      	 <div class="col-md-6 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">CNPJ:</label>
		            <input type="text" class="form-control" id="recipient-cnpj-modal2" name="cnpj" required>
	        		<div class="invalid-feedback">
				        Precisa descrever o CNPJ.
				    </div>
		          </div>
		      </div>
		  	</div>

		  	<div class="row">
          		<div class="col-md-6 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Cartão:</label>
		            <input type="text" class="form-control" id="recipient-cartao-modal2" name="cartao" required>
	        		<div class="invalid-feedback">
				        Precisa descrever o cartão.
				    </div>
		          </div>
		      </div>

		          <div class="col-md-6 mb-3">
			          <div class="form-group">
			            <label for="message-text" class="col-form-label" name="estado">Valor:</label>
			            <input type="text" class="form-control" id="recipient-valor-modal2" name="valor" required>
		        		<div class="invalid-feedback">
					        Precisa escrever o valor.
					    </div>
			          </div>
			      </div>
			  </div>

	          <div class="form-group">
	            <label for="message-text" class="col-form-label" name="estado">Descreva a despesa:</label>
	            <input type="text" class="form-control" id="recipient-descricao-modal2" name="descricao" required>
        		<div class="invalid-feedback">
			        Precisa descrever a despesae.
			    </div>
	          </div>
	        
	      </div>
	      <div class="modal-footer">
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_line()">Apagar registro</button></div>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="btn btn-primary">Alterar registro</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		function delete_line() {
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/deleta_custo?origem=1&id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}
	</script>

	<%- include('components/daterange.ejs') -%>

	<%- include('layouts/end_scripts') -%>
			
</body>

</html>