<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>


<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.fixedHeader.min.js"></script>


    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_abastecimentos?ini='+ini+'&fim='+fim).load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {

    	var today = new Date();
    	
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var fim = dd + '/' + mm + '/' + yyyy;

		today.setDate(today.getDate()-31);
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var ini = dd + '/' + mm + '/' + yyyy;

    	var url = "/registro_projetos";

    	// Setup - add a text input to each footer cell
	    $('#example thead tr').clone(true).appendTo( '#example thead' );
	    $('#example thead tr:eq(1) th').each( function (i) {
	        var title = $(this).text();
	        $(this).html( '<input type="text" style="width: 100%" placeholder="Filtrar"/>' );
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        } );
	    } );
    	

        $('#example').DataTable( {
            ajax: {
	        url: '/registro_abastecimentos?ini='+ini+'&fim='+fim,
	        dataSrc: ''
		    },
		    "columnDefs":[{
		    	"targets":0,
		    	"visivle": false
		    }],
	        "columns": [
	        	{ "data": "id" },
	        	{ "data": "nome" },
	        	{ "data": "valor" },
	        	{ "data": "cnpj", "width": "15%" },
	            { "data": "cc" },
	            { "data": "data", "width": "8%" },
	            { "data": "cartao" },
	            { "data": "placa" },
	            { "data": "litros" },
	            { "data": "km" },
	            { "data": "status" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"top"B><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                { extend: 'copy', text: 'Copiar' }, 'csv', 'excel', { extend: 'print', text: 'Imprimir' }
            ]/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );


        var table = $('#example').DataTable();


        $('#example tbody').on('click', 'tr', function () {
	        var data = table.row( this ).data();

	        $.ajax({
                type: 'post',
                url: "/get_img_url_abastecimentos?id="+data["id"],
                async: false,
                success: function (response) {
                    $('#nota_img').attr('src', response[0]['caminho_imagem']);
                    $('#nota_img').attr('alt', response[0]['caminho_imagem']);
                }
            })

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#exampleModal2")
	        $("#exampleModal2").find('.modal-title').text('Alterar registro de abastecimento')
	        $("#exampleModal2").find('#recipient-id-modal2').val(data["id"])
	        $("#exampleModal2").find('#recipient-valor-modal2').val(data["valor"])
	        $("#exampleModal2").find('#recipient-cnpj-modal2').val(data["cnpj"])
	        $("#exampleModal2").find('#recipient-cc-modal2').val(data["cc"])
	        $("#exampleModal2").find('#recipient-data-modal2').val(data["data"])
	        $("#exampleModal2").find('#recipient-cartao-modal2').val(data["cartao"])
	        $("#exampleModal2").find('#recipient-placa-modal2').val(data["placa"])
	        $("#exampleModal2").find('#recipient-litros-modal2').val(data["litros"])
	        $("#exampleModal2").find('#recipient-km-modal2').val(data["km"])
	        $("#exampleModal2").find('#recipient-telefone-modal2').val(data["numero_telefone"])
	        $("#exampleModal2").find('#recipient-status-modal2').val(data["status"])
	        $("#exampleModal2").find('#recipient-descricao-modal2').val(data["descricao"])

	        if(data["cartao"] == null || data["nome"] == null)
	        {
	        	$("#exampleModal2").find('#recipient-descricao_aethos-modal2').val('')
	        }
	        else
	        {	        	
		        var nome_completo = data["nome"];
		        var nome_separado = nome_completo.split(' ');
		        var placa = data["placa"];

		        var nome_sobrenome = nome_separado[0] +' '+ nome_separado[nome_separado.length - 1];
		        /*if(data["descricao"] != null)
		        {
		        	var descricao = data["cartao"]+' | '+nome_sobrenome+' | '+data["descricao"];
		        }
		        else
		        {*/
		        	var descricao = data["cartao"]+' | '+nome_sobrenome+' | '+placa;
		        //}

		        $("#exampleModal2").find('#recipient-descricao_aethos-modal2').val(descricao)
	        }

	        $("#exampleModal2").modal();
        });
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  			<div class="py-5 text-center">
			  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

			    <h2>Registro de abastecimentos</h2>
			    <p class="lead">Veja abaixo os registros de abastecimentos.</p>


			    <div class="form-group">
					<label for="datetimes" class="float-left">Filtro de datas:</label>
				    <input class="form-control" type="text" name="datetimes" id="datetimes" />
				</div>

			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			      <div class="alert alert-success"><%= message %></div>
			    <% } %>

			</div>


  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                	<th>ID</th>
                                    <th>Nome</th>
                                	<th>Valor</th>
                                	<th>CNPJ</th>
                                    <th>CC</th>
                                    <th>Data</th>
                                    <th>Cartão</th>
                                    <th>Placa</th>
                                    <th>Litros</th>
                                    <th>km</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Alterar abastecimento</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" id="alteraRegistro" action="/update_despesa" method="post" novalidate>
	        	<div class="row">
		          	<div class="col-md-2 mb-3">
			          <div class="form-group">
			            <label for="recipient-name" class="col-form-label">ID:</label>
			            <input type="text" class="form-control" id="recipient-id-modal2" name="id" required readonly="readonly">
			          </div>
		          		
		          	</div>

	        		<div class="col-md-5 mb-3">
			        	<div class="form-group">
				            <label for="recipient-name" class="col-form-label">Valor:</label>
				            <input type="text" class="form-control" id="recipient-valor-modal2" name="valor" required readonly="readonly">
			       		</div>
			       	</div>

		          	<div class="col-md-5 mb-3">
			          <div class="form-group">
			            <label for="message-text" class="col-form-label" name="estado">CNPJ:</label>
			            <input type="text" class="form-control" id="recipient-cnpj-modal2" name="cnpj" required readonly="readonly">
		        		<div class="invalid-feedback">
					        Precisa informar o CNPJ.
					    </div>
			          </div>
		          	</div>
		        	
	        	</div>


	          <div class="row">


	          	<div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Data:</label>
		            <input type="text" class="form-control" id="recipient-data-modal2" name="data" required readonly="readonly">
		            <div class="invalid-feedback">
				        Data inválida.
				    </div>
		          </div>
	          		
	          	</div>

	          	<div class="col-md-3 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">CC:</label>
		            <input type="text" class="form-control" id="recipient-cc-modal2" name='cc' required readonly="readonly">
		            <div class="invalid-feedback">
				        Centro de custos inválido.
				    </div>
		          </div>
	          		
	          	</div>

	          	<div class="col-md-5 mb-3">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Status:</label>
		            <input type="text" class="form-control" id="recipient-status-modal2" name="status" required readonly="readonly">
		          </div>
		          		
		        </div>


	          </div>

	          <div class="row">
	          	<div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Cartão:</label>
		            <input type="text" class="form-control" id="recipient-cartao-modal2" name="cartao" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar o cartão.
				    </div>
		          </div>

	          	</div>
		          <div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Placa:</label>
		            <input type="text" class="form-control" id="recipient-placa-modal2" name="placa" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar a placa.
				    </div>
		          </div>
	          	</div>

	          	<div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Litros:</label>
		            <input type="text" class="form-control" id="recipient-litros-modal2" name="litros" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa fornecer a quantidade de litros.
				    </div>
		          </div>
	          	</div>

	          	<div class="col-md-3 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">km:</label>
		            <input class="form-control" id="recipient-km-modal2" name="km" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa fornecer a quilometragem.
				    </div>
		          </div>
	          	</div>
	          	<div class="col-md-9 mb-3">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Aethos:</label>
		            <textarea class="form-control" id="recipient-descricao_aethos-modal2" name="descricao_aethos" required readonly="readonly"></textarea>
		          </div>
		        </div>
	          </div>

	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="modal_foto()">Ver imagem</button>
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="modal_lancar()">Lançar</button>
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="modal_erro()">Reportar Erro</button></div>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_lancar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Lançar despesa</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente lançar o registro?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="lancar_abastecimento()">Sim</button>
	        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_erro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Reportar Erro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
      	  <div class="col-md-9 mb-3">
	        <div class="form-group">
            	<label for="message-text" class="col-form-label" name="estado">Observações (opcional):</label>
	            <textarea class="form-control" id="recipient-observacoes-modal2" name="observacoes" placeholder="" required></textarea>
	        </div>
          </div>	      
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente reportar um erro?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="erro_abastecimento()">Sim</button>
	        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_foto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Foto do registro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<img id="nota_img" src="" alt="nota" class="img-fluid">
	      </div>
	      </form>
	    </div>
	  </div>
	</div>



	<script type="text/javascript">
		function volta(){
			$('#exampleModal2').modal('show');
		}

		function modal_foto(){
			$('#modal_foto').modal('toggle');
			$('.modal').css('overflow-y', 'auto');
		}


		function modal_erro(){
			$('#modal_erro').modal('show');
		}


		function modal_lancar(){
			$('#modal_lancar').modal('show');
		}

		function lancar_abastecimento(){
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/lancar_abastecimento?id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });

		}

		function erro_abastecimento(){
			id = $("#recipient-id-modal2").val();
			observacoes = $("#recipient-observacoes-modal2").val();

			$.ajax({
                type: 'post',
                url: "/erro_abastecimento?id="+id+"&observacoes="+observacoes,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                document.getElementById('recipient-observacoes-modal2').value='';
                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}

		function delete_line() {
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/deleta_custo?origem=1&id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}
	</script>


	<%- include('components/daterange.ejs') -%>

	<%- include('layouts/end_scripts') -%>
			
</body>

</html>