<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') -%>

<body>
	<%- include('layouts/scripts') -%>
	<%- include('layouts/title') -%>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- DataTables Responsive CSS --> 
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Export button styles -->
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Script tables export buttons -->
    <script src="/vendor/datatables-plugins/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.flash.min.js"></script>
    <script src="/vendor/datatables-plugins/jszip.min.js"></script>
    <script src="/vendor/datatables-plugins/pdfmake.min.js"></script>
    <script src="/vendor/datatables-plugins/vfs_fonts.js"></script>
    <script src="/vendor/datatables-plugins/buttons.html5.min.js"></script>
    <script src="/vendor/datatables-plugins/buttons.print.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> -->

    <script type="text/javascript">
    	function atualiza_tabela () {

	    var table = $('#example').DataTable();
	    table.ajax.url('/registro_deslocamentos?ini='+ini+'&fim='+fim).load()
        table.ajax.reload();
		}

    </script>

	<script type="text/javascript" class="init">

    $(document).ready(function() {

    	var today = new Date();
    	
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var fim = dd + '/' + mm + '/' + yyyy;

		today.setDate(today.getDate()-60);
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		var ini = dd + '/' + mm + '/' + yyyy;

    	var url = "/registro_deslocamentos";
/*
    	$.getJSON(url, function (data) {
	        $.each(data, function (index, value) {
	            // APPEND OR INSERT DATA TO SELECT ELEMENT.
	            $('#recipient-cc-modal2').append('<option value="' + value.cc + '">' + value.cc + ' - ' + value.nome_obra + '</option>');
	            });
        });*/

        // Setup - add a text input to each footer cell
	    $('#example thead tr').clone(true).appendTo( '#example thead' );
	    $('#example thead tr:eq(1) th').each( function (i) {
	        var title = $(this).text();
	        $(this).html( '<input type="text" style="width: 100%" placeholder="Filtrar"/>' );
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        } );
	    } );


        $('#example').DataTable( {
            ajax: {
	        url: '/registro_deslocamentos?ini='+ini+'&fim='+fim,
	        dataSrc: ''
		    },
	        "columns": [
	        	{ "data": "id" },
	            { "data": "status" },
	        	{ "data": "nome" },
	        	{ "data": "inicial" },
	        	{ "data": "final" },
	        	{ "data": "deslocamento" },
	            { "data": "cc"},
	            { "data": "data" },
	            { "data": "placa" },
	            { "data": "descricao" }
	        ],
	        "order": [[ 0, "desc" ]],
            responsive: true,
            select: true,
            orderCellsTop: true,
            dom: '<"top"B><"left">t<"bottom"rlpi><"clear">',
            buttons: [
                { extend: 'copy', text: 'Copiar' }, 'csv', 'excel', { extend: 'print', text: 'Imprimir' }
            ]/*,
            columnDefs: [ {
		      targets: 0,
		      render: $.fn.dataTable.render.moment( 'ddd, D MMM YYYY H:m:s Z' )
		    } ]*/
        } );

        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
	        var data = table.row( this ).data();

	        setInterval( function () {
	            table.ajax.reload( null, false ); // user paging is not reset on reload
	        }, 30000 );

	        var modal = $("#exampleModal2")
	        $("#exampleModal2").find('.modal-title').text('Alterar registro de deslocamento')
	        $("#exampleModal2").find('#recipient-nome-modal2').val(data["nome"])
	        $("#exampleModal2").find('#recipient-telefone-modal2').val(data["numero_telefone"])
	        $("#exampleModal2").find('#recipient-id-modal2').val(data["id"])
	        $("#exampleModal2").find('#recipient-data-modal2').val(data["data"])
	        $("#exampleModal2").find('#recipient-cc-modal2').val(data["cc"])
	        $("#exampleModal2").find('#recipient-descricao-modal2').val(data["descricao"])
	        $("#exampleModal2").find('#recipient-cnpj-modal2').val(data["cnpj"])
	        $("#exampleModal2").find('#recipient-final-modal2').val(data["final"])
	        $("#exampleModal2").find('#recipient-placa-modal2').val(data["placa"])
	        $("#exampleModal2").find('#recipient-status-modal2').val(data["status"])
	        $("#exampleModal2").find('#recipient-inicial-modal2').val(data["inicial"])
	        $("#exampleModal2").find('#recipient-nome-modal2').val(data["nome"])
	        $("#exampleModal2").find('#recipient-status-modal2').val(data["status"])
	        $("#exampleModal2").modal();


	        $.ajax({

                type: 'post',
                url: "/get_img_url_deslocamentos?id="+data["id"],
                async: false,
                success: function (response) {
                    $('#nota_img').attr('src', response[0]['caminho_imagem']);

                    if (response[0]['caminho_imagem2']) {

                    	$('#nota_img2').attr('src', response[0]['caminho_imagem2']);
                    	$('#slide2').html(`
                    		<h5>KM final</h5>
					    	<p>Conforme registro do colaborador</p>
					    `);
                    }
                    else{

                    	$('#nota_img2').attr('src', 'PENDENTE.png');
                    	$('#slide2').html('');
                    }

                }
            })

        });
    } );

    </script>

	<div class="container-fluid">
  		<div class="row">
  			<%- include('layouts/side') -%>

  			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  			<div class="py-5 text-center">
			  <!--<img class="mb-4" src="/felipe/lm/logo_svg.svg" alt="" width="200" height="170"> -->

			    <h2>Registro de deslocamentos</h2>
			    <p class="lead">Veja abaixo os registros de deslocamentos.</p>

			    <div class="form-group">
					<label for="datetimes" class="float-left">Filtro de datas:</label>
				    <input class="form-control" type="text" name="datetimes" id="datetimes" />
				</div>

			    <!-- show any messages that come back with authentication -->
			    <% if (message.length > 0) { %>
			      <div class="alert alert-success"><%= message %></div>
			    <% } %>

			</div>


  				<div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                	<th>Id</th>
                                    <th>Status</th>
                                	<th>Nome</th>
                                	<th>Inicial</th>
                                	<th>Final</th>
                                	<th>Deslocamento</th>
                                    <th>CC</th>
                                    <th>Data</th>
                                    <th>Placa</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                        </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

	            </div>
	            <!-- /.row -->

			<footer class="my-5 pt-5 text-muted text-center text-small">
			    <p class="mb-1">&copy; 2020-2021 LMLogix Automação </p>
			</footer>


			</main>
  		</div>
  	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Alterar despesa</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_deslocamento" method="post" novalidate>
	        	<div class="row">
		          	<div class="col-md-2 mb-3">
			          <div class="form-group">
			            <label for="recipient-name" class="col-form-label">ID:</label>
			            <input type="text" class="form-control" id="recipient-id-modal2" name="id" required readonly="readonly">
			          </div>
		          		
		          	</div>

	        		<div class="col-md-4 mb-3">
			        	<div class="form-group">
				            <label for="recipient-name" class="col-form-label">Nome:</label>
				            <input type="text" class="form-control" id="recipient-nome-modal2" name="nome" required readonly="readonly">
			       		</div>
			       	</div>

			       	<div class="col-md-5 mb-3">
			        	<div class="form-group">
				            <label for="recipient-name" class="col-form-label">Telefone:</label>
				            <input type="text" class="form-control" id="recipient-telefone-modal2" name="telefone" required readonly="readonly"> 
			       		</div>
			       	</div>
		        	
	        	</div>


	          <div class="row">


	          	<div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Data:</label>
		            <input type="text" class="form-control" id="recipient-data-modal2" name="data" required readonly="readonly">
		            <div class="invalid-feedback">
				        Data inválida.
				    </div>
		          </div>
	          		
	          	</div>

	          	<div class="col-md-3 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Inicial:</label>
		            <input type="text" class="form-control" id="recipient-inicial-modal2" name='cc' required readonly="readonly">
		            <div class="invalid-feedback">
				        Centro de custos inválido.
				    </div>
		          </div>
	          		
	          	</div>

	          	<div class="col-md-3 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Final:</label>
		            <input type="text" class="form-control" id="recipient-final-modal2" name="km" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar a quilometragem.
				    </div>
		          </div>
	          		
	          	</div>
	          </div>

	          <div class="row">
	          	<div class="col-md-5 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">CNPJ:</label>
		            <input type="text" class="form-control" id="recipient-cnpj-modal2" name="cnpj" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar o CNPJ.
				    </div>
		          </div>
	          	</div>

	          	<div class="col-md-4 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Placa:</label>
		            <input type="text" class="form-control" id="recipient-placa-modal2" name="placa" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar a placa.
				    </div>
		          </div>
	          	</div>

	          	<div class="col-md-2 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">CC:</label>
		            <input type="text" class="form-control" id="recipient-cc-modal2" name="tipo" required readonly="readonly">
	        		<div class="invalid-feedback">
				        Precisa informar o CNPJ.
				    </div>
		          </div>
	          	</div>
	          </div>

	          <div class="row">
	          	<div class="col-md-7 mb-3">
		          <div class="form-group">
		            <label for="message-text" class="col-form-label" name="estado">Descrição:</label>
		            <textarea class="form-control" id="recipient-descricao-modal2" name="descricao" required readonly="readonly"></textarea>
	        		<div class="invalid-feedback">
				        Precisa fornecer uma descrição.
				    </div>
		          </div>

	          	</div>
	          	<div class="col-md-5 mb-3">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Status:</label>
		            <input type="text" class="form-control" id="recipient-status-modal2" name="status" required readonly="readonly">
		          </div>
		          		
		        </div>
	          </div>

	          <div class="row">
	          </div>
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="modal_foto()">Ver imagem</button>
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="modal_lancar()">Lançar</button>
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="modal_erro()">Reportar Erro</button></div>


	        <!--<button type="button" class="btn btn-success" data-dismiss="modal" onclick="lancar_deslocamento()">Lançar</button>
	        <button type="submit" class="btn btn-primary">Alterar</button>
	      	<div class="float-left"><button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_line()">Apagar</button></div>-->
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_alterar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered " role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Alterar registro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente alterar o registro?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="$('#alteraRegistro').submit()">Sim</button>
	        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_lancar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Lançar registro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente lançar o registro?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="lancar_deslocamento()">Sim</button>
	        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_erro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Reportar Erro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
    	  <div class="col-md-9 mb-3">
	        <div class="form-group">
            	<label for="message-text" class="col-form-label" name="estado">Observações (opcional):</label>
	            <textarea class="form-control" id="recipient-observacoes-modal2" name="observacoes" placeholder="" required></textarea>
	        </div>
          </div>	      
	      <div class="modal-body">
	        <form class="needs-validation" action="/update_despesa" method="post" novalidate>
	        	<p>Deseja realmente reportar um erro?</p>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="erro_deslocamento()">Sim</button>
	        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="volta()">Voltar</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal_foto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Foto do registro</h5>
	        <button type="button" class="close" onclick="volta()" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">



				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				  </ol>
				  <div id="slide" class="carousel-inner">
				    <div class="carousel-item active">
				      <img id="nota_img" class="d-block w-100" src="Isabela_3032021_1615554145.458.png" alt="First slide">
				      <div class="carousel-caption d-none d-md-block">
					    <h5>KM inicial</h5>
					    <p>Conforme registro do colaborador</p>
					  </div>
				    </div>
				    <div class="carousel-item">
				      <img id="nota_img2" class="d-block w-100" src="" alt="Second slide">
				      <div id="slide2" class="carousel-caption d-none d-md-block">
					    
					  </div>
				    </div>
				    
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>







	        <!--	<img id="nota_img" src="" alt="nota" class="img-fluid">    -->
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">

		function volta(){
			$('#exampleModal2').modal('show');
		}
		
		function modal_foto(){
			$('#modal_foto').modal('toggle');
			$('.modal').css('overflow-y', 'auto');
		}


		function modal_erro(){
			$('#modal_erro').modal('show');
		}


		function modal_lancar(){
			$('#modal_lancar').modal('show');
		}

		function lancar_deslocamento(){
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/lancar_deslocamento?id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });

		}

		function erro_deslocamento(){
			id = $("#recipient-id-modal2").val();
			observacoes = $("#recipient-observacoes-modal2").val();

			$.ajax({
                type: 'post',
                url: "/erro_deslocamento?id="+id+"&observacoes="+observacoes,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                document.getElementById('recipient-observacoes-modal2').value='';
                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}

		function delete_line() {
			id = $("#recipient-id-modal2").val();

			$.ajax({
                type: 'post',
                url: "/deleta_deslocamento?id="+id,
                async: false,
                success: function (response) {
                    console.log(response);
                }
            }).done(function (data) {
                console.log(data);

                var table = $('#example').DataTable();
            	table.ajax.reload();
            });
		}
	</script>

	

	<%- include('layouts/end_scripts') -%>
<%- include('components/daterange.ejs') -%>
			
</body>

</html>