<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Felipe - LMLogix">
  <title>LMLogix - SARR (Sistema Automático de Registro e Reporte)</title>

  <link rel="canonical" href="https://getbootstrap.com/bower_components/bootstrap/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Favicons -->
<!--   <link rel="apple-touch-icon" href="/felipe/assets/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/felipe/assets/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/felipe/assets/favicon-16x16.png" sizes="16x16" type="image/png"> -->
  <!-- <link rel="manifest" href="/felipe/assets/manifest.json"> -->
  <!-- <link rel="mask-icon" href="/felipe/assets/safari-pinned-tab.svg" color="#563d7c"> -->
  <link rel="icon" href="/felipe/lm/logo.png">
  <!-- <meta name="msapplication-config" content="/felipe/assets/browserconfig.xml"> -->
  <meta name="theme-color" content="#563d7c">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="felipe/dashboard.css" rel="stylesheet">
</head>