<script src="/bower_components/jquery/dist/jquery.js"></script>

<script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.slim.min.js"><\/script>')</script>

<script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

<link href="/felipe/form-validation.css" rel="stylesheet">

<script src="/felipe/form-validation.js"></script></body>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />