
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item" id='ponto'>
        <a class="nav-link" href="/ponto">
          <span data-feather="file"></span>
          Registro de atividade
        </a>
      </li>
      <li class="nav-item" id='ver_ponto'>
        <a class="nav-link" href="/ver_ponto">
          <span data-feather="layers"></span>
          Ver atividades
        </a>
      </li>
      <li class="nav-item" id='aprovacao'>
        <a class="nav-link" href="/aprovacao">
          <span data-feather="check-square"></span>
          Aprovações
        </a>
      </li>
      <li class="nav-item" id='ver_custos'>
        <a class="nav-link" href="/ver_custos">
          <span data-feather="shopping-bag"></span>
          Ver custos
        </a>
      </li>
      <li class="nav-item" id='ver_atividades_todos'>
        <a class="nav-link" href="/ver_atividades_todos">
          <span data-feather="users"></span>
          Ver atividades todos
        </a>
      </li>
      <li class="nav-item" id='ver_custos_todos'>
        <a class="nav-link" href="/ver_custos_todos">
          <span data-feather="shopping-cart"></span>
          Ver custos todos
        </a>
      </li>
      <li class="nav-item" id='cadastro_projeto'>
        <a class="nav-link" href="/cadastro_projeto">
          <span data-feather="bar-chart-2"></span>
          Cadastro de projeto
        </a>
      </li>

      <li class="nav-item" id='editar_permissoes'>
        <a class="nav-link" href="/editar_permissoes">
          <span data-feather="shield"></span>
          Editar permissões
        </a>
      </li>
      <li class="nav-item" id='editar_acesso_paginas'>
        <a class="nav-link" href="/editar_acesso_paginas">
          <span data-feather="lock"></span>
          Editar acesso páginas
        </a>
      </li>
      <li class="nav-item" id='cadastro_veiculo'>
        <a class="nav-link" href="/cadastro_veiculo">
          <span data-feather="navigation-2"></span>
          Veículos
        </a>
      </li>
      <li class="nav-item" id='ver_deslocamento' >
        <a class="nav-link" href="/ver_deslocamento">
          <span data-feather="map"></span>
          Ver deslocamentos
        </a>
      </li>
      <li class="nav-item" id='ver_abastecimentos' >
        <a class="nav-link" href="/ver_abastecimentos">
          <span data-feather="truck"></span>
          Ver abastecimentos
        </a>
      </li>
      <li class="nav-item" id='cadastro_compras' >
        <a class="nav-link" href="/cadastro_compras">
          <span data-feather="dollar-sign"></span>
          Compras
        </a>
      </li>
      <li class="nav-item" id='chartjs' >
        <a class="nav-link" href="/grafico">
          <span data-feather="bar-chart"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item" id='base' >
        <a class="nav-link" href="/base">
          <span data-feather="home"></span>
          Base
        </a>
      </li>             
      <li class="nav-item" id='power_monitor_base' >
        <a class="nav-link" href="/power_monitor_base">
          <span data-feather="activity"></span>
          Power Monitor
        </a>
      </li>
      <li class="nav-item" id='controle_log_bot' >
        <a class="nav-link" href="/controle_log_bot">
          <span data-feather="command"></span>
          Log Telegram
        </a>
      </li>
      <li class="nav-item" id='log_relatorio' >
        <a class="nav-link" href="/log_relatorio">
          <span data-feather="clipboard"></span>
          Log Relatório
        </a>
      </li>           
    </ul>

  </div>
</nav>

<script>
  $("#aprovacao").hide();
  //$("#ver_custos").hide();
  $("#ver_atividades_todos").hide();
  $("#ver_custos_todos").hide();
  $("#cadastro_projeto").hide();
  $("#editar_permissoes").hide();
  $("#editar_acesso_paginas").hide();
  $("#cadastro_veiculo").hide();
  $("#ver_deslocamento").hide();
  $("#ver_abastecimentos").hide();
  $("#cadastro_compras").hide();
  $("#base").hide();
  $("#power_monitor_base").hide();
  $("#controle_log_bot").hide();
  $("#log_relatorio").hide();

  $.ajax({
    type: 'post',
    url: '/permissao_paginas',
        success: function(response) {
            for(var i = 0; i < response.length; i++)
            {
              var id = '#' + response[i]["nome_pagina"];
              $(id).show();
            }
        }
  });
</script>

