<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/chart.js/dist/Chart.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>
<script src="/bower_components/chartjs-plugin-streaming/dist/chartjs-plugin-streaming.min.js"></script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Gráfico tempo real</h1>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <button id="resetZoom", class="btn btn-primary btn-lg btn-block">Reset zoom</button>

</main>


<script type="text/javascript">

var chartColors = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
  };

  var corrente_l1 = [];
  var corrente_l2 = [];
  var corrente_l3 = [];

  function randomScalingFactor() {
  return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
  }

  var data_corrente_l1 = 0;
  var data_corrente_l2 = 0;
  var data_corrente_l3 = 0;

  function updateData(data) {

  //Preenxe corrente_l1
  data_corrente_l1 = data[0].corrente_l1;
  data_corrente_l2 = data[0].corrente_l2;
  data_corrente_l3 = data[0].corrente_l3;

  }

  function getData() {

  //Preenxe corrente_l1
  corrente_l1.push({
  x: Date.now(),
  y: data_corrente_l1
  });

  //Preenxe corrente_l2
  corrente_l2.push({
  x: Date.now(),
  y: data_corrente_l2
  });

  //Preenxe corrente_l3
  corrente_l3.push({
  x: Date.now(),
  y: data_corrente_l3
  });

  }

  function onRefresh(chart) {
    
   $.getJSON('/power_monitor',updateData);
   getData();

  }

  var color = Chart.helpers.color;

  var config = {
  type: 'line',
  data: {
  datasets: [{

  label: 'Corrente L1 (A)',
  backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
  borderColor: chartColors.red,
  fill: false,
  cubicInterpolationMode: 'monotone',
  data: corrente_l1

  }, {

  label: 'Corrente L2 (A)',
  backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
  borderColor: chartColors.blue,
  fill: false,
  cubicInterpolationMode: 'monotone',
  data: corrente_l2

  }, {

  label: 'Corrente L3 (A)',
  backgroundColor: color(chartColors.green).alpha(0.5).rgbString(),
  borderColor: chartColors.green,
  fill: false,
  cubicInterpolationMode: 'monotone',
  data: corrente_l3

  }]
  },

  options: {
  title: {
  display: true,
  text: 'Gráfico de corrente consumida'
  },

  scales: {
  xAxes: [{
  type: 'realtime',
  realtime: {
  duration: 20000,
  refresh: 1000,
  delay: 2000,
  onRefresh: onRefresh
  }
  }],

  yAxes: [{
  type: 'linear',
  display: true,
  scaleLabel: {
  display: true,
  labelString: 'Corrente Amperes'
  }
  }]
  },

  tooltips: {
  mode: 'nearest',
  intersect: false
  },

  hover: {
  mode: 'nearest',
  intersect: false
  },

  pan: {
  enabled: true,
  mode: 'x',
  rangeMax: {
  x: 4000
  },
  rangeMin: {
  x: 0
  }
  },

  zoom: {
  enabled: true,
  mode: 'x',
  rangeMax: {
  x: 20000
  },
  rangeMin: {
  x: 1000
  }
  }
  }
  };

  window.onload = function() {
  var ctx = document.getElementById('myChart').getContext('2d');
  window.myChart = new Chart(ctx, config);
  };

  var colorNames = Object.keys(chartColors);

  document.getElementById('resetZoom').addEventListener('click', function() {
  window.myChart.resetZoom();
  });

</script>